@mixin transition-property($elem) {
  -webkit-transition-property: $elem; /* Safari */
          transition-property: $elem;
}
@mixin transition-duration($elem) {
  -webkit-transition-duration: $elem; /* Safari */
          transition-duration: $elem;
}
@mixin transition-timing-function($elem) {
  -webkit-transition-timing-function: $elem; /* Safari and Chrome */
  transition-timing-function: $elem;
}
@mixin opacity($num) {
  opacity: $num;
  filter: alpha(opacity=$num); /* For IE8 and earlier */
}
