@import "bootstrap/functions";
@import "variables";
@import "partial/footer";
@import "partial/nav-bar";
@import "partial/home";  
@import "partial/experimentar";
@import "partial/experimentar-p2";
@import "partial/experimentar-p4";
@import "partial/resumo-do-pedido";
@import "partial/acompanhamento-pedido.scss";

// Importar carrinho de compras
@import "partial/carrinho-de-compra";

// Importar avaliacao
@import "partial/avaliacao";


// Página Produtos Interna

p{
  color:#484848;
}

// importar produtos
@import "partial/produtos";
/*CSS Meus Pedidos*/

.box-descritivo-geral{
  margin-top: 5%;
  border:1px solid #bebebe;
  .row{
    border-bottom:1px solid #bebebe;
  }
  .row:last-child{
    border-bottom:0px;
  }
  h2{
    font-weight: 700;
    span{
      font-weight: 400;
    }
  }
  p{
    margin-bottom: 5px;
  }
  a{
    font-size:0.6em;
  }
  .detalhe-descritivo-geral{
    margin:25px 0px;
    border-right:1px solid #bebebe;
    .vendido{
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 0px;
    }
    .referencia, .quantidade, .data, .valor{
      font-size: 12px;
      p{
        margin-bottom: 0px;
      }
    }
    h4{
      font-weight: 700;
    }
  }
  .detalhe-descritivo-geral:last-child{
    border-right:0px;
  }
}

.margem-5{
  margin-top:10px;
}
.margem-10{
  margin-top:30px;
}
.margem-20{
  margin-top:60px;
}

.margem-bottom-10{
  margin-bottom:30px;
}

select.form-control:not([size]):not([multiple]){
  height:2em;
}

// inicio css cadastro
.cadastro-geral{
  margin-top: 40px;
  padding-bottom: 80px;
}

.area-login{
  border:1px solid #bebebe;
  margin-top: 40px;
  margin-bottom:40px;
}

.container-cadastro-geral{
  width:100%;
  border:0px solid #bebebe;
  padding:15px;
  background: #dedede;
  .box-endereco-editar{
    border: 1px solid $gray-500;
    padding: 20px;
    position: absolute;
    background-color: white;
    top: 55px;
    left: 0;
  }
  .excluir{
    a{
      font-weight: normal !important;
      text-decoration: underline !important;
      color: $primary !important;
    }
  }
  &.active{
    background-color:#fff;
    border:1px solid #bebebe;
  }
  label{
    font-size:.85em;
  }
  a, h2{
    color:#6a6a6a;
    text-decoration: none;
    font-weight: 700;
    position:relative;
    font-size: 1em;
    :after{
      content:'';
      background-image:url('/static/img/arrow.png');
      display:block;
      position:absolute;
      top:0;
      right:0;
      width:20px;
      height:20px;
      background-size:contain;
      background-repeat:no-repeat;
      background-position: center;
    }
  }
  span{
    font-size:0.75em;
    margin-top: 0px;
    a, p{
    padding-left: 0px;
    color:#d9782d;
    }
  }
  .form-check{
    label{
      font-weight: 700;
    }
  }
  .margem-10{
    margin-top:30px;
  }
  .margem-5{
    margin-top:15px;
  }
  &.senha{
    background-color: #fff;
    :after{
      content:'';
      background-image:none;
      display:block;
      position:absolute;
      top:0;
      right:0;
      width:20px;
      height:20px;
      background-size:contain;
      background-repeat:no-repeat;
      background-position: center;
    }
  }
  &.alteracao-dados{
    background-color: #fff;
    padding:25px;
    margin-top:30px;
    a, h2{
      color:#6a6a6a;
      text-decoration: none;
      font-weight: 700;
      position:relative;
      margin-bottom: 50px;
      :after{
        content:'';
        background-image:url('/static/img/icon-meus-dados.png');
        display:block;
        position:absolute;
        top:-45px;
        left:100px;
        width:54px;
        height:68px;
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
      }
    }
  }
  &.add-endereco{
    background-color: #fff;
    padding:25px;
    margin-top:30px;
    position: relative;
    a, h2{
      color:#6a6a6a;
      text-decoration: none;
      font-weight: 700;
      position:relative;
      font-size: 1em;
      :after{
        content:'';
        background-image:url('/static/img/icon-meus-enderecos.png');
        display:block;
        position:absolute;
        top:-45px;
        left:125px;
        width:54px;
        height:68px;
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
        }
      }
    }
  }

.box-endereco{
  border:1px solid #bebebe;
  padding:20px;
  .nome-endereco{
    float:left;
    h2{
      float:left;
    }
  }
  .nao-sei-cep span a{
    color: $primary;
    text-decoration: underline;
    font-size: 14px;
    font-weight: normal; 
  }
  .icon-lixeira{
    a, h2{
      :after{
        content:'';
        background-image:none!important;
      }
    }
  }
  .icon-edicao{
    a, h2{
      :after{
        content:'';
        background-image:none!important;
      }
    }
  }
  .endereco{
    margin-top:10px;
  }
}

.box-add-endereco{

}

.btn-add-endereco{
  height: 100%;
  background-color:#eaeaea;
  border:0px;
  padding: 10px;
  width: 100%;
  h3{
    font-size:3.5em;
    color:#a8a8a8;
    margin-bottom:0px;
    line-height: .9;
  }
  p{
    font-weight: 700;
    color:#6a6a6a;
  }
  button{
    width: 100%;
  }
}

.recuperar-senha{
  p{font-size: .7em;}
  a{
    color: $primary;
    text-decoration: underline;
  }
}

// final css cadastro
  .row.banner-img-fluid{
    background-image: url('/static/img/img-banner.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    .content-descontos{
      width: 100%;
      max-width: 600px;
      height:360px;
      max-height:600px;
      margin:0px auto;
      font-size: 12em;
      .box-ate{
        color:#fff;
        font-size:20%;
        width:10%;
        height: 100%;
        float: left;
        position:relative;
        text-align: right;
        padding-top: 38px;
      }
      .box-50{
        width:100%;
        color:#fff;
        font-size:130%;
        font-weight:700;
        position:relative;
        margin-top: -40px;
      }
      .box-desconto{
        color:#fff;
        font-size: 27%;
        position: relative;
        margin-top: -110px;
      }
    }

  }

  // Barra de progresso

.barra-progresso{
  padding: 10px;
  margin-top: 10%;
  margin-bottom: 5%;
  position: relative;
  p{
    position: absolute;
    top: 0;
    text-align: center;
    &:nth-child(2){
      margin-top: -60px;
      left: 0;
      margin-left: 21px;
      @media(max-width: 575px){
        font-size: 14px;
        margin-left: -13px;
      }
      @media(min-width: 576px) and (max-width: 768px){
        margin-top: -56px;
        font-size: 14px;
        margin-left: -10px;
      }
      @media(min-width: 769px) and (max-width: 992px){
        margin-left: 21px;
      }
    }
    &:nth-child(3){
      left: 25%;
      margin-top: -60px;
      margin-left: -20px;
      @media(max-width: 575px){
        font-size: 14px;
        margin-left: -30px;
      }
      @media(min-width: 576px) and (max-width: 768px){
        margin-top: -56px;
        font-size: 14px;
        margin-left: -10px;
      }
    }
    &:nth-child(4){
      left: 50%;
      margin-top: -60px;
      margin-left: -65px;
      @media(max-width: 575px){
        font-size: 14px;
        margin-top: -80px;
        margin-left: -30px;
      }
      @media(min-width: 576px) and (max-width: 768px){
        margin-top: -75px;
        font-size: 14px;
        margin-left: -28px;
      }
      @media(min-width: 769px) and (max-width: 992px){
        margin-top: -83px;
        margin-left: -41px;
      }
      @media(min-width: 993px) and (max-width: 1199px){
        margin-left: -52px;
      }
    }
    &:nth-child(5){
      left: 75%;
      margin-top: -61px;
      margin-left: -135px;
      @media(max-width: 575px){
        font-size: 14px;
        margin-top: -113px;
        margin-left: -50px;
        line-height: 19px;
      }
      @media(min-width: 576px) and (max-width: 768px){
        margin-top: -118px;
        margin-left: -50px;
        font-size: 14px;
      }
      @media(min-width: 769px) and (max-width: 992px){
        margin-left: -88px;
        margin-top: -84px;
      }
      @media(min-width: 993px) and (max-width: 1199px){
        margin-left: -118px;
        margin-top: -84px;
      }
    }
    &:nth-child(6){
      left: 100%;
      margin-top: -60px;
      margin-left: -150px;
      @media(max-width: 480px){
        font-size: 14px;
        margin-left: -70px;
        margin-top: -56px;
      }
      @media(min-width: 481px) and (max-width: 575px){
        margin-left: -88px;
        font-size: 14px;
      }
      @media(min-width: 576px) and (max-width: 768px){
        margin-left: -66px;
        font-size: 14px;
      }
      @media(min-width: 769px) and (max-width: 992px){
        margin-left: -104px;
      }
    }
  }
}
@media(max-width: 767px){
  .barra-progresso{
    margin-top: 40%;
  }
}
@media(min-width: 769px) and (max-width: 992px){
  .barra-progresso{
    margin-top: 15%;
  }
}
.bullet-progress {
  position: relative;
}

.bullet-progress-pedidos{
  width: 25px;
  height: 25px;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  left: 81%;
  background-color: #bebebe;
  p{
    margin-left: -12px;
    margin-top: -55px;
    font-size: 16px;
  }
  &:nth-child(2){
    left: 15%;
    background-color: #D9772D;
    p{
      margin-left: -15px;
    }
    @media(max-width: 414px){
      left: 7%;
    }
  }
  &:nth-child(3){
    left: 31%;
    background-color: #D9772D;
    p{
      margin-left: -20px;
    }
    @media(max-width: 414px){
      left: 26%;
    }
  }
  &:nth-child(4){
    left: 47%;
    p{
      width: 100px;
      margin-left: -20px;
    }
    @media(max-width: 414px){
      left: 46%;
      p{
        width: 68px;
      }
    }
  }
  &:nth-child(5){
    left: 64%;
    p{
      width: 145px;
      margin-left: -44px;
    }
    @media(max-width: 414px){
      left: 66%;
      p{
        width: 73px;
        margin-left: -17px;
        margin-top: -76px;
      }
    }
  }
  @media(max-width: 414px){
    left: 86%;
  }
}
@media(max-width: 414px){
  .bullet-progress-pedidos{
    p{
      font-size: 13px;
    }
  }
}

.bullet-progress .progress-bar {
  background-color: #bebebe;
  border-radius: 2px;
}

.bullet-progress .progress-bar .progress {
  background-color: #bebebe;
  width: 0%;
  height: 5px;
  border-radius: 2px;
  -webkit-transition: width ease-in-out .1s;
}

.bullet-progress a {
  position: absolute;
  display: inline-block;
  top: -8px; left: 0;
  margin-left: -10px;

  width: 20px; height: 20px;
  background: #bebebe;
  border-radius: 50%;
}

.bullet-progress a.active {
  background: #d9782d;
}

/*Confirmação de compra*/
.banner-confirmacao-compra{
  width:100%;
  height:400px;
  background-image:url('/static/img/banner-confirmacao-compra.jpg');
  background-size:cover;
}
.box-confirmacao-compra{
  padding: 70px;
  a{
    text-decoration:none;
    font-weight:700;
  }
}

.box-modelo{
  margin-top: auto;
  margin-bottom: auto;
}

.margem-imagem{
  margin-top:10px;
  margin-bottom:10px;
}

/*Confirmação de compra*/

// Recuperar senha

.recuperar-senha{
  // padding:50px;
  h2{
    color:#d1731d;
    font-size:1em;
    font-weight: 700;
  }
  .borda-cinza{
    border:1px solid #d3d1d1;
  }
}

@media (max-width: 768px) {
.box-descritivo-geral{
  // margin:10px;
  border:0px;
  .row{
    border-bottom:0px;
  }
    .detalhe-descritivo-geral{
      margin:5px 0px;
      border-right:0px;
      border-bottom:1px solid #bebebe;
    }
  }

  .content-descontos{
    max-width:140px!important;
    font-size:3em!important;
    height:auto!important;
    .box-ate {
        color: #fff;
        font-size: 20%;
        width: 10%;
        height: 100%;
        float: left;
        position: relative;
        text-align: right;
        padding-top: 17px!important;
        margin-bottom: 90px;
    }
    .box-50{
      margin-top:0px!important;
    }
    .box-desconto {
    color: #fff;
    font-size: 25%;
    position: relative;
    margin-top: -21px!important;
    }
  }

  .row.banner-img-fluid{
    background-image: url('/static/img/img-banner.png');
    background-size:100%;
    background-repeat:no-repeat;
    .tipo-1{
      color:#fff;
      font-size:1em;
      text-align: left;
      padding-top: 0px;
    }
    .tipo-2{
      color:#fff;
      font-size:1em;
      font-weight:700;
      padding-top:0px;
    }
    .tipo-3{
      color:#fff;
      font-size:1em;
      padding-left:5px;
    }
  }


.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.phone {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}

.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
  }
}

.breadcrumb{
  font-size: 1em;
}

.confirmar-senha{
  margin-top: -9px;
  line-height: 17px;
}

.check-comunicados{
  font-size: .8em !important;
}
.carousel-indicators{
      bottom: -10px;
}

.carousel-indicators .active{
  background-color: rgb(68, 68, 68);
}
.carousel-indicators li{
  background-color: rgb(197, 197, 197);
}
//pagina formulario-cadastro
.nao-sei-cep p a{

  text-decoration: underline;
}
