@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import "bootstrap/functions";
@import "variables";
@import "hover/hover";
@import "mixin";

// preloader
.preloader{
  position: absolute;
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $body-bg;
  -webkit-transition:all linear 0.5s;
 transition:all linear 0.5s;
 &.ng-hide {
  opacity:0;
  /* transform: scale(0.8); */
  }
}
.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .cs-loader-inner {
    transform: translateY(150px);
    top: 150px;
    position: absolute;
    width: 100%;
    color: $primary !important;
    padding: 0 100px;
    text-align: center;
    label {
      font-size: 20px;
      opacity: 0;
      display:inline-block;
      color: $primary !important;
    }
  }
}
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
// preloader
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}
   input[type=number] {
   -moz-appearance: textfield;
   appearance: textfield;
   margin: 0;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}
   input[type=date] {
   -moz-appearance: textfield;
   appearance: textfield;
   margin: 0;
}

html{
  // background-color: $primary;
}
body{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color:#6a6a6a;
  height: auto !important;
  padding-top: 70px;
}
a{
  color:#d9782d;
  text-decoration: underline;
}
label{
  color:#6a6a6a;
}
.breadcrumb{
  font-size: 0.8em;
  padding-left: 0;
  margin-top: 40px;
  .active{
    font-weight: 700;
  }
  li a{
    color:#6a6a6a;
  }
}

button{
.btn-block{
  background-color:#d9782d !important;
  color:#fff
}
}

// Icons
@charset "UTF-8";


@font-face {
  font-family: "ibikeicons";
  src:url("/static/img/icons/ibikeicons2.eot");
  src:url("/static/img/icons/ibikeicons2.eot?#iefix") format("embedded-opentype"),
    url("/static/img/icons/ibikeicons2.woff") format("woff"),
    url("/static/img/icons/ibikeicons2.ttf") format("truetype"),
    url("/static/img/icons/ibikeicons2.svg#ibikeicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ibikeicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ibikeicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-lupa:before {
  content: "\61";
}
.icon-shopping-cart:before {
  content: "\62";
}
.icon-youtube:before {
  content: "\63";
}
.icon-twitter:before {
  content: "\64";
}
.icon-instagram:before {
  content: "\65";
}
.icon-facebook:before {
  content: "\66";
}
.icon-fechar:before {
  content: "\67";
}
.icon-star:before {
  content: "\68";
}
.icon-chevron-down:before {
  content: "\69";
}
.icon-chevron-right:before {
  content: "\6a";
}
.icon-seta-lado:before {
  content: "\6b";
}
.icon-seta-baixo:before {
  content: "\6c";
}



// ==================
//      COMPONENTS
@import "partial/nav-bar";
// === botão do logo
button.brand{
  @include shrink();
  display: block;
  background-image: url('/static/img/logo.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-indent: -99999px;
  &:hover, &:active, &:focus, &:not([disabled]):not(.disabled):active{
    background-color: transparent !important;
    border: 0 solid transparent !important;
    background-image: url('/static/img/logo.png');
  }
}

.modal-ibike{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // visibility: hidden;
  @include transition-property(all);
  @include transition-duration('1s');
  &.ng-hide{
    opacity: 0;
  }
  opacity: 1;
  .content{
    .icon-fechar{
      position: absolute;
      top: 0;
      right: 0;
      color: $primary;
      right: 30px;
      top: 30px;
      cursor: pointer;
    }
    background-color: $body-bg;
    width: 80%;
    height: 50%;
    margin: 10%;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 40px;
  }
  .bg-close{
    background-color: $gray-900;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  &.active{
    visibility: visible;
  }
}
