
<div class="userLogin">
    <p>Olá, <a href="#!/cadastro" ><md-tooltip md-direction="top">
              Veja seu perfil
            </md-tooltip>{{$ctrl.hero.firstname}}</a></p>
            <md-icon md-font-icon="icon-shopping-cart" aria-label="carrinho"
               ng-click="$ctrl.clicked($location.path( '/cadastro' ))">
            </md-icon>
</div>
