<form action="" name="navBusca" autocomplete="on">
  <div id="navBuscaGroup" class="navBuscaGroup align-middle" >
    <label>O que você procura?</label>
    <md-icon md-font-icon="icon-lupa" aria-label="busca"
       ng-click="$ctrl.clicked()">
    </md-icon>
    <input type="text" name="buscaValue" ng-focus="$ctrl.focused()" ng-blur="$ctrl.blurred()" >
  </div>
</form>
