<div class="menu-colapse-bg " ng-click="$ctrl.ativarMenuColp()" ng-class="$ctrl.ativoMenuColp ? '': 'active'"></div>
<div class="header-toolbar">
      <div layout="row" layout-padding flex layout-align="space-between stretch" class=" header-inner" >
        <!-- Logo -->
        <div layout="column" layout-align="center center">
          <button url="#oi" ng-click="$ctrl.alterarPg('/')" class="brand btn btn-light">ibike</button>
        </div>

        <!-- Nav Bar -->
        <div layout="column" layout-align="center center">
          <div layout="row" layout-align="space-between center" layout-fill class="menu-bar">
            <span class="link-copy" ng-style="$ctrl.style"></span>
              <div ng-repeat="itemMenu in $ctrl.menu" class="menu-item">
                <button  class="btn btn-light" ng-click="$ctrl.alterarPg(itemMenu.url)" ng-mouseover="$ctrl.mouseOver($event)">{{itemMenu.titulo}}</button>
              </div>
          </div>
        </div>

        <div class="busca " flex="10" layout="column" layout-align="center center">
          <ib-nav-busca class="align-middle"></ib-nav-busca>
        </div>

        <!-- Colapse  -->
          <a class="btnHamb" ng-click="$ctrl.ativarMenuColp()" ng-class="$ctrl.ativoMenuColp ? '': 'active'">
            <span></span>
          </a>

        <div class="menu-colapse" ng-class="$ctrl.ativoMenuColp ? '': 'active'">

          <ul class="menu-item">
            <li>
              <div class="busca" flex="10" layout="column" layout-align="center center">
              <ib-nav-busca id="busca2" class="align-middle "></ib-nav-busca>
            </div>
          </li>
            <li  ng-repeat="itemMenu in $ctrl.menu">
              <button  class="btn btn-light" ng-click="$ctrl.alterarPg(itemMenu.url)" ng-mouseover="$ctrl.mouseOver($event)">{{itemMenu.titulo}}</button>
            </li>
          </ul>
        </div>
        <!-- Colapse  -->


        <div class="carrinho" layout="column" layout-align="center center"  >
          <ib-login-bar hero="$ctrl.cliente"  class="login-bar align-middle" layout="column" layout-align="center center" ></ib-login-bar>
        </div>

      </div>

      <md-progress-linear md-mode="indeterminate" ng-class=" $ctrl.preloader ? '' : 'off'"></md-progress-linear>

    </div> <!-- row -->
</div>
