/* Underline From Left */
@mixin underline-from-left {
	$duration: $mediumDuration;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		// left: 0;
		right: 100%;
		bottom: 0;
		background: $activeColor;
		height: 2px;
		width: 100%;
		transition: right $duration;


	}

	&.in {
		&:before {
				right: 0;
		}
	}
	&.outR{
		&:before {
				right: -100%
		}
	}
	&.outL{
		&:before {
				right: 100%
		}
	}
}
