/* Underline From Right */
@mixin underline-from-right {
	$duration: $mediumDuration;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 100%;
		right: 0;
		bottom: 0;
		background: $activeColor;
		height: 4px;
		width: 100%;
		animation-name: underlineRight;
		animation-duration: $duration;
		-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
		animation-fill-mode: forwards;
	}

	&.in {

		&:before {

		}
	}
	&.out{
		&:before {
			animation-name: underlineRightOut;
	    animation-duration: $duration;
			-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	    animation-fill-mode: forwards;
		}
	}
}
@keyframes underlineRight {
    from {left: 100%;}
    to {left: 0;}
}
@keyframes underlineRightOut {
    from {right: 0;}
    to {right: 100%;}
}
