<div  ng-app="iBikeSite" ng-controller="acessorioInternaController">
  <!-- preloader -->
  <div class="container-fluid produtos-caracteristicas" >
    <div class="row no-gutters">
      <!-- inicio fotos produtos -->
      <div class="col-lg-7">
        <div id="carouselProdutosIndicadores" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselProdutosIndicadores" data-slide-to="0" class="active"></li>
            <li data-target="#carouselProdutosIndicadores" data-slide-to="1"></li>
            <li data-target="#carouselProdutosIndicadores" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid mx-auto" src="/static/img/thumb-capacete.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid mx-auto" src="/static/img/thumb-capacete.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid mx-auto" src="/static/img/thumb-bike.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="javascript:void(0)" data-target="#carouselProdutosIndicadores" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="javascript:void(0)" data-target="#carouselProdutosIndicadores" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- final fotos produtos -->
      <div class="col-lg-4">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3><strong>Capacete urbano</strong></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <h3>
                R$ 178,00<br>
                ou <span style="color:#d9782d; font-weight:700;">R$99,00</span>
              </h3>
              <p class="pagamento-itau">para pagamentos com <img src="static/img/itaucard-logo.png" alt="" class="img-responsive itau-logo"></p>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12">
              <p style="margin-bottom:0px;"><strong>Tamanho:</strong></p>
              <div class="box-tamanho-produto">
                <div class="tamanho-produto">
                  <button type="button" class="btn btn-primary btn-block">P</button>
                </div>
                <div class="tamanho-produto">
                  <button type="button" class="btn btn-primary btn-block">M</button>
                </div>
                <div class="tamanho-produto">
                  <button type="button" class="btn btn-primary btn-block">G</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row margem-5">
            <div class="col-12">
              <p style="margin-bottom:0px;"><strong>Cor:</strong></p>
              <div class="box-cor-produto">
                <a href="#"><div class="box-cor cor-cinza"></div></a>
              </div>
              <div class="box-cor-produto">
                <a href="#"><div class="box-cor cor-azul"></div></a>
              </div>
              <div class="box-cor-produto">
                <a href="#"><div class="box-cor cor-laranja"></div></a>
              </div>
            </div>
          </div> -->
          <div class="row margem-10">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
              <button type="button" class="btn btn-primary btn-block">comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- inicio box foto produto e avaliacao -->
  <div class="container-fluid produtos-caracteristicas">
    <div class="row no-gutters">
      <!-- Inicio box caracteristicas do produto -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="container">
          <div class="row">
            <div class="col-8 offset-3 margem-10">
              <h2><strong>Loren bike ipsum II</strong></h2>
            </div>
          </div>
          <!-- inicio icone caracteristicas do produto -->
          <div class="row margem-10">
            <div class="col-4 col-sm-2 col-md-2 offset-md-1 col-lg-2 offset-lg-1">
              <img class="img-fluid" src="/static/img/media-icon.png" alt="">
            </div>
            <div class="col-8 col-sm-10 col-md-8 col-lg-8">
              <p class="align-middle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <!-- final icone caracteristicas do produto -->
          <!-- inicio icone caracteristicas do produto -->
          <div class="row">
            <div class="col-4 col-sm-2 col-md-2 offset-md-1 col-lg-2 offset-lg-1">
              <img class="img-fluid" src="/static/img/material-icon.png" alt="">
            </div>
            <div class="col-8 col-sm-10 col-md-8 col-lg-8">
              <p class="align-middle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <!-- final icone caracteristicas do produto -->
          <!-- inicio icone caracteristicas do produto -->
          <div class="row">
            <div class="col-4 col-sm-2 col-md-2 offset-md-1 col-lg-2 offset-lg-1">
              <img class="img-fluid" src="/static/img/pneu-icon.png" alt="">
            </div>
            <div class="col-8 col-sm-10 col-md-8 col-lg-8">
              <p class="align-middle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <!-- final icone caracteristicas do produto -->
          <!-- inicio icone caracteristicas do produto -->
          <div class="row">
            <div class="col-4 col-sm-2 col-md-2 offset-md-1 col-lg-2 offset-lg-1">
              <img class="img-fluid" src="/static/img/marcha-icon.png" alt="">
            </div>
            <div class="col-8 col-sm-10 col-md-8 col-lg-8">
              <p class="align-middle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <!-- final icone caracteristicas do produto -->
        </div>
      </div>
      <!-- Final box caracteristicas do produto -->

      <!-- inicio avaliacao -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 avaliacao">
        <div class="container">
          <div class="row margem-10">
            <div class="col-8 offset-2">
              <h2><strong>Avaliações</strong></h2>
            </div>
          </div>
          <!-- inicio nota -->
          <div class="row margem-5">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Excelente</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentualAcessorio(5)"></div>
            </div>
          </div>
          <!-- final nota -->
          <!-- inicio nota -->
          <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Ótimo</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentualAcessorio(4)"></div>
            </div>
          </div>
          <!-- final nota -->
          <!-- inicio nota -->
          <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Bom</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentualAcessorio(3)"></div>
            </div>
          </div>
          <!-- final nota -->
          <!-- inicio nota -->
          <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Razoável</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentualAcessorio(2)"></div>
            </div>
          </div>
          <!-- final nota -->
          <!-- inicio nota -->
          <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Ruim</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentualAcessorio(1)"></div>
            </div>
          </div>
          <!-- final nota -->
          <!-- inicio nota -->
          <!-- <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Péssimo</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentualAcessorio(0)"></div>
            </div>
          </div> -->
          <!-- final nota -->
          <div class="row margem-5">
            <div class="col-7 offset-2">
              <h4><strong>Veja a opinião de quem pedalou por aqui</strong></h4>
            </div>
          </div>
        </div>
        <div class="divisor-sombra margem-10"></div>
        <div class="container">
          <div class="row">
            <div class="col-12" >
              <div class="box-comentarios-geral" >
                <div class="container-fluid">
                  <div class="row no-gutters comentarios-geral" ng-repeat="avaliacao in avaliacoes">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                      <div class="container">
                        <div class="row imagem-nome no-gutters">
                          <div class="col-3 col-sm-12 col-md-12 col-lg-12">
                            <img class="img-fluid img-circular" src="{{avaliacao.imagem}}" alt="{{avaliacao.nome}}">
                          </div>
                          <div class="col-6 col-sm-12 col-md-12 col-lg-12">
                            <div class="nome-avaliador">
                              <p><strong>Nome e sobrenome</strong></p>
                              <p>São Paulo - SP</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-8 col-md-8 col-lg-9">
                      <div class="container">
                        <div class="row">
                          <div class="col-12">
                            <div class="container">
                              <div class="row no-gutters">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                  <div ng-repeat="i in [1,2,3,4,5]">
                                    <div class="box-coracao" ng-if="(i <= avaliacao.estrelas)">
                                      <img src="/static/img/coracao-laranja.png" alt="avaliação nota 5">
                                    </div>


                                    <div class="box-coracao" ng-if="(i > avaliacao.estrelas)">
                                      <img src="/static/img/coracao-cinza.png" alt="avaliação nota 5">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                  <div class="data-avaliacao"><p>avaliou em: {{avaliacao.data| date:'dd/MM/yyyy'}}</p></div>
                                </div>
                                <div class="row margem-5">
                                  <div class="col-12 borda-comentario">
                                    <h4><strong>{{avaliacao.titulo}}</strong></h4>
                                    <p>
                                     {{avaliacao.descricao}}
                                   </p>
                                 </div>
                               </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="row margem-5">
                        <div class="col-12 borda-comentario">
                          <h4><strong>{{avaliacao.titulo}}</strong></h4>
                          <p>
                           {{avaliacao.descricao}}
                         </p>
                       </div>
                     </div> -->
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="divisor-sombra rotate180"></div>
     <div class="box-avaliar">
      <div class="container">
        <div class="row">
          <div class="col-12">
             <div class="box-botao-avaliar">
               <a href="#">Quero avaliar</a>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<!-- final box foto produto e avaliacao -->
</div>
