<div  ng-app="iBikeSite">
  <!-- preloader -->
  
  <!-- inicio container -->
  <div class="container-fluid acompanhamento-pedido">
    <div class="row banner-img-fluid"></div>
  </div>
  <!-- final container -->

<div class="container acompanhamento-pedido">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h3>Você está experimentando uma bicicleta no ibike</h3>
      <div class="separador"></div>

      <div class="row">
        <div class="col-sm-7 bike-foto">
          <h3>Bike loren ipsum</h3>
          <p>Especificações da bike loren ipsum dolor sit amet adispicing consectectur</p>
          <img class="img-fluid" src="/static/img/thumb-bike-2.png" alt="Modelo da Bike">
          <p class="politica"><button type="button" data-toggle="modal" data-target="#myModal">Politica de experimentação</button></p>
        </div>

          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Politica de Experimentação</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula auctor eleifend. Nulla pharetra interdum quam, vel varius urna consectetur eget. Donec mollis velit sapien, id rutrum erat bibendum a. Fusce dignissim dictum dolor eu sodales. Donec hendrerit commodo magna ut maximus. Proin a augue vel tortor vulputate cursus. Curabitur tincidunt arcu in dolor aliquet suscipit. Pellentesque ac accumsan metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>

              </div>
            </div>
          </div>

        <div class="col-sm-5" ng-controller="acompanhamentoPedido">
          <div class="box1" ng-repeat="item in itens">
            <p>Período de experimentação</p>
            <p><span class="data" ng-model="inicioData">{{item.inicioData}}</span> a <span class="data" ng-model="fimData">{{item.fimData}}</span></p>
            <p>Faltam</p>
            <!-- <p ng-model="dayDifference"></p> -->
            <p>00</p>
            <p>dias</p>
            <p>Quero devolver minha bicicleta</p>
            <p>Taxa de uso: R$ 100,00</p>
            <p>Frete para retirada: R$ 20,00</p>
            <div class="btn btn-primary btn-block">Devolver</div>
          </div>
          <div class="box2">
            <p>Quero comprar minha Bicicleta</p>
            <p>Valor de compra: R$ 1000,00</p>
            <div class="form-group row">
              <label for="exampleInputPassword1">Parcelar em</label>
              <div class="col-8">
                <select  class="form-control" id="exampleFormControlSelect1" ng-model="newUser.parcelas">
                  <option value="" disabled selected>Selecione</option>
                  <option value="">1</option>
                  <option value="visa">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                  <option value="">5</option>
                  <option value="">6</option>
                  <option value="">7</option>
                  <option value="">8</option>
                  <option value="">9</option>
                  <option value="">10</option>
                  <option value="">11</option>
                  <option value="">12</option>
                </select>
              </div>
            </div>
            <div class="btn btn-primary btn-block">Comprar</div>
          </div>
          <div class="box3">
            <p>Você tem até o dia 05/06/2018 para informar sua decisão. O cumprimento deste prazo é importante para que possamos agendar a retirada da bicicleta no dia 10/06/2018, caso você opte pela devolução.</p>
            <p>Os valores serão cobrados no cartão de crédito informado no ato da reserva</p>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>


</div>
