  <!-- inicio container -->
  <div  ng-app="iBikeSite">
    
    <!-- inicio breadcrumbs -->
    <div class="row">
      <div class="container">
      <div class="col-md-12">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active breadcrumb-meuspedidos" aria-current="Meus pedidos" >Recuperar senha</li>
            <li class="breadcrumb-item breadcrumb-meuspedidos" ><a href="#">voltar</a></li>
          </ol>
        </nav>
      </div>
      </div>
    </div>
    <!-- final breadcrumbs -->

  <div class="container cadastro-geral" ng-controller="alterarSenhaController">
    <form name="alterarSenhaForm" ng-submit="submeterAlterarSenha(alterarSenhaForm.$valid)" >
    <!-- inicio alterar senha -->
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="row">
          <div class="container-cadastro-geral senha active">
            <a href="#"><h2>Alterar minha senha</h2></a>
            <!-- inicio form -->
              <div class="form-group row margem-10">
                <label for="senha-input" class="col-4 col-form-label">Senha atual*</label>
                <div class="col-7">
                  <input class="form-control" type="password" value="" id="senha-input" ng-model="formData.senhaAtual"  required>
                </div>
              </div>
              <div class="form-group row">
                <label for="senhaNova" class="col-4 col-form-label">Nova senha*</label>
                <div class="col-7">
                  <input class="form-control" type="password" name="senhaNova" value="" id="senha-input" ng-model="formData.senha"  ng-change="validarTipoPassword(formData.senha)" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="confirmacao-senha-input" class="col-4 col-form-label">Confirmar senha*</label>
                <div class="col-7">
                  <input class="form-control" type="password" name="senhaNovaConfirmacao" value="" id="confirmacao-senha-input" ng-model="formData.senha1"  required>

                </div>
              </div>
                <div class="alert alert-info" ng-show="forcaSenha < 3">
                  A senha deve ser (Maiúscula, minúsculas e numeros com no no mínimo 8 caracteres)
                  </div>
             <div class="alert alert-primary"  ng-show="formData.senha != formData.senha1">
             Senhas não são iguais
            </div>

              <div ng-show="forcaSenha >= 3">
              <div class="form-group row">
                  <div class="col-7 offset-4">
                    <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
                  </div>
                </div>
              </div>
            <!-- final form -->
          </div>
        </div>
      </div>
    </div>

    <!-- Confirmation Dialog -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {{mensagem_modal}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
    <!-- End of Confirmation Dialog -->

    <!-- final alterar senha -->
  </form>
  </div>
</div>
  <!-- final container -->
