<!-- inicio container -->
<div  ng-app="iBikeSite" ng-init="opcao=0">
  <!-- preloader -->
  
  <div class="container geral-avaliacao">
    <div class="row">
      <div class="col-12">
          <h2>Faça sua avaliação e ajude outras pessoas a encontrar sua bike certa!</h2>
      </div>
    </div>
    <div class="row margem-10">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 offset-sm-0 col-md-6 offset-md-0 col-lg-3 offset-lg-2 bike-avaliada">
            <img class="img-fluid" src="/static/img/thumb-bike.png" alt="">
            <p>Bike Loren</p>
            <span>188 avaliações</span>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="container conteudo-avaliacao" ng-hide="mudar">
              <div class="row">
                <div class="col-12">
                  <div class="container container-avaliacao-btn">
                    <div class="row">
                      <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                        <button class="btn btn-avaliacao"  ng-class="opcao==5?'active':''" ng-click="opcao=5">&nbsp;</button>
                        <p>Ruim</p>
                      </div>
                      <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                        <button class="btn btn-avaliacao"  ng-class="opcao==4?'active':''" ng-click="opcao=4">&nbsp;</button>
                        <p>Razoável</p>
                      </div>
                      <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                        <button class="btn btn-avaliacao"  ng-class="opcao==3?'active':''" ng-click="opcao=3">&nbsp;</button>
                        <p>Bom</p>
                      </div>
                      <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                        <button class="btn btn-avaliacao" ng-class="opcao==2?'active':''" ng-click="opcao=2">&nbsp;</button>
                        <p>Ótimo</p>
                      </div>
                      <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                        <button class="btn btn-avaliacao" ng-class="opcao==1?'active':''" ng-click="opcao=1">&nbsp;</button>
                        <p>Excelente</p>
                      </div>
                      <!-- <div class="col-4 col-sm-4 col-md-4 col-lg-2">
                        <button class="btn btn-avaliacao">&nbsp;</button>
                        <p>Péssima</p>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row margem-5">
                <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                  <div class="form-group">
                  <textarea class="form-control" id="exampleTextarea" rows="6"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 offset-0 col-sm-12 col-md-12 col-lg-3 offset-lg-7">
                  <div class="btn btn-primary btn-block" ng-click="opcao!=0 ? mudar=true : ''">
                    Enviar
                  </div>
                </div>
              </div>
            </div>
            <div class="agradecimento" style="padding-top: 80px;"  ng-show="mudar">
              <h2>Obrigado pela avaliação.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
