<div ng-controller="ctrlBikeCerta">
  <!-- preloader -->
  <!-- <div class="preloader" ng-hide="preloader">
    <div class="cs-loader">
    <div class="cs-loader-inner">
      <label>	●</label>
      <label>	●</label>
      <label>	●</label>
      <label>	●</label>
      <label>	●</label>
      <label>	●</label>
    </div>
  </div>
  </div> -->
  <div class="col-12 experimentar bike-certa">
    <div class="row">
      <div class="col-sm infos bike-certa-box1">
        <p><span>Nos preocupamos com a qualidade da sua pedalada e queremos te ajudar a escolher a melhor bicicleta para seu estilo de vida.</span></p>
        <p>Ainda tem dúvida?
        <br/><a href >Fale conosco!</a></p>
      </div>
      <div class="col-sm-2 offset-sm-1">
        <div id="group1" class="group active">
          <p><strong>1. Qual a sua idade?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="quem" id="" value="18 a 24" ng-model="estatistica.idade">

              18 a 24
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="quem" id="" value="25 a 45" ng-model="estatistica.idade">
              25 a 45
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="quem" id="" value="45+" ng-model="estatistica.idade">
              45+
            </label>
          </div>
        </div>
        <div  id="group2" class="group" ng-class="estatistica.idade?'active':''">
          <p><strong>2. Qual seu gênero?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="sexo" id="" value="feminino" ng-model="estatistica.genero">
              Feminino
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="sexo" id="" value="masculino" ng-model="estatistica.genero">
              Masculino
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="sexo" id="" value="outros"  ng-model="estatistica.genero">
              Outros
            </label>
          </div>
        </div>
        <div id="group3" class="group" ng-class="estatistica.genero?'active':''">
          <p><strong>3. Qual sua altura?</strong></p>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="1,65m" id="" name="tamanho" ng-model="searchFilters">
              	Até 1,65m
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="1,65m e 1,80m" id="" name="tamanho" ng-model="searchFilters">
              Entre 1,65m e 1,80m
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="1,81m" id="" name="tamanho" ng-model="searchFilters">
              Acima de 1,81m
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="group" ng-class="searchFilters.length?'active':''">
          <p><strong>4. O quanto a bicicleta já faz parte da sua vida?</strong></p>
          <div class="row no-gutters">
            <div class="col"><small>Pedalo<br/>com frequência</small></div>
            <div class="col" style="text-align: right;"><small>Praticamente<br/>não pedalo</small></div>
          </div>
          <md-slider flex   class="md-primary" ng-model="r4" step="1" min="1" max="5" aria-label="rating" ng-change="Gandalf()">
          </md-slider>
          <!-- <div class="form-check" ng-change="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="1" id="" name="r4" ng-model=" r4">
              	Pedalo com frequência
            </label>
          </div>
          <div class="form-check" ng-change="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="0.5" id="" name="r4" ng-model=" r4">
              	Resposta 2
            </label>
          </div>
          <div class="form-check" ng-change="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="0" id="" name="r4" ng-model=" r4">
              	Resposta 3
            </label>
          </div>
          <div class="form-check" ng-change="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="-0.5" id="" name="r4" ng-model=" r4">
              	Resposta 4
            </label>
          </div>
          <div class="form-check" ng-change="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="-1" id="" name="r4" ng-model=" r4">
              	Eu praticamente não pedalo
            </label>
          </div> -->
        </div>
        <div class="group" ng-class="r4?'active':''">
          <p><strong>5. Como pretende curtir sua bike?</strong></p>
          <div class="row  no-gutters">
            <div class="col-8"><small>Como meio<br/>de transporte </small></div>
            <div class="col-4" style="text-align: right;"><small>Para<br/>lazer</small></div>
          </div>
          <md-slider flex   class="md-primary" ng-model="r5" step="1" min="1" max="5" aria-label="rating" ng-change="Gandalf()">
          </md-slider>
          <!-- <div class="form-check" ng-change="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r5" id="" value="1" ng-model=" r5">
              		Como meio de transporte
            </label>
          </div>
          <div class="form-check" ng-change="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r5" id="" value="0.5" ng-model=" r5">
              		Resposta 2
          </div>
          <div class="form-check" ng-change="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r5" id="" value="0" ng-model=" r5">
              		Resposta 3
          </div>
          <div class="form-check" ng-change="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r5" id="" value="-0.5" ng-model=" r5">
              		Resposta 4
          </div>
          <div class="form-check" ng-change="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r5" id="" value="-1" ng-model=" r5">
              	Para lazer
            </label>
          </div> -->
        </div>
      </div>
      <div class="col-sm-3">

        <div class="group" ng-class="r5?'active':''">
          <p><strong>6. Qual opção se aproxima mais do seu estilo?</strong></p>
          <div class="row  no-gutters">
            <div class="col"><small>Hipster</small></div>
            <div class="col" style="text-align: right;"><small>Engomadinho</small></div>
          </div>
          <md-slider flex   class="md-primary" ng-model="r6" step="1" min="1" max="5" aria-label="rating" ng-change="Gandalf()">
          </md-slider>
          <!-- <div class="form-check" ng-click="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r6a" id="" value="1" ng-model=" r6a">
              		 Hipster
            </label>
          </div>
          <div class="form-check" ng-click="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r6a" id="" value="0.5" ng-model=" r6a">
              		 2
            </label>
          </div>
          <div class="form-check" ng-click="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r6a" id="" value="0" ng-model=" r6a">
              		 3
            </label>
          </div>
          <div class="form-check" ng-click="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r6a" id="" value="-0.5" ng-model=" r6a">
              		 4
            </label>
          </div>
          <div class="form-check" ng-click="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r6a" id="" value="-1" ng-model=" r6a">
              	Prático
            </label>
          </div> -->
        </div>
        <div class="group" ng-class="r6?'active':''">
          <p><strong>7. Qual opção se aproxima mais do seu perfil?</strong></p>
          <div class="row  no-gutters">
            <div class="col"><small>Aventureiro</small></div>
            <div class="col" style="text-align: right;"><small>Prático</small></div>
          </div>
          <md-slider flex   class="md-primary" ng-model="r7" step="1" min="1" max="5" aria-label="rating" ng-change="Gandalf()">
          </md-slider>
          <!-- <div class="form-check" ng-click="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r6b" id="" value="1" ng-model=" r6b">
              		 Aventureiro
            </label>
          </div>
          <div class="form-check" ng-click="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r6b" id="" value="0.5" ng-model=" r6b">
              		 2
            </label>
          </div>
          <div class="form-check" ng-click="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r6b" id="" value="0" ng-model=" r6b">
              		 3
            </label>
          </div>
          <div class="form-check" ng-click="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r6b" id="" value="-0.5" ng-model=" r6b">
              		 4
            </label>
          </div>
          <div class="form-check" ng-click="Gandalf()">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="r6b" id="" value="-1" ng-model=" r6b">
              	Engomadinho
            </label>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="gridBikes">
    <div class="col">
      <!-- ng-repeat=" item in filtered = (items | filter:searchFilters)  |
                 limitTo:6 " -->
      <div class="item" ng-animate=" 'animate' "
      ng-repeat=" item in items | filter: searchFilters | orderBy: 'valorOrdenar' |
                 limitTo:6 "
          ng-class="
          $index == 0 ? 'gh1' : ($index <= 2 ? 'gh2': ($index > 2 ? 'gh3': '' )) "
          style="background-image:url('{{item.img}}');"
           >
          <a href="#"></a>
            <div class="content">
              {{item.name}}
              <!-- {{filtered.length}}
              {{filtered.indexOf(item)}} -->
              <!-- <div class="pontos"><md-icon md-font-icon="icon-star" aria-label="star">
              </md-icon>5</div> -->
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
