  <div  ng-app="iBikeSite">
    <!-- preloader -->
  
  <div class="container" ng-controller="meusDadosController">
    <!-- inicio breadcrumbs -->
    <div class="row">
      <div class="col-md-11 offset-lg-1" style="padding-left: 25px;">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="Meus pedidos" >Meus dados</li>
            <li class="breadcrumb-item" ><a href="#">voltar</a></li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- final breadcrumbs -->

    <!-- inicio cadastro geral -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-1">

        <div class="row">
          <div class="container-cadastro-geral alteracao-dados" >
            <a><h2>Meus dados</h2></a>
            <!-- inicio form -->
               <form name="alterarForm" ng-submit="submeterAlterarUsuario(alterarForm.$valid)" >
            <div class="form-group row margem-10">
              <label for="nome_input" class="col-3 col-form-label">Nome*</label>
              <div class="col-9">
                <input class="form-control" type="text" value="" id="nome_input" ng-model="formData.nome" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="sobrenome_input" class="col-3 col-form-label">Sobrenome*</label>
              <div class="col-9">
                <input class="form-control" type="text" value="" id="sobrenome_input" ng-model="formData.sobrenome" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="email_input" class="col-3 col-form-label">Email*</label>
              <div class="col-9">
                <input class="form-control" type="email" placeholder="email@exemplo.com" id="email_input" ng-model="formData.email" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="data-nascimento_input" class="col-4 col-form-label">Data de nascimento*</label>
              <div class="col-8">
                <input class="form-control" type="date"  placeholder="11/11/1111" id="data-nascimento_input" ng-model="formData.data_nascimento" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="genero_input" class="col-3 col-form-label">Gênero*</label>
              <div class="col-9">
                <select class="form-control" id="genero_select" ng-model="formData.genero" required>
                  <option value=""></option>
                  <option>Feminino</option>
                  <option>Masculino</option>
                  <option>Outro</option>
                </select>
                <!-- <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="sexo" id="" value="feminino" ng-model="searchFilters.sexo">
                  Feminino
                </label>
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="sexo" id="" value="masculino" checked ng-model="searchFilters.sexo">
                  Masculino
                </label> -->
              </div>
            </div>
            <div class="form-group row">
              <label for="cpf_input" class="col-3 col-form-label">CPF*</label>
              <div class="col-9">
                <input class="form-control" type="text" value="" id="cpf_input" ng-model="formData.cpf" mask="999.999.999-99" placeholder="xxx.xxx.xxx-xx" pattern=".{14}" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="celular_input" class="col-3 col-form-label">Celular*</label>
              <div class="col-9">
                <input class="form-control" type="tel"  ng-model="formData.celular" mask="(99) 9-9999-9999" placeholder="(XX) 9-0000-0000"  id="celular_input" minlength="16" maxlength="16"  pattern=".{16}"  required>
              </div>
            </div>
            <div class="form-group row">
              <label for="senha_input" class="col-3 col-form-label">Senha*</label>
              <div class="col-9">
                <input class="form-control" type="password" value="" id="senha_input"  ng-model="formData.senha" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="confirmacao-senha_input" class="col-3 col-form-label confirmar-senha">Confirmar Senha*</label>
              <div class="col-9">
                <input class="form-control" type="password" value="" id="confirmacao-senha_input" ng-model="formData.senha1" required>
              </div>
            </div>
          <div class="alert alert-danger" ng-show="NotSenhasIguais">
           Senhas não são iguais
          </div>

          <div class="form-group row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 offset-lg-3">
              <button type="submit" class="btn btn-primary btn-block margem-5">Alterar dados</button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 offset-lg-1">
              <button type="submit" class="btn btn-primary btn-block margem-5">Alterar senha</button>
            </div>
          </div>
          <div class="row excluir">
            <div class="col-12 col-sm-9 offset-sm-3 text-center">
              <a href ng-click="modalExcluir=true">Excluir o meu cadastro</a>
            </div>
          </div>
        </form>
            <!-- final form -->
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="container-cadastro-geral add-endereco">
              <h2><a>Meus endereços</a></h2>
              <div class="row margem-10 no-gutters">
                <div class="col-sm-8 col-md-8 col-lg-8 box-endereco" ng-repeat="endereco in enderecos">
                  <div class="row">

                    <div class="container" >
                      <div class="row" >
                        <div class="col-12">
                          <div class="container" >
                            <div class="row">
                              <h2 class="nome-endereco col-9">{{endereco.titulo}}</h2>
                              <div class="icon-edicao col-1"><a href ng-click="editarEndereco(enderecos.indexOf(endereco))"><img src="/static/img/icon-edit.png" alt=""></a></div>
                              <div class="icon-lixeira col-1"><a href ng-click="excluirEndereco(enderecos.indexOf(endereco))"><img src="/static/img/icon-lixeira.png" alt=""></a></div>
                            </div>
                            <div class="row">
                              <div class="col-12 endereco">
                                <p>{{endereco.rua}}, {{endereco.numero}} {{endereco.complemento}} - {{endereco.cidade}} - CEP - {{endereco.cep}} - {{endereco.estado}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="box-add-endereco col-sm-2 col-md-4 col-lg-4">
                  <button type="button" name="button" class="btn-add-endereco">
                    <h3>+</h3>
                    <p>Novo endereço</p>
                  </button>
                </div> -->
                <div class="col-sm-8 col-md-8 col-lg-8 box-endereco-editar cadastro" ng-show="boxCadastro">
                    <h2>Editar endereço</h2>
                    <form ng-model="newUser" name="signUpForm">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Nome</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="" ng-model="novoend.titulo" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Rua</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="" ng-model="novoend.rua" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Bairro</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="" ng-model="novoend.bairro" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Estado</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="" ng-model="novoend.estado" required>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">CEP</label>
                            <input type="text" class="form-control" id="cartaoNome" mask="99999-999" aria-describedby="" ng-model="novoend.CEP"  ng-keyup="checarCEP(novoend.CEP)" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Número</label>
                            <input type="text" class="form-control" id="numero_input" aria-describedby="" ng-model="novoend.numero" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Cidade</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="" ng-model="novoend.cidade" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Complemento</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="" ng-model="novoend.complemento">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Observacoes</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="" ng-model="novoend.observacoes">
                          </div>
                          <button class="btn btn-primary btn-block" ng-click="salvarEndereco()">Salvar</button>
                          <button class="btn btn-primary btn-block" ng-click="boxCadastro=false">Cancelar</button>
                        </div>
                      </div>

                    </form>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {{mensagem_modal}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

  </div>

    <!-- final cadastro geral -->
    <!-- modal -->
    <div class="modal-ibike" ng-show="modalExcluir">

      <div class="content text-center">
        <md-icon md-font-icon="icon-fechar" aria-label="fechar"
           ng-click="modalExcluir=false" >
        </md-icon>
        <h1 style="margin-top:40px;">Você tem certeza que deseja excluir o seu cadastro?</h1>
        <div class="container">
          <div class="row " style="margin-top:40px;">
            <div class="col-6 offset-sm-3 col-sm-3">
              <div class="btn btn-primary btn-block">
                Não
              </div>
            </div>
            <div class="col-6  col-sm-3 ">
              <div class="btn btn-primary btn-block">
                Sim
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-close" ng-click="modalExcluir=false">

      </div>
    </div>
  </div>
</div>
  <!-- final container -->
