  <div  ng-app="iBikeSite">
    <!-- preloader -->
    
  <div class="container cadastro-geral" ng-controller="CadastroController">
    <!-- inicio cadastro geral -->
    <div class="row">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4" ng-controller="VisibilidadeController">
        <div class="row">
          <div class="container-cadastro-geral active" id='abaJatenho' >
            <a href="javascript:void(0)" ng-click="checkClick('C')"><h2>Já tenho cadastro</h2></a>
           <div ng-show="IsCadastro">
            <ib-cadastrado></ib-cadastrado>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="container-cadastro-geral " id='abaNaotenho'>
            <a href="javascript:void(0)" ng-click="checkClick('N')"><h2>Quero me cadastrar</h2></a>
            <!-- inicio form -->
            <div ng-show="IsCadastrar">
            <ib-cadastrar></ib-cadastrar>
            </div>
            <!-- final form -->
          </div>
        </div>
      </div>
    </div>
    <!-- final cadastro geral -->

  </div>
</div>
  <!-- final container -->
