<!-- inicio container -->
<div  ng-app="iBikeSite">

  </div>
  <div class="container carrinho-de-compra" ng-controller="CarrinhoComprasController">
    <div class="row no-gutters">
      <div class="col-12">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="Meus pedidos" >Carrinho</li>
            <li class="breadcrumb-item" ><a href="#">resumo da compra</a></li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="container table-responsive">
          <table class="table">
            <tbody>
              <tr class="row esconder-desktop">
               <th class="col-12 col-sm-12 col-md-4 col-lg-6"></th>
               <th class="col-12 col-sm-12 col-md-4 col-lg-3">Preço com <span class="logo-itaucard"><img class="img-fluid" src="/static/img/itaucard-logo.png" alt="Itaucard"></span></th>
               <th class="col-12 col-sm-12 col-md-4 col-lg-3">Preço com outros cartões</th>
             </tr>
              <!-- Inicio linha produto -->
              <div class="container" ng-hide="produtos.length">
                <div class="row">
                  <div class="col-12 alert alert-primary">
                    Nenhum produto no carrinho.
                  </div>
                </div>
              </div>
              <tr class="row" ng-repeat="produto in produtos">
                <td class="col-12 col-sm-12 col-md-12 col-lg-6" >
                  <!-- inicio celular produto -->
                        <div class="container">
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <img class="img-fluid" src="static/img/thumb-bike.png" alt="">
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                              <div class="container">
                                <div class="row">
                                  <div class="col">
                                    <p><strong>{{produto.nome}}</strong></p>
                                    <p>Referência: {{produto.referencia}}</p>
                                    <div class="remover-produto-carrinho">
                                      <a href ng-click="excluirProduto(produtos.indexOf(produto))">Excluir produto</a>
                                    </div>
                                    <!-- quantity spinner -->
                                    <div class="input-group spinner margem-10" >
                                      <input type="text" id='spinner' name='spinner' class="form-control" value="0" ng-init="0" ng-model="produto.quantidade" >
                                      <div class="input-group-btn-vertical">
                                        <button class="btn btn-default" type="button" ng-click="spinnerUP(produtos.indexOf(produto))"><i class="up"><img class="img-fluid" src="static/img/arrow-laranja.png" alt=""></i></button>
                                        <button class="btn btn-default" type="button" ng-click="spinnerDOWN(produtos.indexOf(produto))"><i class="down"><img class="img-fluid" src="static/img/arrow-laranja.png" alt=""></i></button>
                                      </div>
                                    </div>
                                    <!-- quantity spinner -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  <!-- final celular produto -->
                </td>
                <td class="col-12 col-sm-12 col-md-12 col-lg-3 preco">
                  <div class="preco-mobile">
                    <div class="alinhamento-dados">
                      <strong>Preço com </strong>
                      <span class="logo-itaucard">
                        <img class="img-fluid" src="/static/img/itaucard-logo.png" alt="Itaucard">
                      </span>
                    </div>
                  </div>
                  <div class="alinhamento-dados alinhamento-vertical" >
                    <p><strong>R$ {{produto.PrecoNormal * tabelaDescontos.descontoItau * produto.quantidade}}</strong></p>
                  </div>
                </td>
                <td class="col-12 col-sm-12 col-md-12 col-lg-3 preco">
                  <div class="preco-mobile">
                    <div class="alinhamento-dados">
                      <p>
                        <strong>Preço com outros cartões</strong>
                      </p>
                    </div>
                  </div>
                  <div class="alinhamento-dados alinhamento-vertical" >
                    <p>R$ {{produto.PrecoNormal * produto.quantidade}}</p>
                  </div>
                </td>
              </tr>
              <!-- Final linha produto -->

              <!-- Inicio linha CEP -->
              <tr class="row">
                <td class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <!-- inicio celular produto -->
                  <div class="container linha-cep">
                    <div class="row no-gutters alinhamento-vertical-col">
                      <div class="col-12 col-sm-2 col-md-2 col-lg-2">
                        <p>Digite o CEP</p>
                      </div>
                      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="container">
                          <div class="form-group row" >
                            <div class="col">
                              <input class="form-control" type="text"  mask="99999-999" id="cep_input" name="cep" ng-model="cep" required ng-init="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-2 col-md-2 col-lg-3">
                        <div class="btn btn-primary btn-block" ng-click="calcularFrete(cep)">Consultar</div>
                      </div>
                      <div class="col-12 col-sm-2 col-md-3 col-lg-3" style="padding-top: 3px;">
                        <div class="box-nao-sei"><a href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm" target="_blank">Não sei meu CEP</a></div>
                      </div>
                    </div>
                  </div>
                  <!-- final celular produto -->
                </td>
                <td class="col-12 col-sm-12 col-md-12 col-lg-3"><div class="alinhamento-dados alinhamento-vertical-2"><p><strong>Frete: R$ {{Frete}}</strong></p></div></td>
                <td class="col-12 col-sm-12 col-md-12 col-lg-3"><div class="alinhamento-dados alinhamento-vertical-2"><p> Frete: R$ {{Frete}} </p></div></td>
              </tr>
              <!-- Final linha CEP -->

              <!-- Inicio linha CUPOM de desconto -->
              <tr class="row">
                <td class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <!-- inicio celular produto -->
                  <div class="container linha-cep alinhamento-vertical-col">
                    <div class="row">
                      <div class="col-12 col-sm-4 col-md-3 col-lg-4">
                        <p>Cupom de desconto</p>
                      </div>
                      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group row">
                          <div class="col">
                            <input class="form-control" type="text" id="numero_input" ng-model="cupom">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-4 col-md-2 col-lg-3">
                        <div class="btn btn-primary btn-block" ng-click="calcularCupom()">Aplicar</div>
                      </div>
                      <!-- <div class="col-12 col-sm-3 col-md-3 col-lg-4" style="padding-top: 3px;">
                        <div class="box-nao-sei"><p>Economia adicional</p></div>
                      </div> -->
                    </div>
                  </div>
                  <!-- final celular produto -->
                </td>
                <td class="col-12 col-sm-12 col-md-12 col-lg-3 esconder-desktop"><div class="alinhamento-dados alinhamento-vertical-2"><p class="economia"><strong>Economia adicional: - R${{desconto}}</strong></p></div></td>
                <td class="col-12 col-sm-12 col-md-12 col-lg-3 esconder-desktop"><div class="alinhamento-dados alinhamento-vertical-2"><p class="economia">Economia adicional: - R${{desconto}}</p></div></td>
              </tr>
              <!-- Final linha CUPOM de desconto -->

              <!-- Inicio linha total -->
              <tr class="row">
                <td class="col-12 col-sm-12 col-md-12 col-lg-6">
                  <!-- inicio celular produto -->
                  <div class="container linha-cep">
                    <div class="row">
                      <div class="col-12 col-sm-4 col-md-3 col-lg-4">
                        <p><strong>Total</strong></p>
                      </div>
                    </div>
                  </div>
                  <!-- final celular produto -->
                </td>
                <td class="col-12 col-sm-12 col-md-12 col-lg-3">
                  <div class="alinhamento-dados total-valores">
                    <p>
                      R$ {{TotalItau}}<br>
                      <span>Economia de </span><span class="economia"><strong>R$ {{totalDescItau}}</strong></span>
                    </p>
                    <p class="preco-mobile total-valores">
                      <span class="economia">(Economia adicional: - R${{desconto}})</span>
                    </p>
                  </div>
                </td>
                <td class="col-12 col-sm-12 col-md-12 col-lg-3">
                  <div class="alinhamento-dados total-valores">
                    <p>
                      R$ {{TotalNormal}} <br>
                      <span>Economia de </span><span class="economia"><strong>R$ {{totalDesc}}</strong></span>
                    </p>
                    <p class="preco-mobile total-valores">
                      <span class="economia">(Economia adicional: - R${{desconto}})</span>
                    </p>
                  </div>
                </td>
              </tr>
              <!-- Final linha total -->


            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row margem-5">
      <div class="col-12 aviso-carrinho-compra">
        <p><strong>Atenção:</strong> Descontos aplicáveis somente para pagamento com cartões Itaucard. As bicicletas vão semi-montadas. Sua bicicleta deve ser montada por um especialista. 
Vendido e entre por iBike.</p>
      </div>
    </div>
    <div class="row margem-5">
      <div class="col-12 col-sm-12 col-md-2 offset-md-10 col-lg-2 offset-lg-10">
        <button class="btn btn-primary btn-block">
          Próximo
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 offset-md-10 col-lg-2 offset-lg-10">
        <div class="btn-voltar-compras"><a href="#">continuar comprando</a></div>
      </div>
    </div>

  </div>
</div>
