<div  ng-app="iBikeSite">
  <!-- preloader -->

  <!-- inicio container -->
  <div class="container-fluid">
    <div class="row banner-img-fluid">
      <div class="content-descontos">
        <div class="box-ate">
          até
        </div>
        <div class="box-50">
          50%
        </div>
        <div class="box-desconto">
          de <strong>desconto</strong>
        </div>
      </div>
    </div>
  </div>
  <!-- final container -->

  <div class="container produtos" ng-controller="produtosController">
    <div class="preloader" ng-hide="preloader">
      <div class="cs-loader">
        <div class="cs-loader-inner">
          <label>	●</label>
          <label>	●</label>
          <label>	●</label>
          <label>	●</label>
          <label>	●</label>
          <label>	●</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="hoverClose" ng-click="ativarSidebar()" ng-class="sidebarAtivado ? '' : 'active' "></div>
      <div class=" sidebar" ng-class="sidebarAtivado ? '' : 'active' ">
        <div class="wrap">
          <md-icon md-font-icon="icon-fechar" aria-label="fechar"
             ng-click="ativarSidebar()">
          </md-icon>
          <div class="bloco filtros">
            <h5>Filtro</h5>
            <!-- <div class="itens small">
              <a href="">bicicletas</a> > <a href="">conforto da cidade</a>
            </div> -->
               <a href="" class="limparfiltro small">
                {{strPreco}} {{strFiltros}}

            </a>
            <a href="" class="limparfiltro small" ng-click="changeFilterTo(null,null)">
              x limpar filtros
            </a>


          </div>
          <div class="bloco categorias">
            <h3>Preço</h3>
            <div class="row">
              <div class="col-10">
                <md-slider flex   class="md-primary" ng-model="preco_bike" step="1" min="0" max="2000" aria-label="rating" ng-change="filtroSliderPreco()">
                </md-slider>
                <div class="row">

                  <div class="col"><small>R$ 0</small></div>
                  <div class="col text-right"><small>R$ 2.000</small></div>
                  <div class="col-12"><small><strong>Valor {{preco_bike | currency: R$}}</strong></small></div>
                </div>
              </div>
            </div>

          </div>
          <div class="bloco categorias">
            <h3>Exclusivo</h3>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exclusivo" value="true" ng-click="changeFilterTo('exclusivo','1')">
                  Sim
                </label>
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exclusivo" value="false" ng-click="changeFilterTo('exclusivo','0')">
                  Não
                </label>
              </div>
          </div>
          <div class="bloco categorias">
            <h3>Nome</h3>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox"  ng-click="changeFilterTo('nome','Nome_5')"  name="nome" value="Nome_5" ng_model = "checkbox.nome" >
                  Nome_5
                </label>
              </div>
          </div>
        </div>

        <!-- <ul> -->
      <!-- <li><a href ng-click="changeFilterTo('nome','Nome_5')">NOME</a></li>
      <li><a href ng-click="changeFilterTo('exclusivo','1')">Exclusivo</a></li>
      <li><a href ng-click="changeFilterTo('exclusivo','0')">Nao exclusivo</a></li> -->
      <!-- </ul> -->
      </div>
      <div class="col lista">
        <div class="row no-gutters">
          <div class="col-6 col-sm-6 col-md-8 col-lg-10 ">
            <div class="filtro "><a href ng-click='ativarSidebar()' ng-class="sidebarAtivado ? '' : 'active' ">Filtrar<span></span></a></div>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 " >
            <div class="ordenar" ng-class="ordenarAtivado ? '' : 'active' ">
              <a href ng-click="ativarOrdenar()">Ordenar por
                <md-icon md-font-icon="icon-chevron-down" aria-label="baixo" ></md-icon>
              </a>
              <ul class="ordens">
                <li ><a href ng-click="sortBy('exclusivo',true)">+Vendidos</a></li>
                <li ><a href ng-click="sortBy('valor',true)">Maior Preço</a></li>
                <li ><a href ng-click="sortBy('valor',false)">Menor Preço</a></li>
                <li ><a href ng-click="sortBy('exclusivo',false)">Avaliação</a></li>
              </ul>
          </div>
          </div>
          <div class="separador"></div>

          <div class="container loop" ng-class="sidebarAtivado ? '' : 'active' ">
            <div class="row">
              <div class="col-12">
                <!-- <h3><strong>Categoria</strong></h3> -->
                <!-- <div class="separador"></div> -->
              </div>
            </div>
            <!-- Inicio row produtos -->
            <div class="row no-gutters">
              <!-- Inicio Box produto  -->

              <div class="col-md-6 col-lg-4 produto"  ng-if="bikes.valor <= preco_bike" ng-repeat="bikes in filteredProdutos = (produtos | filter: searchFilters |orderBy:ordenacao:reverse)">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="nome-categoria">
                        <span></span>
                        <p>Nome da categoria</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="box-imagem-produto imagem-produto-filtro">
                  <!-- <div class="box-promo">
                    -{{bikes.desconto}}
                  </div> -->
                  <a href="#"><img class="img-fluid" src="/static/img/thumb-bike-2.png" alt="Modelo da Bike"></a>

                </div>

                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="box-descritivo-produto">
                        <h2>{{bikes.nome}}</h2>
                        <!-- <h3>
                          {{bikes.material}}
                        </h3> -->
                        <a href="#"><h3 class="margem-5">Ver detalhes</h3></a>
                        <h3>
                          <span class="badge badge-primary" ng-if="bikes.exclusivo == '1'">Modelo exclusivo</span>
                            <span   class="badge badge-primary" ng-if="bikes.exclusivo == '0'" style="visibility: hidden">MODELO NORMAL</span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 box-experimentar separador-direito">
                      <div class="btn btn-primary btn-block">experimentar</div>
                        <p class="margem-5">por 30 dias antes de comprar</p>
                        <p><strong>1 x de R$ {{bikes.valor}}</strong></p>
                        <p>ou <span class="preco-itau">1 x de R$ {{bikes.valor_itau}}</span></p>
                        <div class="obs-preco margem-produto">
                          <p>
                            para pagamentos com <span class="logo-itaucard"><img src="/static/img/itaucard-logo.png" alt="Itaucard"></span>
                          </p>
                        </div>
                        <div class="saiba-mais">
                          <a href="#">saiba mais</a>
                        </div>
                    </div>

                    <div class="col-6 box-comprar">
                      <div class="btn btn-primary btn-block">comprar</div>
                        <p class="margem-5">em até 6 vezes sem juros</p>
                        <p><strong>R$ {{bikes.valor}}</strong></p>
                        <p>ou <span class="preco-itau">R$ {{bikes.valor_itau}}</span></p>
                        <div class="obs-preco margem-produto">
                          <p>
                            para pagamentos com <span class="logo-itaucard"><img src="/static/img/itaucard-logo.png" alt="Itaucard"></span>
                          </p>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="container" ng-show="erro">
              <div class="row">
                <div class="col-12 alert alert-primary">
                  Nenhum produto encontrado.
                </div>
              </div>
            </div>
            <div class="container" ng-hide="filteredProdutos.length">
              <div class="row">
                <div class="col-12 alert alert-primary">
                  Nenhum produto encontrado.
                </div>
              </div>
            </div>
          </div>
            <!-- Final row produtos -->
        </div>
      </div>
    </div>
  </div>
</div>
