    <div  ng-app="iBikeSite">
      <!-- preloader -->
    
  <!-- inicio container -->
  <div class="container-fluid">
    <div class="row banner-img-fluid">
      <!-- <div class="col-12">
        <div class="row margem-20 no-gutters">
          <div class="col-sm-4 col-md-1 col-lg-1 offset-lg-2">
            <div class="tipo-1">
              até
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-6">
            <div class="tipo-2">50%</div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-4 col-md-4 col-lg-6 offset-lg-3">
            <div class="tipo-3">de <strong>desconto</strong></div>
          </div>
        </div>
      </div> -->
      <div class="content-descontos">
        <div class="box-ate">
          até
        </div>
        <div class="box-50">
          50%
        </div>
        <div class="box-desconto">
          de <strong>desconto</strong>
        </div>
      </div>
    </div>
  </div>
  <!-- final container -->
  <div class="container produtos" ng-controller="produtosController">
    <div class="row">
      <div class="hoverClose" ng-click="ativarSidebar()" ng-class="sidebarAtivado ? '' : 'active' "></div>
      <div class=" sidebar" ng-class="sidebarAtivado ? '' : 'active' ">
        <div class="wrap">
          <md-icon md-font-icon="icon-fechar" aria-label="fechar"
             ng-click="ativarSidebar()">
          </md-icon>
          <div class="bloco filtros">
            <h5>Filtro</h5>
            <div class="itens small">
              <a href="">bicicletas</a> > <a href="">conforto da cidade</a>
            </div>
            <a href="" class="limparfiltro small">
              x limpar filtros
            </a>
          </div>
          <div class="bloco categorias">
            <h3>Categoria</h3>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Categoria1
                </label>
              </div>
          </div>
        </div>

        <ul>
      <li><a href="" ng-click="changeFilterTo('nome','Nome_3')">NOME</a></li>
      <li><a href="" ng-click="changeFilterTo('exclusivo','1')">Exclusivo</a></li>
      <li><a href="" ng-click="changeFilterTo('exclusivo','0')">Nao exclusivo</a></li>
      </ul>
      </div>
      <div class="col lista">
        <div class="row no-gutters">
          <div class="col-6 col-sm-6 col-md-8 col-lg-10 ">
            <div class="filtro "><a href ng-click='ativarSidebar()' ng-class="sidebarAtivado ? '' : 'active' ">Filtrar<span></span></a></div>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 ">
            <div class="ordenar" ng-class="ordenarAtivado ? '' : 'active' ">
              <a href ng-click="ativarOrdenar()">Ordenar por
                <md-icon md-font-icon="icon-seta-baixo" aria-label="baixo" ></md-icon>
              </a>
              <ul class="ordens">
                <li ><a href ng-click="sortBy('preco')">Preço</a></li>


              </ul>
          </div>
          </div>
          <div class="separador"></div>

          <div class="container">
            <div class="row">
              <div class="col-12">
                <h3><strong>Categoria</strong></h3>
                <div class="separador"></div>
              </div>
            </div>
            <!-- Inicio row produtos -->
            <div class="row no-gutters">
              <!-- Inicio Box produto  -->
              <div class="col-md-4 col-lg-4 produto"  ng-repeat="bikes in produtos| filter:filtrarProduto">
                <div class="box-imagem-produto">
                  <div class="box-promo">
                    -{{bikes.desconto}}
                  </div>
                  <img src="/static/img/thumb-bike.png" alt="Modelo da Bike">
                </div>
                <div class="box-descritivo-produto">
                  <h2>{{bikes.nome}}</h2>
                  <h3>
                    {{bikes.material}}
                  </h3>
                  <p><strong>R$ {{bikes.valor}}</strong> (10x R$ 123,00 sem juros)</p>
                  <p>ou <span class="preco-itau">R$ {{bikes.valor_itau}}</span></p>
                  <p class="margem-produto">(10x R$123,00 sem juros) com Itaucard</p>
                  <h3>
                    <span class="badge badge-primary" ng-if="bikes.exclusivo == '1'">Modelo exclusivo</span>
                      <span   class="badge badge-primary" ng-if="bikes.exclusivo == '0'" style="visibility: hidden">MODELO NORMAL</span>
                  </h3>
                  <div class="container">
                    <div class="row">
                      <div class="col-10 offset-1">
                        <button type="button" class="btn btn-block btn-primary">comprar</button>
                        <button type="button" class="btn btn-block btn-secondary">experimentar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Final row produtos -->
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
