<div  ng-app="iBikeSite">
  <!-- preloader -->
  
  <div class="container-fluid banner-confirmacao-compra">
    <div class="row no-gutters">
      <div class="col-12">

      </div>
    </div>
  </div>
  <div class="container box-confirmacao-compra">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2><strong>Fulano,</strong></h2>
        <p>Obrigado por comprar no iBike!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h3><strong>Resumo do pedido</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
        <img class="margem-imagem img-fluid" src="static/img/thumb-bike-2.png" alt="">
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-4 box-modelo">
        <p>
        <strong>Casual Modelo:</strong> Houston Atlantis MAD <br>
        <strong>Quantidade:</strong> 1 unidade
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <p>
          Ficamos muito contentes em saber que vamos ter mais um ciclista pedalando pela cidade.<br><br>

          <strong>Aguarde só um pouco que estamos preparando sua bicicleta com carinho.</strong><br><br>

          Enquanto aguarda....<br>
          Veja dicas de como pedalar melhor <a href="#">aqui</a><br>
          Entre em contato com um bike anjo para acompanhar suas primeiras
          pedaladas <a href="#">aqui</a><br><br>

          <strong>Um abraço,<br> Equipe iBike</strong>
        </p>
      </div>
    </div>
</div>
