<div ng-app="iBikeSite">
  <!-- preloader -->
  
  <div class=" container ">
    <div class="row">
      <div class="col-sm-4 offset-sm-4 area-login">
        <form name="cadastroLogar" ng-submit="submeterLogin(cadastroLogar.$valid)"  ng-controller="loginController">
         <div class="form-group row margem-10" >
          <label for="nome-input" class="col-2 offset-1 col-form-label">Email</label>
          <div class="col-8">
            <input class="form-control" type="email" value="" id="nome-input" ng-model="formData.login" required >
          </div>
        </div>
        <div class="form-group row">
          <label for="senha-input" class="col-2 offset-1 col-form-label">Senha</label>
          <div class="col-8">
            <input class="form-control" type="password" value="" id="senha-input" ng-model="formData.senha" required>
          </div>
        </div>
        <div class="row recuperar-senha">
          <div class="col-8 offset-3">
            <p>Esqueceu sua senha? <a href="#">Clique aqui.</a></p>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-8 offset-3">
            <button type="submit" class="btn btn-primary btn-block" ><strong>Entrar</strong></button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>

</div>
