<div  ng-app="iBikeSite">
  <!-- preloader -->

  <!-- inicio container -->
  <div class="content-experimentar banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner-experimentar">
            <h1>Experimentar sua magrela é muito fácil!</h1>
            <p>Exemplo explicativo: Se uma bicicleta custasse R$ 100,00</p>
            <div class="banner-grafico1">
              <img src="/static/img/grafico-banner-experimentar1.png" class="banner1">
              <b class="titulo titulo1">Para quem quer experimentar</b>
              <li>Escolha a bicicleta</li>
              <li class="list2">Selecione uma data</li>
              <b class="subtitulo">Experimente por 30 dias</b>
              <li class="list3"><b>Se comprar a bicicleta</b><br>Pague só o valor da bike: 100,00</li>
              <li class="list4"><b>Se devolver a bicicleta</b><br>Pague só o valor de uso: 10,00</li>
            </div>

            <div class="banner-grafico2">
              <img src="/static/img/grafico-banner-experimentar2.png" class="banner2">
              <b class="titulo titulo2">Para quem não quer experimentar</b>
              <li class="list5">Escolha a bicicleta</li>
              <li class="list6"><b>Ao comprar a bicicleta</b><br>Pague só o valor da bike: 100,00</li>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- final container -->

<div class="container-fluid produtos produtos-passos experimentar3">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row content-passos">
          <div class="col-md-3">
            <div class="div">
              <p><b style="color: #484848;">Siga os passos <span>ao lado</span> para experimentar sua bicicleta!</b><br/> Se tiver dúvida <a herf>fale conosco</a></p>
            </div>
          <hr>
          </div>
          <div class="col-md-9">
            <div class="row offset-md-1">
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">1</div>
                </div>
                <p><b>Escolha um modelo</b></p>
              </div>
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">2</div>
                </div>
                <p><b>Selecione uma data</b></p>
              </div>
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">3</div>
                </div>
                <p><b>Pedale por 30 dias</b></p>
              </div>
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">4</div>
                </div>
                <p><b>Decida se quer comprar</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




  <!-- final container -->
  <div class="container experimentar-internas produtos" ng-controller="experimentarController">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h2>
          Obrigado! curta sua bike pedalando por aí ;-)
        </h2>
        <p>
          Lembre-se, ao final do pacote você tem muitas opções:
        </p>
        <ul>
          <li>Comprar a bicicleta que experimentou sem ter que pagar a taxa de experimentação</li>
          <li>Devolver a bicicleta que experimentou</li>
          <li>Experimentar outro modelo</li>
          <!-- <li><strong>4) </strong>Alugar um de nossos modelos</li> -->
          <li>Nos ajudar a melhorar com a sua avaliação</li>
        </ul>
      </div>
    </div>
  </div>
</div>
