<div  ng-app="iBikeSite">
  <!-- preloader -->


  <!-- inicio container -->
  <div class="content-experimentar banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner-experimentar">
            <h1>Experimentar sua magrela é muito fácil!</h1>
            <p>Exemplo explicativo: Se uma bicicleta custasse R$ 100,00</p>
            <div class="banner-grafico1">
              <img src="/static/img/grafico-banner-experimentar1.png" class="banner1">
              <b class="titulo titulo1">Para quem quer experimentar</b>
              <li>Escolha a bicicleta</li>
              <li class="list2">Selecione uma data</li>
              <b class="subtitulo">Experimente por 30 dias</b>
              <li class="list3"><b>Se comprar a bicicleta</b><br>Pague só o valor da bike: 100,00</li>
              <li class="list4"><b>Se devolver a bicicleta</b><br>Pague só o valor de uso: 10,00</li>
            </div>

            <div class="banner-grafico2">
              <img src="/static/img/grafico-banner-experimentar2.png" class="banner2">
              <b class="titulo titulo2">Para quem não quer experimentar</b>
              <li class="list5">Escolha a bicicleta</li>
              <li class="list6"><b>Ao comprar a bicicleta</b><br>Pague só o valor da bike: 100,00</li>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- final container -->

<div class="container-fluid produtos produtos-passos experimentar3">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row content-passos">
          <div class="col-md-3">
            <div class="div">
              <p><b style="color: #484848;">Siga os passos <span>ao lado</span> para experimentar sua bicicleta!</b><br/> Se tiver dúvida <a herf>fale conosco</a></p>
            </div>
          <hr>
          </div>
          <div class="col-md-9">
            <div class="row offset-md-1">
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">1</div>
                </div>
                <p><b>Escolha um modelo</b></p>
              </div>
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">2</div>
                </div>
                <p><b>Selecione uma data</b></p>
              </div>
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">3</div>
                </div>
                <p><b>Pedale por 30 dias</b></p>
              </div>
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">4</div>
                </div>
                <p><b>Decida se quer comprar</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="row no-gutters">
    <!-- Inicio Box produto  -->
    <div class="col-md-6 col-lg-4 produto"  ng-repeat="bikes in produtos">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="nome-categoria">
              <span></span>
              <p>Nome da categoria</p>
            </div>
          </div>
        </div>
      </div>

      <div class="box-imagem-produto">
        <!-- <div class="box-promo">
          -{{bikes.desconto}}
        </div> -->
        <a href="#">
          <img class="img-fluid" src="/static/img/thumb-bike-2.png" alt="Modelo da Bike">
        </a>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="box-descritivo-produto">
              <h2>{{bikes.nome}}</h2>
              <!-- <h3>
                {{bikes.material}}
              </h3> -->
              <a href="#"><h3 class="margem-5">Ver detalhes</h3></a>
              <h3>
                <span class="badge badge-primary" ng-if="bikes.exclusivo == '1'">Modelo exclusivo</span>
                  <span   class="badge badge-primary" ng-if="bikes.exclusivo == '0'" style="visibility: hidden">MODELO NORMAL</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 box-experimentar separador-direito">
            <div class="btn btn-primary btn-block">experimentar</div>
              <p class="margem-5">por 30 dias antes de comprar</p>
              <p><strong>1 x de R$ {{bikes.valor}}</strong></p>
              <p>ou <span class="preco-itau">1 x de R$ {{bikes.valor_itau}}</span></p>
              <div class="obs-preco margem-produto">
                <p>
                  para pagamentos com <br/><span class="logo-itaucard"><img src="/static/img/itaucard-logo.png" alt="Itaucard"></span>
                </p>
              </div>
              <div class="saiba-mais">
                <a href="#">saiba mais</a>
              </div>
          </div>

          <div class="col-6 box-comprar">
            <div class="btn btn-primary btn-block">comprar</div>
              <p class="margem-5">em até 3 vezes sem juros</p>
              <p><strong>R$ {{bikes.valor}}</strong></p>
              <p>ou <span class="preco-itau">R$ {{bikes.valor_itau}}</span></p>
              <div class="obs-preco margem-produto">
                <p>
                  para pagamentos com<br/><span class="logo-itaucard"><img src="/static/img/itaucard-logo.png" alt="Itaucard"></span>
                </p>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--fim container passos -->

</div>
