<div  ng-app="iBikeSite" ng-init="optionRetirada='cep'; freteValor = 0">
  <!-- preloader -->

  <!-- inicio container -->
  <div class="content-experimentar banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner-experimentar">
            <h1>Experimentar sua magrela é muito fácil!</h1>
            <p>Exemplo explicativo: Se uma bicicleta custasse R$ 100,00</p>
            <div class="banner-grafico1">
              <img src="/static/img/grafico-banner-experimentar1.png" class="banner1">
              <b class="titulo titulo1">Para quem quer experimentar</b>
              <li>Escolha a bicicleta</li>
              <li class="list2">Selecione uma data</li>
              <b class="subtitulo">Experimente por 30 dias</b>
              <li class="list3"><b>Se comprar a bicicleta</b><br>Pague só o valor da bike: 100,00</li>
              <li class="list4"><b>Se devolver a bicicleta</b><br>Pague só o valor de uso: 10,00</li>
            </div>

            <div class="banner-grafico2">
              <img src="/static/img/grafico-banner-experimentar2.png" class="banner2">
              <b class="titulo titulo2">Para quem não quer experimentar</b>
              <li class="list5">Escolha a bicicleta</li>
              <li class="list6"><b>Ao comprar a bicicleta</b><br>Pague só o valor da bike: 100,00</li>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- final container -->

<div class="container-fluid produtos produtos-passos experimentar3">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row content-passos">
          <div class="col-md-3">
            <div class="div">
              <p><b style="color: #484848;">Siga os passos <span>ao lado</span> para experimentar sua bicicleta!</b><br/> Se tiver dúvida <a herf>fale conosco</a></p>
            </div>
          <hr>
          </div>
          <div class="col-md-9">
            <div class="row offset-md-1">
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">1</div>
                </div>
                <p><b>Escolha um modelo</b></p>
              </div>
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">2</div>
                </div>
                <p><b>Selecione uma data</b></p>
              </div>
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">3</div>
                </div>
                <p><b>Pedale por 30 dias</b></p>
              </div>
              <div class="col-sm-2">
                <div class="border">
                  <div class="passos">4</div>
                </div>
                <p><b>Decida se quer comprar</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- final container -->
  <div class="container experimentar-internas produtos" ng-controller="experimentarController">
    <div class="row">
      <div class="col-lg-4 margem-10">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="nome-categoria">
                <span></span>
                <p>Nome da categoria</p>
              </div>
            </div>
          </div>
          <div class="row margem-10">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 margem-bottom-10">
              <img class="img-fluid" src="/static/img/thumb-bike-2.png" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-8 box-experimentar">
              <p>Modelo: {{selecionado.nome}}</p>
              <p><strong>1 x de R$ {{selecionado.valor*spinnerCategoria}}</strong></p>
              <p>ou <span class="preco-itau">1 x de R$ {{selecionado.valor_itau*spinnerCategoria}}</span></p>
              <div class="obs-preco margem-produto">
                <p>
                para pagamentos com <span class="logo-itaucard"><img src="/static/img/itaucard-logo.png" alt="Itaucard"></span>
                </p>
              </div>
              <div class="carrinho-de-compra">
                <!-- quantity spinner  <br>-->
                <div class="input-group spinner margem-5">
                  <input type="text" id='spinner' name='spinner' class="form-control"  ng-model="spinnerCategoria" >
                  <div class="input-group-btn-vertical">
                    <button class="btn btn-default" type="button" ng-click="spinerSimples('up')"><i class="up"><img class="img-fluid" src="static/img/arrow-laranja.png" alt=""></i></button>
                    <button class="btn btn-default" type="button" ng-click="spinerSimples('down')"><i class="down"><img class="img-fluid" src="static/img/arrow-laranja.png" alt=""></i></button>
                  </div>
                </div>
                <!-- quantity spinner -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 margem-10">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="nome-categoria">
                <span></span>
                <p>
                  Data
                </p>
                <div class="escolha-data" style="margin-bottom:20px">
                  <p style="margin-bottom:10px">Escolha a data de entrega da sua bicicleta. As entregas serão realizadas entre 9h e 22h.</p>
                  <p style="margin-bottom:10px">
                    <strong>Atenção:</strong> caso não compre, a(s) bicicleta(s) deverá(ão) ser devolvida(s) em até 30 dias corridos a contar da data de início. Sujeito a tarifação adicional.
                  </p>
                  <p>Dúvidas? <a href="">clique aqui</a></p>
                </div>
              </div>

             <md-calendar ng-model="dataSelecionada" md-date-filter="eventDates" md-min-date="minDate" md-max-date="maxDate" ></md-calendar>


              <div class="disclaimer-datas">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 margem-10">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="nome-categoria">
                <span></span>
                <p>
                  Forma de entrega
                </p>
              </div>
              <div class="formulario-experimentar">
                <div class="container">
                  <div class="row margem-10">
                    <div class="col-12">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" ng-model="optionRetirada"  class="form-check-input" name="optionsRadios" id="optionsRadios2" value="cep" checked="checked">
                          Receber em meu endereço
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row margem-5" ng-show="optionRetirada == 'cep' " ng-hide="optionRetirada == 'galpao'" >
                    <div class="col-12 col-sm-2 col-md-3 col-lg-5">
                      <p>Informe seu CEP<br/>  <a href=""><small> Não sei o meu CEP</small></a></p>

                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-5">
                      <div  class="">
                        <div class="form-group row" >
                          <div class="col">
                            <input class="form-control"  type="text" value=""  mask="99999-999" id="cep_input" name="cep_input" ng-model="cep"  ng-disabled="optionRetirada == 'galpao'" required>
                            <div class="valor-frete " ng-hide="optionRetirada == 'galpao'">Frete: R$ {{freteValor*spinnerCategoria}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2 col-lg-2">
                      <button class="cep-btn" ng-click="consultarCEP(cep)" ng-disabled="optionRetirada == 'galpao'">consultar</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" ng-model='optionRetirada' name="optionsRadios" id="optionsRadios2" value="galpao">
                          Buscar no galpão iBike<br>
                          <span>Veja o endereço <a href="">aqui</a></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="disclaimer-datas margem-5">
                <p>
                  <strong>Atenção:</strong> o cumprimento dos prazos de início e fim da expirementação, assim como a disponibilidade nas datas selecionadas para entrega/retirada são de responsabilidade do usuário. O não cumprimneto está sujeito a tarifação adicional.
                </p>
                <p>Dúvidas? <a href="">clique aqui</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 btn-proximo">
        <button type="button" class="btn btn-block btn-primary">Próximo</button>
      </div>
    </div>


     <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {{mensagem_modal}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

  </div>
</div>
