<div class="mainFooter small container-fluid">
  <div class="row">
    <div class="col-6 col-sm-2">
      <h5>Quem Somos</h5>
      <div ng-repeat="pagina in paginas.quemsomos">
          <a href="{{pagina.url}}" class="">{{pagina.titulo}}</a>
       </div>
    </div>
    <div class="col-6 col-sm-2">
      <h5>Bicicletas</h5>
      <div ng-repeat="pagina in paginas.bicicletas">
          <a href="{{pagina.url}}">{{pagina.titulo}}</a>
       </div>
    </div>
    <div class="col-6 col-sm-1">
      <h5>Minha conta</h5>
      <div ng-repeat="pagina in paginas.minhaconta">
          <a href="{{pagina.url}}">{{pagina.titulo}}</a>
       </div>
    </div>
    <div class="col-6 col-sm-3">
      <h5>Fale conosco</h5>
      <p>telefone: {{infos.telefone}}<br />
          de segunda a sábado das 8h às 19h<br />
          whatsapp: {{infos.whatsapp}}<br />
          de segunda a sábado das 8h às 19h<br />
          <a href="mailto:{{infos.email}}">{{infos.email}}</a><br />
          perguntas frequentes<br />
          código de defesa do consumidor<br />
    </p>
    <h5>Nossas redes sociais</h5>
        <div class="" layout="row" layout-padding layout-aling="left top">
          <div ng-repeat="rede in infos.redessociais">
              <md-icon md-font-icon="{{rede.icon}}" aria-label="{{rede.icon}}"
                 ng-click="">
              </md-icon>
           </div>

        </div>

    </div>
    <div class="parceiros col-12 col-sm-3" >
        <h5>Parceiros</h5>
        <div layout="row " layout-padding layout-align="left center">
          <div class="" flex>
            <img src="/static/img/parceiros/logoItau.png" alt="">
          </div>
          <div class="" flex>
            <img src="/static/img/parceiros/logoAtivo.png" alt="">
          </div>
          <div flex>
            <img src="/static/img/parceiros/logoBikeAnjo.png" alt="">
          </div>
          <div flex>
            <img src="/static/img/parceiros/logoBikeLegal.png" alt="">
          </div>
        </div>
        <div layout="row">
          <div flex>
            <img src="/static/img/parceiros/logoAro.png" alt="">
          </div>
          <div flex>
            <img src="/static/img/parceiros/logoVadeBike.png" alt="">
          </div>
          <div flex layout-padding layout-align="left center">
            <img src="/static/img/parceiros/logoGagorra.png" alt="">
          </div>

        </div>


    </div>
  </div>
  <div layout="column"  layout-padding>
    <p class="p1">*Desconto de at&eacute; 50%, a depender do modelo de bicicleta ou do acess&oacute;rio escolhido, v&aacute;lido somente para pagamentos realizados com cart&otilde;es pertencentes &agrave; plataforma Itaucard &ndash; Ita&uacute; Unibanco.</p>
    <p class="p1">Incluir disclaimer dos alugueis / Incluir disclaimer dos alugueis / Incluir disclaimer dos alugueis / Incluir disclaimer dos alugueis / Incluir disclaimer dos alugueis</p>
    <p class="p1">Os descontos ser&atilde;o concedidos na etapa de pagamento, ap&oacute;s a digita&ccedil;&atilde;o do n&uacute;mero do cart&atilde;o.</p>
    <p class="p1">Descontos n&atilde;o progressivos e n&atilde;o cumulativos com outras promo&ccedil;&otilde;es do site.</p>
    <p class="p1">Promo&ccedil;&atilde;o v&aacute;lida enquanto durarem os estoques.</p>
    <p class="p1">O prazo de entrega dos produtos pode variar conforme demanda.</p>
    <p class="p1">Imagens meramente ilustrativas.</p>
    <p class="p1">O pre&ccedil;o v&aacute;lido ser&aacute; o da finaliza&ccedil;&atilde;o da compra.</p>
    <p class="p1">Pagamentos no cr&eacute;dito &agrave; vista ou parcelamento de 2 a 3 vezes SEM juros, e 4 a 6 vezes COM juros.</p>
    <p class="p1">M2 Solu&ccedil;&otilde;es em Engenharia LTDA ME / CNPJ: 13.051.498/0001-63 / Inscri&ccedil;&atilde;o Estadual: 142.960.909.112 - Endere&ccedil;o: Rua Francisco Cruz, 256 - Vila Mariana - S&atilde;o Paulo - SP - CEP: 04117-090</p>
    <p class="p1">ibike@tembici.com.br&nbsp;|&nbsp;www.ibike.tembici.com.br</p>
    <p class="p1">TODOS OS DIREITOS RESERVADOS - tembici.</p>
    <p class="p1">Todo o conte&uacute;do do site, todas as fotos, imagens, logotipos, marcas, dizeres, som, software, conjunto imagem, layout aqui veiculados s&atilde;o de propriedade exclusiva da tembici.</p>
    <p class="p1">&Eacute; vedada qualquer reprodu&ccedil;&atilde;o, total ou parcial, de qualquer elemento de identidade, sem expressa autoriza&ccedil;&atilde;o.<br /> A viola&ccedil;&atilde;o de qualquer direito mencionado implicar&aacute; na responsabiliza&ccedil;&atilde;o c&iacute;vel e criminal nos termos da Lei.</p>
  </div>
</div>
