<div  ng-app="iBikeSite">
  <!-- preloader -->
  
 <div ng-controller="formularioCadastroController">
  <form name="cadastroForm" ng-submit="submeterCadastrarUsuario(cadastroForm.$valid)" >
   <div class="form-group row margem-10">
    <label for="nome_input" class="col-4 col-form-label">Nome*</label>
    <div class="col-8">
      <input class="form-control" type="text" value="" id="nome_input" ng-model="formData.nome" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="sobrenome_input" class="col-4 col-form-label">Sobrenome*</label>
    <div class="col-8">
      <input class="form-control" type="text" value="" id="sobrenome_input" ng-model="formData.sobrenome" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="email_input" class="col-4 col-form-label">Email*</label>
    <div class="col-8">
      <input class="form-control" type="email" placeholder="email@exemplo.com" id="email_input" ng-model="formData.email" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="data-nascimento_input" class="col-5 col-form-label">Data de nascimento*</label>
    <div class="col-7">
      <input class="form-control" type="date" placeholder="2011-08-19" id="data-nascimento_input" ng-model="formData.data_nascimento" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="genero_input" class="col-4 col-form-label">Gênero*</label>
    <div class="col-8">
      <select class="form-control" id="genero_select" ng-model="formData.genero" required>
        <option value=""></option>
        <option>Feminino</option>
        <option>Masculino</option>
        <option>Outro</option>
      </select>
      <!-- <label class="form-check-label">
        <input class="form-check-input" type="radio" name="sexo" id="" value="feminino" ng-model="searchFilters.sexo">
        Feminino
      </label>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="sexo" id="" value="masculino" checked ng-model="searchFilters.sexo">
        Masculino
      </label> -->
    </div>
  </div>
  <div class="form-group row">
    <label for="cpf_input" class="col-4 col-form-label">CPF*</label>
    <div class="col-8">
      <input class="form-control" type="text" value="" id="cpf_input"  pattern=".{14}" ng-model="formData.cpf" mask="999.999.999-99" placeholder="xxx.xxx.xxx-xx" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="celular_input" class="col-4 col-form-label">Celular*</label>
    <div class="col-8">
      <input class="form-control" type="tel" value=""   pattern=".{16}" ng-model='formData.celular' mask="(99) 9-9999-9999" placeholder="(XX) 9-0000-0000" id="celular_input" required>
    </div>
  </div>
  <div ng-controller="cepCtrl">
    <div class="form-group row" >
      <label for="cep_input" class="col-4 col-form-label" >CEP*</label>
      <div class="col-8">
        <input class="form-control" ng-keyup="checarCEP()" type="text" value=""  mask="99999-999" id="cep_input" name="cep_input" ng-model="formData.cep" ng-blur="findCep()" required  pattern=".{9}">
      </div>
    </div>
    <span class="row">
      <div class="col offset-4 nao-sei-cep">
        <p><a href="#">Não sei meu CEP</a></p>
      </div>
    </span>
    <div class="form-group row" >
      <label for="endereco_input" class="col-4 col-form-label">Endereço*</label>
      <div class="col-8">
        <input class="form-control" type="text" id="endereco_input"  value="{{logradouro}}" ng-model="formData.endereco" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="numero_input" class="col-4 col-form-label">Número</label>
      <div class="col-8">
        <input class="form-control" type="texte" value="" id="numero_input"  ng-model="formData.num_end">
      </div>
    </div>
    <div class="form-group row">
      <label for="complemento_input" class="col-4 col-form-label">Complemento</label>
      <div class="col-8">
        <input class="form-control" type="text" value="" id="complemento_input"  ng-model="formData.complemento_end" >
      </div>
    </div>
    <div class="form-group row">
      <label for="bairro_input" class="col-4 col-form-label">Bairro*</label>
      <div class="col-8">
        <input class="form-control" type="text" value="{{bairro}}" id="bairro_input"  ng-model="formData.bairro_end" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="cidade_input" class="col-4 col-form-label">Cidade*</label>
      <div class="col-8">
        <input class="form-control" type="text" value="{{cidade}}" id="cidade_input"  ng-model="formData.ciade_end" required>
      </div>
    </div>
    <div class="form-group row" ng-controller="ControllerEstados">
      <label for="estado_input" class="col-4 col-form-label">Estado*</label>
      <div class="col-8">
        <select class="form-control" id="estado_select" ng-model="formData.estado" required>
         <option ng-repeat="estado in estados" value="{{estado.Sigla}}">{{estado.Nome}}</option>
       </select>
     </div>
   </div>
 </div>
 <div class="form-group row">
  <label for="senha_input" class="col-4 col-form-label" >Senha*</label>
  <div class="col-8">
    <input class="form-control" type="password" value="" id="senha_input" ng-change="validarTipoPassword(formData.senha)" ng-model="formData.senha" required  >
  </div>
</div>
<div class="form-group row">
  <label for="confirmacao-senha_input" class="col-4 col-form-label confirmar-senha">Confirmar Senha*</label>
  <div class="col-8">
    <input class="form-control" type="password" value="" id="confirmacao-senha_input" ng-model="formData.senha1" required>
  </div>

</div>

<fieldset class="form-group">
  <div class="row">
    <legend class="col-form-legend col-4"></legend>
    <div class="col-8">
      <div class="form-check">
        <label class="form-check-label check-comunicados">
          <input class="form-check_input form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1" checked>
          Quero receber comunicados, promoções e notícias sobre o iBike :)
        </label>
      </div>
    </div>
  </div>
</fieldset>

<div class="form-group row" >
  <div class="col-8 offset-4">
    <button type="submit" class="btn btn-primary btn-block"  >Cadastrar</button>
  </div>
</div>
<div class="alert alert-info" ng-show="forcaSenha < 3">
  A senha deve ser (Maiúscula, minúsculas e numeros com no no mínimo 8 caracteres)
  </div>


 <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {{mensagem_modal}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
</form>
<div>
</div>
