<div ng-app="iBikeSite" class="home">
  <!-- preloader -->
  <!-- <div class="preloader" ng-hide="preloader">
    <div class="cs-loader">
    <div class="cs-loader-inner">
      <label>	●</label>
      <label>	●</label>
      <label>	●</label>
      <label>	●</label>
      <label>	●</label>
      <label>	●</label>
    </div>
  </div>
  </div> -->


  <!-- inicio container -->
  <div class="container-fluid content-experimentar home-container-banner">
    <div class="row">
      <div class="itau-banner">
        <img src="/static/img/itau.png" alt="">
      </div>
        <div id="carouselBannerHome" class="carousel slide carousel.home home-banner" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselBannerHome" data-slide-to="0" class="active"></li>
            <li data-target="#carouselBannerHome" data-slide-to="1"></li>
            <li data-target="#carouselBannerHome" data-slide-to="2"></li>
            <li data-target="#carouselBannerHome" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <a href="#" class="carousel-link"></a>
              <div class="content">
                <p>Experimente uma bike antes de comprar o modelo ideal para você!</p>
                <a href="#" class="btn btn-primary">Quero experimentar</a>
              </div>
              <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner.jpg)"></div>
            </div>
            <div class="carousel-item">
              <a href="#" class="carousel-link"></a>
              <div class="content">
                <p>Experimente uma bike antes de comprar o modelo ideal para você!</p>
                <a href="#" class="btn btn-primary">Quero experimentar</a>
              </div>
              <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner.jpg)"></div>
            </div>
            <div class="carousel-item">
              <a href="#" class="carousel-link"></a>
              <div class="content">
                <p>Experimente uma bike antes de comprar o modelo ideal para você!</p>
                <a href="#" class="btn btn-primary">Quero experimentar</a>
              </div>
              <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner.jpg)"></div>
            </div>
            <div class="carousel-item">
              <a href="#" class="carousel-link"></a>
              <div class="content">
                <p>Experimente uma bike antes de comprar o modelo ideal para você!</p>
                <a href="#" class="btn btn-primary">Quero experimentar</a>
              </div>
              <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner.jpg)"></div>
            </div>
          </div>
            <a class="carousel-control-prev" href="javascript:void(0)" data-target="#carouselBannerHome" role="button" data-slide="prev">
            <span class="icon-seta-lado" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="javascript:void(0)" data-target="#carouselBannerHome" role="button" data-slide="next">
            <span class="icon-seta-lado" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>

    <!-- <div class="mask"></div> -->
    <!-- <div class="row banner-img-fluid">
      <div class="container banner-experimentar">
        <div class="col-6 col-sm-2 col-md-4 col-lg-2 offset-sm-8">
          <p>Experimente uma bike antes de comprar o modelo ideal para você!</p>
          <a href="#" class="btn btn-primary">Quero experimentar</a>
        </div>
      </div>
      <div class="itau-banner">
        <img src="/static/img/itau.png" alt="">
      </div>
    </div> -->
  </div>
  <!-- final container -->

  <!-- container passos -->
  <div class="container-fluid produtos" ng-controller="produtosControllerExperimentar">
    <div class="row content-passos-home margem-10 experimente-passos">
      <div class="col-6 col-sm-2 col-md-3 col-lg-2 offset-sm-1">
        <h2 class="borda-direita-laranja"><strong>Experimente</strong></h2>
      </div>
      <div class="col-6 col-sm-3 col-md-4 col-lg-3 offset-sm-1 experimente-texto">
        <p>No ibike você pode <strong>experimentar</strong> uma bicicleta antes de comprar. Como funciona?</p>
      </div>
    </div>
    <div class="row content-passos-home margem-10">
      <!-- <div class="col-sm-9 col-lg-10 offset-1"> -->
        <!-- <div class="row offset-sm-1"> -->
          <div class="col-sm-2 offset-sm-2">
            <div class="border">
              <div class="passos">1</div>
            </div>
            <p><b>Escolha<br> um modelo</b></p>
          </div>
          <div class="col-sm-2">
            <div class="border">
              <div class="passos">2</div>
            </div>
            <p><b>Selecione<br> uma data</b></p>
          </div>
          <div class="col-sm-2">
            <div class="border">
              <div class="passos">3</div>
            </div>
            <p><b>Pedale por<br> 30 dias</b></p>
          </div>
          <div class="col-sm-2">
            <div class="border">
              <div class="passos">4</div>
            </div>
            <p><b>Decida se<br> quer comprar</b></p>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
    <div class="row content-passos-home margem-5">
      <div class="col-4 offset-sm-4 offset-3 linha-experimentar">
        <a href="#" class="btn btn-primary">Quero experimentar</a>
      </div>
    </div>
    <div class="row content-passos-home margem-5">
      <div class="col-10 col-sm-4 offset-1 offset-sm-4">
        <p class="text-center">Quer devolver? Pague apenas a <a href="#">taxa de uso</a></p>
      </div>
    </div>
</div>
<!--fim container passos -->
<!-- inicio container avisos -->
<div class="container-fluid block-home margem-10">
  <div class="row no-gutters">
    <!--inicio box-esquerda -->
    <div class="col-sm-6 box-block-home box-banner-1" style="background-image: url('/static/img/home-banner2.jpg') ">
      <div class="container">
        <a href="" class="box-link"></a>
        <div class="row margem-20">
          <div class="col-7 offset-sm-1">
            <div class="block-1">
              <h3>Nós te ajudamos a descobrir qual é a bike certa para você e seu estilo de pedalar</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-6 offset-sm-1">
            <a class="btn btn-primary margem-5" href="#">Saiba mais!</a>
          </div>
        </div>
      </div>
    </div>
    <!--final box-esquerda -->
    <!--inicio box-direita -->
    <div class="col-sm-6 box-block-home">
      <div class="box-banner-2">
        <div class="container">
          <div class="row">
            <div id="carouselBikeAnjo" class="carousel slide carousel-bike-anjo" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselBikeAnjo" data-slide-to="0" class="active"></li>
                <li data-target="#carouselBikeAnjo" data-slide-to="1"></li>
                <li data-target="#carouselBikeAnjo" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <a href="#" class="carousel-link"></a>
                  <div class="content">
                    <h3>Comece a pedalar pela cidade, o Bike Anjo te ajuda!</h3>
                    <p>Ciclistas do Brasil inteiro acompanham pessoas que querem começar a pedalar, dando dicas, recomendações de rotas e muito mais.</p>
                    <a href="#" class="btn btn-primary">Quero experimentar</a>
                  </div>
                  <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner3.jpg)"></div>
                </div>
                <div class="carousel-item">
                  <a href="#" class="carousel-link"></a>
                  <div class="content">
                    <h3>Comece a pedalar pela cidade, o Bike Anjo te ajuda!</h3>
                    <p>Ciclistas do Brasil inteiro acompanham pessoas que querem começar a pedalar, dando dicas, recomendações de rotas e muito mais.</p>
                    <a href="#" class="btn btn-primary">Quero experimentar</a>
                  </div>
                  <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner3.jpg)"></div>
                </div>
                <div class="carousel-item">
                  <a href="#" class="carousel-link"></a>
                  <div class="content">
                    <h3>Comece a pedalar pela cidade, o Bike Anjo te ajuda!</h3>
                    <p>Ciclistas do Brasil inteiro acompanham pessoas que querem começar a pedalar, dando dicas, recomendações de rotas e muito mais.</p>
                    <a href="#" class="btn btn-primary">Quero experimentar</a>
                  </div>
                  <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner3.jpg)"></div>
                </div>
              </div>
                <a class="carousel-control-prev" href="javascript:void(0)" data-target="#carouselBikeAnjo" role="button" data-slide="prev">
                <span class="icon-seta-lado" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="javascript:void(0)" data-target="#carouselBikeAnjo" role="button" data-slide="next">
                <span class="icon-seta-lado" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!-- <div class="row margem-20">
            <div class="col-sm-6 offset-sm-3">
              <div class="block-2">
                <h3>Comece a pedalar pela<br> cidade, o Bike Anjo te ajuda!</h3>
                <p>Ciclistas do Brasil inteiro acompanham pessoas que querem começar a pedalar, dando dicas, recomendações de rotas e muito mais.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 offset-sm-3">
              <a class="btn btn-primary btn-block margem-5" href="#">Saiba mais!</a>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <!--final box-direita -->
  </div>
  <div class="row content-passos-home nossos-modelos">
    <div class="col-sm-2 col-md-3 col-lg-2 offset-1">
      <h2 class="borda-direita-azul"><strong>Nossos <br>modelos </strong></h2>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 offset-1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus elit nisi, non cursus dolor porttitor eget.</p>
    </div>
  </div>
  <div class="row margem-10 no-gutters estilos">
    <!--inicio modelo bike -->
      <div class="col-sm-6 box-block-home box-banner-3" style="background-image: url('/static/img/img-banner-produto.jpg')">
        <a href class="banner-link"></a>
        <div class="container block-p-1">
          <div class="row margem-20 content">
            <div class="col-sm-3 offset-sm-7  col-6 offset-5">
              <h3>Agilidade na cidade</h3>
            </div>
          </div>
        </div>

      </div>
    <!--final modelo bike -->
    <!--inicio modelo bike -->
      <div class="col-sm-6 box-block-home box-banner-4 "  style="background-image: url('/static/img/img-banner-produto.jpg')">
        <a href class="banner-link"></a>
        <div class="container block-p-2">
          <div class="row margem-20 content">
            <div class="col-sm-3 offset-sm-7 col-6 offset-5">
              <h3>Off road na cidade</h3>
            </div>
          </div>
        </div>

      </div>
    <!--final modelo bike -->
  </div>
  <div class="row no-gutters estilos">
    <!--inicio modelo bike -->
      <div class="col-sm-6 box-block-home box-banner-5" style="background-image: url('/static/img/img-banner-produto.jpg')">
        <a href class="banner-link"></a>
        <div class="container block-p-3">
          <div class="row margem-20 content">
            <div class="col-sm-3 offset-sm-7 col-6 offset-5">
              <h3>Passeio na cidade</h3>
            </div>
          </div>
        </div>

      </div>
    <!--final modelo bike -->
    <!--inicio modelo bike -->
      <div class="col-sm-6 box-block-home box-banner-6" style="background-image: url('/static/img/img-banner-produto.jpg')">
        <a href class="banner-link"></a>
        <div class="container block-p-4">
          <div class="row margem-20 content">
            <div class="col-sm-3 offset-sm-7 col-6 offset-5">
              <h3>Conforto na cidade</h3>
            </div>
          </div>
        </div>

      </div>
    <!--final modelo bike -->
  </div>
</div>
<!-- final container avisos -->

<!-- inicio container propaganda -->
<div class="container-fluid propaganda">
  <div class="mask"></div>
  <div class="block-home-propaganda" style="background-image: url('/static/img/home-banner8.png');">
    <a href="#" class="banner-link"></a>
    <div class="row no-gutters">
      <div class="col-sm-4 col-md-6 col-lg-4 offset-sm-1">
        <h3 class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus elit nisi, non cursus dolor porttitor eget, consectetur adipiscing elit.
        </h3>
      </div>
    </div>
    <div class="row margem-5 no-gutters">
      <div class="col-6 col-sm-2 offset-3 offset-sm-2 offset-md-3 offset-lg-2">
        <a href="#" class="btn btn-primary btn-block">Saiba Mais!</a>
      </div>
    </div>
  </div>
</div>
<!-- final container propaganda -->

<!-- inicio container blog -->
<div class="container-fluid blog">
  <div class="row no-gutters">
    <div class="col-sm-6 destaque order-sm-12" style="background-image: url('/static/img/img-banner-produto.jpg')">
      <a href="#" class="banner-link"></a>
      <div class="content">
        <h3>
          Titulo
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus elit nisi, non cursus dolor porttitor eget, consectetur adipiscing elit.
        </p>
        <a href="#">
          veja mais +
        </a>
      </div>
    </div>
    <div class="col-sm-6 order-sm-1 lista">
      <div id="carouselBlog" class="carousel slide carousel-blog" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="post">
              <a href="#" class="carousel-link"></a>
              <div class="content">
                <h3>Comece a pedalar pela cidade, o Bike Anjo te ajuda!</h3>
                <p>Ciclistas do Brasil inteiro acompanham pessoas que querem começar a pedalar, dando dicas, recomendações de rotas e muito mais.</p>
                <a href="#">
                  veja mais +
                </a>
              </div>
              <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner3.jpg)"></div>
            </div>
            <div class="post">
              <a href="#" class="carousel-link"></a>
              <div class="content">
                <h3>Comece a pedalar pela cidade, o Bike Anjo te ajuda!</h3>
                <p>Ciclistas do Brasil inteiro acompanham pessoas que querem começar a pedalar, dando dicas, recomendações de rotas e muito mais.</p>
                <a href="#">
  veja mais +
</a>
              </div>
              <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner3.jpg)"></div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="post">
              <a href="#" class="carousel-link"></a>
              <div class="content">
                <h3>Comece a pedalar pela cidade, o Bike Anjo te ajuda!</h3>
                <p>Ciclistas do Brasil inteiro acompanham pessoas que querem começar a pedalar, dando dicas, recomendações de rotas e muito mais.</p>
                <a href="#">
  veja mais +
</a>
              </div>
              <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner3.jpg)"></div>
            </div>
            <div class="post">
              <a href="#" class="carousel-link"></a>
              <div class="content">
                <h3>Comece a pedalar pela cidade, o Bike Anjo te ajuda!</h3>
                <p>Ciclistas do Brasil inteiro acompanham pessoas que querem começar a pedalar, dando dicas, recomendações de rotas e muito mais.</p>
                <a href="#">
  veja mais +
</a>
              </div>
              <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner3.jpg)"></div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="post">
              <a href="#" class="carousel-link"></a>
              <div class="content">
                <h3>Comece a pedalar pela cidade, o Bike Anjo te ajuda!</h3>
                <p>Ciclistas do Brasil inteiro acompanham pessoas que querem começar a pedalar, dando dicas, recomendações de rotas e muito mais.</p>
                <a href="#">
  veja mais +
</a>
              </div>
              <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner3.jpg)"></div>
            </div>
            <div class="post">
              <a href="#" class="carousel-link"></a>
              <div class="content">
                <h3>Comece a pedalar pela cidade, o Bike Anjo te ajuda!</h3>
                <p>Ciclistas do Brasil inteiro acompanham pessoas que querem começar a pedalar, dando dicas, recomendações de rotas e muito mais.</p>
                <a href="#">
  veja mais +
</a>
              </div>
              <div class="d-block img-fluid mx-auto img" style="background-image: url(/static/img/home-banner3.jpg)"></div>
            </div>
          </div>
        </div>
          <a class="carousel-control-prev up" href="javascript:void(0)" data-target="#carouselBlog" role="button" data-slide="prev">
          <span class="icon-seta-lado" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next down" href="javascript:void(0)" data-target="#carouselBlog" role="button" data-slide="next">
          <span class="icon-seta-lado" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>
</div>
<!-- final container blog -->
</div>
