  <!-- inicio container -->
  <div  ng-app="iBikeSite">
    <!-- preloader -->
    
  <div class="container" ng-controller="meusPedidos">

    <!-- inicio breadcrumbs -->
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active breadcrumb-meuspedidos" aria-current="Meus pedidos" >Meus pedidos</li>
            <li class="breadcrumb-item breadcrumb-meuspedidos" ><a href="#">voltar</a></li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- final breadcrumbs -->

    <!-- inicio descritivo geral  -->
    <div class="row">
      <div class="box-descritivo-geral col-sm-8 offset-sm-2" ng-repeat="item in itens">

        <!-- inicio descritivo linha -->
        <div class="row">
          <div class=".col-sm-12 col-md detalhe-descritivo-geral">
            <img class="img-fluid" src="/static/img/thumb-bike.png" alt="Modelo da Bike">
          </div>
          <div class=".col-sm-12 col-md detalhe-descritivo-geral">
            <h4>
              {{item.nome}}
            </h4>
            <p class="vendido">Vendido e entregue por iBike</p>
            <div class="referencia">
              <p>Referência: {{item.referencia}}</p>
            </div>
            <div class="quantidade">
              <p>Quantidade: {{item.quantidade}}</p>
            </div>
          </div>
          <div class=".col-sm-12 col-md detalhe-descritivo-geral">
            <h4>
              Previsão de entrega:
            </h4>
            <div class="data">
              <p>{{item.dataprevisao}}</p>
            </div>
          </div>
          <div class=".col-sm-12 col-md detalhe-descritivo-geral">
            <h4>
              Pedido:
            </h4>
            <div class="data">
              <p>{{item.datapedido}}</p>
            </div>
            <div class="valor">
              <p>Valor: R$ {{item.valor}}</p>
            </div>
            <!-- <a href="#">Ver status</a> -->
          </div>


        </div>
        <!-- final descritivo linha -->

        <!-- inicio barra de progresso -->
        <div class="row barra-progresso">
          <div class="col-md-10 offset-sm-1">
            <div class="bullet-progress">
              <div class="progress-bar">
                <div class="progress"></div>
              </div>
            </div>
          </div>
          <p class="col-2">Pedido realizado</p>
          <p class="col-2">Pagamento aprovado</p>
          <p class="col-2">Preparado para envio</p>
          <p class="col-2 col-md-3">A caminho do endereço escolhido</p>
          <p class="col-2">Pedido entregue</p>
        </div>
        <!-- final barra de progresso -->

      </div>
      <div class="container" ng-hide="itens.length">
        <div class="row">
          <div class="col-12 alert alert-primary">
            Não há pedidos
          </div>
        </div>
      </div>
    </div>
    <!-- final descritivo geral  -->


  </div>
  <!-- final container -->
</div>
