<div  ng-app="iBikeSite" ng-controller="produtoInternaController">
  <!-- preloader -->
  
  <!-- inicio container -->
  <div class="container-fluid banner-produto produto-img">
    <div class="row no-gutters">
      <div class="col-6 offset-4 col-sm-6 offset-sm-5 col-md-3 offset-md-8 col-lg-3 offset-lg-8">
        <div class="chamada-produto">
          <p>
            Está é a Loren Bike
          </p>
          <p>
            <strong>
              Se quer curtir momentos inesquecíveis em diversos lugares diferentes com a sua bike e desfilar com ela por aí, esta é a sua Bike Certa!
            </strong>
          </p>
          <p>R$ 1.999 ou R$ 700 com <img src="static/img/itaucard-logo2.png" class="img-responsive itau-logo" /></p>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 margem-5">
              <button type="button" class="btn btn-primary btn-block">comprar</button>
            </div>
            <div class="col-12 col-md-12 col-lg-6 margem-5">
              <button type="button" class="btn btn-primary btn-block">experimentar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- final container -->

  <div class="container-fluid produtos-caracteristicas">
    <div class="row no-gutters">
      <!-- Inicio box caracteristicas do produto -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-5">
        <div class="container">
          <div class="row">
            <div class="col-8 offset-4">
              <h2><strong>Loren bike ipsum II</strong></h2>
            </div>
          </div>
          <!-- inicio icone caracteristicas do produto -->
          <div class="row">
            <div class="col-4 col-sm-2 col-md-2 offset-md-1 col-lg-2 offset-lg-2">
              <img class="img-fluid" src="/static/img/media-icon.png" alt="">
            </div>
            <div class="col-8 col-sm-10 col-md-8 col-lg-8">
              <p class="align-middle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <!-- final icone caracteristicas do produto -->
          <!-- inicio icone caracteristicas do produto -->
          <div class="row">
            <div class="col-4 col-sm-2 col-md-2 offset-md-1 col-lg-2 offset-lg-2">
              <img class="img-fluid" src="/static/img/material-icon.png" alt="">
            </div>
            <div class="col-8 col-sm-10 col-md-8 col-lg-8">
              <p class="align-middle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <!-- final icone caracteristicas do produto -->
          <!-- inicio icone caracteristicas do produto -->
          <div class="row">
            <div class="col-4 col-sm-2 col-md-2 offset-md-1 col-lg-2 offset-lg-2">
              <img class="img-fluid" src="/static/img/pneu-icon.png" alt="">
            </div>
            <div class="col-8 col-sm-10 col-md-8 col-lg-8">
              <p class="align-middle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <!-- final icone caracteristicas do produto -->
          <!-- inicio icone caracteristicas do produto -->
          <div class="row">
            <div class="col-4 col-sm-2 col-md-2 offset-md-1 col-lg-2 offset-lg-2">
              <img class="img-fluid" src="/static/img/marcha-icon.png" alt="">
            </div>
            <div class="col-8 col-sm-10 col-md-8 col-lg-8">
              <p class="align-middle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <!-- final icone caracteristicas do produto -->
        </div>
      </div>
      <!-- Final box caracteristicas do produto -->

      <!-- inicio fotos produtos -->
      <div class="col-lg-7">
        <div id="carouselProdutosIndicadores" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselProdutosIndicadores" data-slide-to="0" class="active"></li>
            <li data-target="#carouselProdutosIndicadores" data-slide-to="1"></li>
            <li data-target="#carouselProdutosIndicadores" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="d-block img-fluid mx-auto" style="background-image: url(/static/img/thumb-bike.png)"></div>

            </div>
            <div class="carousel-item">
              <div class="d-block img-fluid mx-auto" style="background-image: url(/static/img/thumb-bike.png)"></div>
            </div>
            <div class="carousel-item">
              <div class="d-block img-fluid mx-auto" style="background-image: url(/static/img/thumb-bike.png)"></div>
            </div>
          </div>
            <a class="carousel-control-prev" href="javascript:void(0)" data-target="#carouselProdutosIndicadores" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="javascript:void(0)" data-target="#carouselProdutosIndicadores" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- final fotos produtos -->
    </div>
  </div>

  <div class="container-fluid detalhes-depoimentos">
    <div class="row no-gutters margem-20 infos-1">

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 produto-detalhe img-produto-detalhe">
        <!-- <div class="container"> -->
          <!-- <div class="row col-6 offset-3"> -->
            <div class="produto-texto-detalhe">
              <h2><strong>Loren ipsum</strong></h2>
              <h2>Bike lorem lorem</h2>
              <a href="#">comprar</a>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 avaliacao">
        <div class="container">
          <div class="row margem-10">
            <div class="col-8 offset-2">
              <h2><strong>Avaliações</strong></h2>
            </div>
          </div>
          <!-- inicio nota -->
          <div class="row margem-5">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Excelente</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentual(5)"></div>
            </div>
          </div>
          <!-- final nota -->
          <!-- inicio nota -->
          <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Ótimo</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentual(4)"></div>
            </div>
          </div>
          <!-- final nota -->
          <!-- inicio nota -->
          <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Bom</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentual(3)"></div>
            </div>
          </div>
          <!-- final nota -->
          <!-- inicio nota -->
          <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Razoável</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentual(2)"></div>
            </div>
          </div>
          <!-- final nota -->
          <!-- inicio nota -->
          <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Ruim</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentual(1)"></div>
            </div>
          </div>
          <!-- final nota -->
          <!-- inicio nota -->
          <!-- <div class="row">
            <div class="col-3 col-sm-4 col-md-3 col-lg-2 offset-2">
              <p>Péssimo</p>
            </div>
            <div class="col-4 box-avaliação">
              <div ng-style="percentual(0)"></div>
            </div>
          </div> -->
          <!-- final nota -->
          <div class="row margem-5">
            <div class="col-7 offset-2">
              <h4><strong>Veja a opinião de quem pedalou por aqui</strong></h4>
            </div>
          </div>
        </div>
        <div class="divisor-sombra margem-10"></div>
        <div class="container">
          <div class="row">
            <div class="col-12" >
              <div class="box-comentarios-geral" >
                <div class="container-fluid">
                  <div class="row no-gutters comentarios-geral" ng-repeat="avaliacao in avaliacoes">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                      <div class="container">
                        <div class="row imagem-nome no-gutters">
                          <div class="col-3 col-sm-12 col-md-12 col-lg-12">
                            <img class="img-fluid img-circular" src="{{avaliacao.imagem}}" alt="{{avaliacao.nome}}">
                          </div>
                          <div class="col-6 col-sm-12 col-md-12 col-lg-12">
                            <div class="nome-avaliador">
                              <p><strong>Nome e sobrenome</strong></p>
                              <p>São Paulo - SP</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-8 col-md-8 col-lg-9">
                      <div class="container">
                        <div class="row">
                          <div class="col-12">
                            <div class="container">
                              <div class="row no-gutters">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                  <div ng-repeat="i in [1,2,3,4,5]">
                                    <div class="box-coracao" ng-if="(i <= avaliacao.estrelas)">
                                      <img src="/static/img/coracao-laranja.png" alt="avaliação nota 5">
                                    </div>


                                    <div class="box-coracao" ng-if="(i > avaliacao.estrelas)">
                                      <img src="/static/img/coracao-cinza.png" alt="avaliação nota 5">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                  <div class="data-avaliacao"><p>avaliou em: {{avaliacao.data| date:'dd/MM/yyyy'}}</p></div>
                                </div>
                                <div class="row margem-5">
                                  <div class="col-12 borda-comentario">
                                    <h4><strong>{{avaliacao.titulo}}</strong></h4>
                                    <p>
                                     {{avaliacao.descricao}}
                                   </p>
                                 </div>
                               </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="row margem-5">
                        <div class="col-12 borda-comentario">
                          <h4><strong>{{avaliacao.titulo}}</strong></h4>
                          <p>
                           {{avaliacao.descricao}}
                         </p>
                       </div>
                     </div> -->
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="divisor-sombra rotate180"></div>
     <div class="box-avaliar">
      <div class="container">
        <div class="row">
          <div class="col-12">
             <div class="box-botao-avaliar">
               <a href="#">Quero avaliar</a>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<!-- final box foto produto e avaliacao -->

<div class="row no-gutters">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <div class="container ficha-tecnica">
      <div class="row">
        <div class="col-10 offset-1">
          <h3><strong>Ficha técnica</strong></h3>
        </div>
      </div>
      <div class="row margem-5">
        <div class="col-10 offset-1">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Código</td>
                <td>123456789</td>
              </tr>
              <tr>
                <td>Código de barras</td>
                <td>090909090</td>
              </tr>
              <tr>
                <td>Marca</td>
                <td>Caloi</td>
              </tr>
              <tr>
                <td>Gênero</td>
                <td>Masculino</td>
              </tr>
              <tr>
                <td>Aro</td>
                <td>26</td>
              </tr>
              <tr>
                <td>Cor</td>
                <td>Preta</td>
              </tr>
              <tr>
                <td>Número de marchas/Levels</td>
                <td>21</td>
              </tr>
              <tr>
                <td>Características</td>
                <td>Bicicleta Aro 26</td>
              </tr>
              <tr>
                <td>Movimento Central</td>
                <td>Sim</td>
              </tr>
              <tr>
                <td>Amortecedor</td>
                <td>Não</td>
              </tr>
              <tr>
                <td>Velocidade Máxima</td>
                <td>Não se aplica</td>
              </tr>
              <tr>
                <td>Suspensão dianteira</td>
                <td>Não</td>
              </tr>
              <tr>
                <td>Velocímetro</td>
                <td>Não</td>
              </tr>
              <tr>
                <td>Conteúdo da Embalagem</td>
                <td>1 Bicicleta e 1 Manual de Instrução</td>
              </tr>
              <tr>
                <td>Dimensões aproximadas do produto (cm) A x L x P</td>
                <td>67 x 100 x 170 cm</td>
              </tr>
              <tr>
                <td>Peso Liquido aproximado do produto (Kg)</td>
                <td>15kg</td>
              </tr>
              <tr>
                <td>Garantia do fornecedor</td>
                <td>3 meses</td>
              </tr>
              <tr>
                <td>Modelo</td>
                <td>MTB</td>
              </tr>
              <tr>
                <td>Referência do modelo</td>
                <td>0012233322145567</td>
              </tr>
              <tr>
                <td>Fornecedor</td>
                <td>Caloi S/A</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-6 produto-detalhe img-produto-detalhe-2">
    <!-- <div class="container">
      <div class="row col-6 offset-3"> -->
        <div class="produto-texto-detalhe-2">
          <h2><strong>Loren ipsum</strong></h2>
          <h1>Está é a lorem bike.</h1>
          <a href="#">experimentar</a>
        </div>
      <!-- </div>
    </div> -->
  </div>
</div>


<div class="container-fluid outros-acessorios">
  <div class="row margem-20">
    <div class="col-12">
      <p class="text-center"><strong>Você também pode precisar de:</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3"  ng-repeat="acessorio in acessorios |  limitTo:4">
     <div class="container produtos">
      <div class="col-md-12 col-lg-12" >
        <a href="" class="box-imagem-produto-2">
          <!-- <div class="box-promo">
           -{{acessorio.desconto}}
          </div> -->
          <img class="img-fluid" src="{{acessorio.imagem}}" alt="Acessorio">
       </a>
       <div class="box-descritivo-produto"><div class="box-descritivo-produto">
         <div class="nome-acessorio">
           <h2>{{acessorio.nome}}</h2>
         </div>
         <div class="descricao-produto">
           <!-- <h3>
              {{acessorio.descricao}}
           </h3> -->
         </div>
         <p><strong>R$ {{acessorio.valor}}</strong></p>
         <p>ou <span class="preco-itau">R$ {{acessorio.valor_itau}}</span></p>
         <div class="obs-preco-acessorio margem-produto">
           <p>
             para pagamentos com <br/><span class="logo-itaucard"><img src="/static/img/itaucard-logo.png" alt="Itaucard"></span>
           </p>
         </div>
         <p class="margem-produto"></p>
         <h3>
           <span class="badge badge-primary" ng-if="acessorio.exclusivo == '1'">Modelo exclusivo</span>
           <span class="badge badge-primary" ng-if="acessorio.exclusivo == '0'" style="visibility: hidden">MODELO NORMAL</span>
         </h3>
         <div class="container">
           <div class="row">
             <div class="col-8 offset-2">
               <button type="button" class="btn btn-block btn-primary">comprar</button>
             </div>
           </div>
         </div>
       </div>
  </div>
</div>
</div>

</div>
</div>
</div>
</div>
