<!-- inicio container -->
<div  ng-app="iBikeSite">
  <!-- preloader -->
  
<div class="container cadastro-geral" ng-controller="recuperarSenhaController">
    <form name="alterarSenhaForm" ng-submit="submeterRecuperarSenha(alterarSenhaForm.$valid)" >
  <!-- inicio alterar senha -->
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="row">
        <div class="container-cadastro-geral senha active">
          <a href="#"><h2>Preencha o campo abaixo. Você receberá um e-mail com as instruções para redefinir sua senha.</h2></a>
          <!-- inicio form -->

          <div class="form-group row margem-10">
            <label for="senha-input" class="col-3 offset-1 col-form-label">E-mail</label>
            <div class="col-7">
              <input class="form-control" type="email" placeholder="email@exemplo.com" value="" id="email-input" ng-model="formData.email" required>
            </div>
          </div>
          <div class="form-group row">
              <div class="col-7 offset-4">
                <button type="submit" class="btn btn-primary btn-block" >Confirmar</button>
              </div>
            </div>
          <!-- final form -->

        </div>
      </div>
    </div>
  </div>
  <!-- final alterar senha -->
</form>

<!-- Confirmation Dialog -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {{mensagem_modal}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
    <!-- End of Confirmation Dialog -->
</div>


</div>
<!-- final container -->
