<!-- inicio container -->
<div  ng-app="iBikeSite" ng-init="boxCadastro=false">
  <!-- preloader -->

  <div class="container resumo-do-pedido" ng-controller="resumoDoPedido as ctrl" >

    <!-- inicio breadcrumbs -->
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="Meus pedidos" ><strong>Carrinho</strong></li>
            <li class="breadcrumb-item" >resumo da compra</li>
            <li class="breadcrumb-item" >pagamento</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- final breadcrumbs -->

    <!-- inicio descritivo geral  -->
    <div class="row colunas no-gutters">
      <div class="col-12 enderecos" ng-show="divEnderecos">
        <div class="container-cadastro-geral add-endereco">
          <a href="#"><h2>Meus endereços</h2></a>

          <a href ng-click="divEnderecos=false" class="icon icon-fechar" style="position:absolute; right: 40px; top:0; font-size: 2em; color: #d9782d"></a>

          <div class="row margem-10 no-gutters">
            <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="row">
                <div class="col-12 box-endereco cadastro" ng-class="boxCadastro ? 'active' : '' ">
                    <h2>Cadastrar novo endereço</h2>
                    <form ng-model="newUser" name="signUpForm">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Um nome para o endereço novo</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="cartãoNome" ng-model="novoend.titulo" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Rua</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="cartãoNome" ng-model="novoend.rua" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Bairro</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="cartãoNome" ng-model="novoend.bairro" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Estado</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="cartãoNome" ng-model="novoend.estado" required>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">CEP</label>
                            <input type="text" class="form-control" id="cartaoNome" mask="99999-999" aria-describedby="" ng-model="novoend.CEP"  ng-keyup="checarCEP(novoend.CEP)" required>
                            <a href="#" style="text-decoration: underline; color: #d9782d; font-size: 12px; font-weight: normal;">Não sei meu cep</a>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Número</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="cartãoNome" ng-model="novoend.numero" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Cidade</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="cartãoNome" ng-model="novoend.cidade" required>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Complemento</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="cartãoNome" ng-model="novoend.complemento">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Observacoes</label>
                            <input type="text" class="form-control" id="cartaoNome" aria-describedby="cartãoNome" ng-model="novoend.observacoes">
                          </div>
                          <button class="btn btn-primary btn-block" ng-click="novoEndereco()">Cadastrar</button>
                        </div>
                      </div>

                    </form>
                    <div class="alert alert-primary" ng-show="error.cond" style="margin-top:10px;">
                      {{error.valor}}
                    </div>
                  </div>
                <div class="col-12 box-endereco enderecoitem" ng-repeat="endereco in enderecos" ng-click="alterarEndereco(endereco)">
                    <div class="row">
                      <div class="container">
                        <div class="row">
                          <div class="col-12">
                            <div class="container">
                              <div class="row">
                                <h2 class="nome-endereco col-9">{{endereco.titulo}}</h2>
                              </div>
                              <div class="row">
                                <div class="col-12 endereco">
                                  <p>{{endereco.rua + ", " + endereco.numero}}<br/>
                                     {{endereco.bairro + " - " + endereco.cidade}}<br/>
                                     {{endereco.estado + " - " + endereco.cep}}<br/></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


              </div>
            </div>


            <div class="box-add-endereco col-sm-2 col-md-4 col-lg-4" >
              <button type="button" name="button" class="btn-add-endereco" ng-class="boxCadastro ? 'active':''" ng-click="boxCadastro = true">
                <h3>+</h3>
                <p>Novo endereço</p>
              </button>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 coluna col-endereco">
        <div class="titulo">
          <h3>Endereço</h3>
        </div>
        <div class="conteudo">
          <p><strong>{{enderecoEscolhido.titulo}}</strong></p>
          <p>{{enderecoEscolhido.rua + ", " + enderecoEscolhido.numero}}<br/>
             {{enderecoEscolhido.bairro + " - " + enderecoEscolhido.cidade}}<br/>
             {{enderecoEscolhido.estado + " - " + enderecoEscolhido.cep}}<br/></p>
          <p><a href ng-click="divEnderecos=true">Outro endereço</a></p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 coluna pagamento">
        <div class="titulo">
            <h3>Forma de pagamento</h3>
        </div>
        <div class="conteudo">
          <form ng-model="newUser" name="signUpForm">

            <div class="form-group">
              <label for="exampleInputEmail1">Nome no cartão</label>
              <input type="text" class="form-control" id="cartaoNome" aria-describedby="cartãoNome" ng-model="newUser.nome" ng-change="funcCartao()"required>
            </div>
            <div class="form-group" ng-class="{error: mod10Error}">
              <label for="exampleInputPassword1">Número do cartão</label>
              <input id="creditCard" type="credit card" class="form-control" band="band" ng-model="newUser.card" maxlength="19" ng-change="funcCartao()" ng-required style="font-size:1em"  name="card"
                      ng-blur="mod10Error = !!signUpForm.card.$error.mod10" ng-focus="mod10Error = false" required/>
            </div>

            <div class="row">
              <div class="col-md-5 col-sm-12">
                <div class="form-group">
                  <label for="exampleInputPassword1">Validade</label>
                  <input  type="data" ng-model="newUser.data" ng-required  name="data" class="form-control"
                          ng-blur="lengthError = !!signUpForm.code.$error.minlength" ng-focus="lengthError = false" ng-change="funcCartao()"  required />
                </div>
              </div>
              <div class="col-md-7 col-sm-12">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Parcelas</label>
                    <select  class="form-control" id="exampleFormControlSelect1" ng-model="newUser.parcelas">
                      <option value="" disabled selected>Selecione</option>
                      <option value="">1</option>
                      <option value="visa">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                      <option value="">5</option>
                      <option value="">6</option>
                      <option value="">7</option>
                      <option value="">8</option>
                      <option value="">9</option>
                      <option value="">10</option>
                      <option value="">11</option>
                      <option value="">12</option>
                    </select>
                  </div>
              </div>
              <div class="col-md-7 col-sm-12">
                <div class="form-group">
                  <label for="exampleInputPassword1">Bandeira</label>
                  <select name="quarter" ng-model="newUser.band" ng-selected="bands" class="form-control"
                          ng-options="card.name for card in cards track by card.value" required>
                  </select>
                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <div class="form-group">
                  <label for="exampleInputPassword1">CVV</label>
                  <input  type="cvc" ng-model="newUser.code" ng-required  name="code" class="form-control"
                          ng-blur="lengthError = !!signUpForm.code.$error.minlength" ng-focus="lengthError = false" ng-change="funcCartao()" required/>
                </div>
              </div>
            </div>

            <div class="form-check">
              <label class="form-check-label">
                Salvar cartão para futuras compras?
                <input class="form-check-input" type="checkbox" value="" checked>
              </label>
            </div>
            <p class="check-salvar-cartao">Para efetuar o pagamento, não há necessidade de salvar seu cartão. Esta função apenas facilita suas próximas compras.</p>
            <div class="alert alert-primary" style="margin-top:10px" ng-show="errorCartao.cond">
              {{errorCartao.valor}}
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 coluna resumo">
        <div class="titulo">
            <h3>Resumo do pedido</h3>
        </div>
        <div class="conteudo">
          <div class="lista">
            <div class="item">
              <div class="img">
                <img src="static/img/bike.jpg" alt="" class="img-fluid">
              </div>
              <div class="descricao">
                <h4>
                  Bike Lorem
                </h4>
                <p>Vendido e entregue por iBike</br>Referência: 567789922</p>
              </div>
            </div>
            <div class="item">
              <div class="img">
                <img src="static/img/bike.jpg" alt="" class="img-fluid">
              </div>
              <div class="descricao">
                <h4>
                  Bike Lorem
                </h4>
                <p>Vendido e entregue por iBike</br>Referência: 567789922</p>
              </div>
            </div>
          </div>
          <div class="content valores" ng-class="newUser.card == cartaoItau ? 'active' : ''">
            <div class="row no-gutters ">
              <div class="col col-md-2 col-lg-3 legenda">
                <div class="head">

                </div>
                <div class="content">
                  <p>Subtotal</p>
                  <p>Desconto Itaucard</p>
                  <p>Outros descontos</p>
                  <p>Frete total</p>
                </div>
                <div class="foot">
                  <p>Total final</p>

                </div>
              </div>
              <div class="col itaucard" >
                <div class="head">
                  <div class="bloco">
                    <div class="alerta">
                      Parabéns!<br/>
                      Identificamos que você é cliente Itaucard
                    </div>
                    <img src="static/img/itaucard-logo.png" class="img-fluid" alt="Itaucard">
                  </div>
                </div>
                <div class="content">
                  <p>R$ 1.498,00</p>
                  <p class="desconto">- R$ 380,00</p>
                  <p>R$ 65,00</p>
                  <p>R$ 35,00<br/>Até 6 dias úteis</p>
                </div>
                <div class="foot">
                  <div class="total">
                    <p>R$ 1.183,00</p>
                  </div>
                  <a class="btn btn-primary btn-block" ng-hide="errorCartao.cond" ng-click="enviarDados()">
                    Finalizar compra
                  </a>
                  <div class="termos" style="margin-top:10px;">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" ng-model="termosOK" ng-click="funcCartao()" value="">
                      Concordo com os <a href ng-click="classTermos=true">termos de uso.</a>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col normal">
                <div class="head">
                  <div class="bloco">
                    <div class="alerta">
                      Identificamos que o seu cartão não é Itaucard. Este é o preço sem desconto
                    </div>
                    <div class="titulo">
                      <small>Para pagamentos</small><br/>com outros cartões
                    </div>
                  </div>

                </div>
                <div class="content">
                  <p>R$ 1.498,00</p>
                  <p class="desconto"> .</p>
                  <p>R$ 65,00</p>
                  <p>R$ 35,00<br/>Até 6 dias úteis</p>
                </div>
                <div class="foot">
                  <div class="total">
                    <p>R$ 1.183,00</p>
                  </div>
                  <a class="btn btn-primary btn-block" ng-hide="errorCartao.cond" ng-click="enviarDados()">
                    Finalizar compra
                  </a>
                  <div class="termos">
                    <label class="form-check-label" style="margin-top:10px">
                      <input class="form-check-input" type="checkbox" ng-model="termosOK" ng-click="funcCartao()" value="">
                      Concordo com os <a href ng-click="classTermos=true">termos de uso</a>.
                    </label>
                  </div>
                 </div>
              </div>
              <div class="col-12">
                <div class="alert alert-primary" ng-show="errorTermosOK">
                  Você precisa concordar com os termos de uso
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Modal termos-->
    <div class="modal-termos" ng-class="!classTermos ? '': 'active'">

      <div class="content">
        <md-icon md-font-icon="icon-fechar" aria-label="fechar"
           ng-click="classTermos=false" >
        </md-icon>
        <h1>Termos de uso</h1>
        <p>Lorem ipsum dolor sit amet, blandit referrentur ad pri, novum essent aliquam per an, ea eos tacimates pericula. Eros utamur ut pri, sed an rebum dicam splendide. Ad est dolores splendide argumentum, ius ponderum partiendo ei. Ea paulo nominati mea. Detraxit patrioque eu usu, his dicat dicant epicurei eu, sea erroribus deseruisse ne. Ea omnium nostrum duo, quo ne clita virtute.</p>
        <p>Quo ex dolore fabulas reprehendunt. Ei vidit temporibus deterruisset pri, movet libris labitur duo ut. Fugit adipisci pertinax ut eam. Ex dicta eirmod pri. Pri nisl cibo ea, ferri ludus sed at, cu error principes suscipiantur cum.</p>
        <p>Id nec tantas scripta impedit. No eam lorem dicat. Ea eos dico debitis oportere, cu legere invenire mel, ex dicam partem pri. In qui enim possit, per habeo virtute voluptatibus ex, sit ad dolorum propriae. No ius nemore facilisi, quem reprehendunt id eum.</p>
        <p>Harum facilisis gloriatur eu pro. Quot laudem doctus et qui, ne sumo fabellas maluisset duo. Usu ne esse liber mucius, lorem minimum instructior nec cu. Eum ne mazim electram tractatos.</p>
        <p>Sed possim utamur repudiandae ut. Augue aliquid sit id. Sea et facete iracundia, ea enim nihil vocent sit. Alia repudiare theophrastus eam in.</p>
        <p>Fugit dolorem consulatu ut eam. Te vis partem causae vocent, vivendum pericula sea at. Pro ad vitae dolorem repudiare, has movet abhorreant ut. No mei amet tation salutandi, in prompta postulant vix. Sed veri debitis ad, vim et vocent dolorem electram. Percipit platonem theophrastus mei no, cu pro debitis volumus voluptatum.</p>
        <p>Eu lucilius consequat vix, qui primis sensibus corrumpit in. Quo facilis salutatus et. Labore impetus ne mei. His at patrioque gubergren adolescens, fugit nullam nec ei. Usu cibo rationibus te, nec cu mutat petentium, mel fierent copiosae intellegam te. In sea feugiat ancillae perfecto, ea vis elitr impetus phaedrum.</p>
        <p>Ei cum nonumy mollis convenire, ad efficiendi inciderint vix. An has deterruisset reprehendunt, his in quot persius argumentum, an iudico postea eam. Tale vitae euripidis ex vis, eam ne quis atqui docendi. Ex epicurei ullamcorper interpretaris sed, duo ne tale alterum labores, oratio menandri te nec. Ne euismod corrumpit duo, melius probatus philosophia ei mea. Eu oblique nominavi est, ex eruditi mnesarchum pro, ut ius corpora dissentiet. Ei accumsan splendide tincidunt mea, eum inermis facilisis reprimique te.</p>
        <p>Ius nisl tota atomorum an, fierent mediocrem at pri, pri vidit justo et. Per dicam insolens cu, ei adipisci principes percipitur eam. Pri populo integre delenit ne, nibh maiorum concludaturque id ius. Mediocrem voluptatum intellegebat nam at. Dictas dignissim per ea, aeque homero in mei, timeam quaeque disputando ad per. Vis no enim conceptam, et dolor indoctum mel.</p>
        <p>Eu eros volumus quo. Viris consul te nec, ea qui audiam accusam. Docendi molestiae instructior mei an. Pro sanctus lobortis in, illud fierent scripserit ea sea, sit natum justo oporteat ne. An pri vivendo mentitum laboramus, dictas impetus ut ius. Has ei exerci constituto, qui id aperiam officiis pericula.</p>
      </div>
      <div class="bg-close" ng-click="classTermos=false">

      </div>
    </div>
    <!-- final descritivo geral  -->

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
          {{mensagem_modal}}
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

         </div>
       </div>
     </div>
    </div>
  </div>
  <!-- final container -->
</div>
