.acompanhamento-pedido{
  .row.banner-img-fluid{
    background-image: url('/static/img/banner-acompanhamento.jpg');
    height: 360px;
    background-position: bottom;
    margin-bottom: 45px;
  }
  .separador{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 20px;
  }
  .politica button{
    border: none;
    background: none;
    color: $primary;
    font-weight: 700;
    text-decoration: underline;
  }
  h3{
    color: $primary;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .bike-foto{
    h3{
      color: #6a6a6a;
      margin-bottom: 5px;
    }
    p{
      &:nth-child(2){
        font-size: 14px;
        margin-bottom: 40px;
      }
      &:nth-child(4){
        font-size: 13px;
        margin-top: 40px;
        font-weight: 700;
      }
    }
  }
  .box1{
    text-align: center;
    padding: 0 25px;
    .data{
      color: #D9772D;
      font-weight: 700;
      font-size: 14px;
    }
    .btn-block{
      background-color: #d3d1d1;
      border-color: #d3d1d1;
    }
    p{
      &:nth-child(1){
        font-weight: 700;
        margin-bottom: 0px;
      }
      &:nth-child(3){
        font-size: 14px;
        margin-bottom: -15px;
      }
      &:nth-child(4){
        font-size: 50px;
        margin-bottom: 0px;
        color: $primary;
      }
      &:nth-child(5){
        font-size: 14px;
        margin-top: -15px;
      }
      &:nth-child(6){
        font-size: 14px;
        margin-bottom: 0px;
        font-weight: 700;
      }
      &:nth-child(7){
        font-size: 14px;
        margin-bottom: 0px;
      }
      &:nth-child(8){
        font-size: 14px;
      }
    }
  }
  .box2{
    background-color: #F5F5F5;
    border: none;
    margin-top: 20px;
    padding: 15px 25px;
    text-align: center;
    p{
      &:nth-child(1){
        font-weight: 700;
        font-size: 17px;
        margin-bottom: 0px;
      }
      &:nth-child(2){
        font-size: 14px;
      }
    }
    label{
      margin-left: 35px;
    }
  }
  .box3{
    font-size: 10px;
    margin-top: 10px;
  }
}
