.geral-avaliacao{
  padding:50px;
  h2{
    color:$primary;
    text-align: center;
    font-weight: 700;
  }
  .bike-avaliada{
    text-align: center;
    margin-bottom: 20px;
    p{
      margin-bottom:0px;
      font-weight: 700;
      line-height: 100%;
    }
    span{
      font-size: .8em;
    }
  }
.container-avaliacao-btn{
  text-align: center;
  p{
    font-size: .8em;
    line-height: 100%;
    margin-top:5px;
    margin-bottom:5px;
    &:nth-child(2) {
      margin-left: 0px;
      margin-right: 0px;
      @media(max-width: 414px){
        margin-left: -10px;
        margin-right: -11px;
      }
    }
  }
  .btn-avaliacao{
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: transparent;
      border:   1px solid $primary;
      &:hover{
        background-color: $primary;
      }
      &:active{
        background-color: $primary;
      }
      &:focus{
        background-color: $primary;
      }
      &.active{
        background-color: $primary;
      }
    }
  }
  // .agradecimento .ng-hide{
  // transition: all 1s ease-in-out;
  // }
  // .conteudo-avaliacao .ng-hide{
  //   transition: all 1s ease-in-out;
  // }
  // .agradecimento, .conteudo-avaliacao{
  //   transition: all 1s ease-in-out;
  // }
}
