.carrinho-de-compra{
  padding: 0 50px;
  .alinhamento-vertical{
    padding-top: 4rem;
  }
  .alinhamento-vertical-2{
    padding-top: 1rem;
  }
  .alinhamento-vertical-col{
    padding-top: 1rem;
  }
  .table{
    td{
      border-left:1px solid #e9ecef;
      &:first-of-type{
        border-left:0px;
        }
      }
      th{
        text-align: center;
        border-top:1px solid #e9ecef;
        &:nth-child(1){
          border-top:0px;
        }
        &:nth-child(2){
          border-top:0px;
        }
        &:nth-child(3){
          border-top:0px;
        }
      }
    }
  span.logo-itaucard{
    img{
      width: 82px;
      margin-top: -12px;
    }
  }
  p{
  margin-bottom:0px;
  }
  .alinhamento-dados{
    text-align: center;

  }
  .total-valores{
    p{
      font-weight: 700;
    }
    span{
      font-size: 0.7em;
      font-weight: 400;
    }
  }
  .remover-produto-carrinho{
    a{
      position:relative;
      color:#6a6a6a;
      margin-left: 18px;
      padding-left:5px;
      &:before{
        content:'';
        background-image:url('/static/img/icon-lixeira.png');
        display:block;
        position:absolute;
        top:0;
        left:-20px;
        width:20px;
        height:20px;
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
      }
    }
  }
  .up{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin-top: -3px;
  }
  .down{
    margin-top: -3px;
  }
  .spinner {
  width: 45px;
  }
  .spinner input {
    text-align: right;
    border-radius: 7px!important;
  }

  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
  }
  .input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
    background-color:transparent;
  }
  .input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 0px;
  }
  .input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 0px;
  }
  .input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
  }
  .preco-mobile{
    display: none;
  }
  .linha-cep{
    font-size:.8em;
    p{
      padding-top:5px;
    }
    .box-nao-sei{
      text-align: center;
      a{
        font-size: 0.8em;
        font-weight: 700;
      }
      p{
        padding-top:0px;
      }
    }
    input{
      border-left: 0px;
      border-top: 0px;
      border-right: 0px;
      border-radius: 0px;
    }
  }
  .aplicar-desconto{
    margin-left: 10px;
  }
  .economia{
    color:#68ff39;
    font-weight: 700;
  }
  .aviso-carrinho-compra{
    p{
      font-size:.7em;
    }
  }
  .btn-voltar-compras{
    text-align: center;
    a{
      position:relative;
      color:#6a6a6a;
      padding-left:5px;
      font-size:0.7em;
      &:before{
        content:'';
        background-image:url('/static/img/arrow-laranja.png');
        display:block;
        position:absolute;
        top: 4px;
        left: -5px;
        width:8px;
        height:8px;
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
      }
    }
  }
}

@media (max-width: 991px) {
  .esconder-desktop{
    display:none;
  }
  .preco-mobile{
    display: block!important;
    span.logo-itaucard{
      img{
        width: 75px!important;
        margin-top: -8px;
      }
    }
  }
  .carrinho-de-compra{
    .alinhamento-vertical, .alinhamento-vertical-2, .alinhamento-vertical-col{
      padding-top: 0;
    }
    .table{
      td{
        border-left:0px solid #e9ecef;
        &:first-of-type{
          border-left:0px;
          }
        }
      }
    }
}
