.experimentar-internas{
  h2{
    margin-bottom: 10px;
    font-weight: 700;
    color:#585858;
  }
  p{
    color:#585858;
  }
  ul{
    padding-left: 15px;
    li{
      // list-style: none;
      color:#585858;
    }
  }
}
