.experimentar{
  margin-top: $headerh;
  .infos{
    font-weight: bold;
    span{
      color: $primary;
    }
    a{
      text-decoration: none;
    }
  }
  label{
    font-size: 0.9em;
  }
  .group{
    margin-bottom: 1rem;
    .form-check{
      margin-bottom: 0;
    }
  }

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/*pagina 2*/
.experimentar-internas{
  padding:50px;
  .nome-categoria{
    span{
      width:8px;
      height:23px;
      float:left;
      background-color:#d9782d;
    }
    p{
      color:#7d7d7d;
      font-weight:700;
      margin-left: 30px;
      margin-bottom: 0px;
    }
    .escolha-data{
      p{
        font-size:.8em;
        margin:0;
        margin-left: 30px;
        font-weight: 500;
      }
    }
  }
  .disclaimer-datas{
    p{
      font-size:.8em;
    }
  }
  .formulario-experimentar{
    font-size:.8em;
    .container{
      padding:0px;
    }
    p{
      color:#7d7d7d;
    }
    .form-check-label{
      font-size:1.2em;
      span{
        font-size:.8em;
      }
    }
  }
  .valor-frete{
    color:$primary;
    font-size:.8em;
    font-weight: 700;
    text-align: center;
    margin-top:3px;
  }
  .cep-btn{
    padding:0;
    color:$primary;
    border:0px;
    background: none;
    text-decoration: underline;
  }
  .carrinho-de-compra{
    padding:0px;
  }
  .btn-proximo{
    button{
      float: right;
      width: auto;
      color: #FCDA0F;
      font-weight: 700;
      margin-top: 50px;
      padding: 1px 35px;
    }
  }
}

@media (max-width: 576px) {
  .cep-btn{
    padding:4px!important;
    color:#fff!important;
    background: $primary;
    width:100%;
    font-weight: 700;
    border-radius:7px;
    margin-bottom: 20px;
  }
}

/*pagina 2*/
