.experimentar-internas{
  .carrinho-de-compra{
    padding:0px;
  }
}
.experimentar{
  margin-top: $headerh;
  .infos{
    font-weight: bold;
    line-height: 1em;
    p{
      margin-bottom: 40px;
    }
    span{
      color: $primary;
    }
    a{
      text-decoration: none;
    }
  }
  label{
    font-size: 0.9em;
  }
  .group{
    margin-bottom: 1rem;
    .form-check{
      margin-bottom: 0;
    }
  }

}
.bike-certa{
  @include media-breakpoint-only(xs) {
    .group{
      visibility: hidden;
      opacity: 0;
      height: 0;
      margin-bottom: 0 !important;

      -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
      -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
      -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
      -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
      transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity;
    }
    .group.active{
      visibility: visible;
      opacity: 1;
      height: auto;
      margin-bottom: 1rem !important;
    }
  }
}
.gridBikes{
  margin-top: 40px;
  position: relative;
  height: 600px;
  .ng-enter,
  .ng-leave {
      -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      position: relative;
      display: block;
  }

  .ng-leave.ng-leave-active,
  .ng-enter {
      -webkit-transform:  scale(0);
      -moz-transform:  scale(0);
      -ms-transform:  scale(0);
      -o-transform:  scale(0);
      transform:  scale(0);
      height: 0px;
      opacity: 0;
  }

  .ng-enter.ng-enter-active,
  .ng-leave {
      -webkit-transform:  scale(1);
      -moz-transform:  scale(1);
      -ms-transform:  scale(1);
      -o-transform:  scale(1);
      transform: scaleY(1);
      height: 30px;
      opacity: 1;
  }
  .item{
    -webkit-transition: 1s;
    transition: 1s;
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1); /* Standard syntax */
    width: 33.33333333332%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    border: 1px solid $gray-500;
    background: url('../img/bike.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: bold;
    background-color: white;
    a{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: $primary;
      cursor: pointer;
      -webkit-transition: 1s;
      transition: 1s;
    }
    .content{
      position: absolute;
      top: 20px;
      width: 100%;
      padding-left: 20px;
      -webkit-transition: 1s;
      transition: 1s;
      @include media-breakpoint-down(xs) { padding-left: 0; }
      &:before{
        -webkit-transition: 1s;
        transition: 1s;
        content: 'conheça a bike';
        padding-left: 20px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        font-weight: normal;
        @include media-breakpoint-down(xs) { padding-left: 0; }
      }
    }
    &:hover{
      .content{
        top: 40%;
        color: $body-bg;
        &:before{
          bottom: -20px;
          opacity: 1;
          color: $body-bg;
        }
      }

      a{
        opacity: 1;
      }
    }
    &.gh1{
      height: 480px;
      padding: 30px;
      @include media-breakpoint-down(xs) { padding-left: 11px; }
      @include media-breakpoint-only(xs) {
        width: 100%;
        height: 350px;
      }
    }
    &.gh2{
      height: 240px;
      left: 33.33333333332%;
      padding: 20px;
      @include media-breakpoint-down(xs) { padding-left: 5px; }
      background-position: center 20px;
      @include media-breakpoint-down(xs) { background-position: center; }
      @include media-breakpoint-down(md) { background-position: center; }
      @include media-breakpoint-only(xs) {
        width: 50%;
        top: 350px;
        left: 0;
      }
      &:nth-child(3) {
        top: 240px;
        @include media-breakpoint-only(xs) {
          top: 350px;
          left: 50%;
        }
      }
    }
    &.gh3{
      height: 160px ;
      padding: 10px;
      left: 33.33333333332% * 2;
      @include media-breakpoint-down(xs) { padding-left: 3px; }
      @include media-breakpoint-only(xs) {
        width: 33.33333333332%;
        top: 590px;
        left: 0;
        font-size: 10px;
        margin-bottom: 50px;
      }
      &:nth-child(5) {
        top: 160px;
        @include media-breakpoint-only(xs) {
          top: 590px;
          left: 33.33333333332%;
        }
      }
      &:nth-child(6) {
        top: 320px;
        @include media-breakpoint-only(xs) {
          top: 590px;
          left: 33.33333333332%*2;

        }

      }
    }
  }
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}

//content passos
.produtos-passos{
    background-color: #F5F5F5;
}
.content-passos{
  padding-top: 40px;
  margin-bottom: 40px;
  background-color: #F5F5F5;
  font-size: 0.9em;
  a{
    color: $primary !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  .border{
    height: 110px;
    width: 110px;
    border-radius: 60px;
    border: 1px solid #D9772D !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    position: relative;
    left: 50%;

    margin-left: -55px;
    margin-bottom: 7px;
    @include media-breakpoint-down(lg) {
      width: 96px;
      height: 99px;
      margin-left: -48px;
    }
    @include media-breakpoint-down(md) {
      width: 80px;
      height: 84px;
      margin-left: -40px;
    }
      .passos{
        padding: 25px 40px;
        font-size: 30px;
        height: 100px;
        margin: 4px;
        width: 100px;
        border-radius: 60px;
        background-color: transparent;
        border: 1px dotted #D9772D;
        @include media-breakpoint-down(lg) {
          width: 86px;
          height: 88px;
          padding: 18px 34px;
        }
        @include media-breakpoint-down(md) {
          width: 70px;
          height: 73px;
          padding: 14px 27px;
        }
      }
    }
    .col-sm-2{
      position: relative;
      p{
        // padding: 20px 15px;
        text-align: center;
      }
      &:first-child {
        .border{
          .passos{
            background-color: #D9772D;
            color: white;
          }
        }
      }
      @media(max-width: 414px){
        margin-right: 0px;
      }
    }
    .col-md-3{
      position: relative;
      p{
        padding: 40px 55px;
        padding-left: 0;
        @media(max-width: 414px){
          padding: 20px 20px;
        }
      }
      b{
        color: #D9772D;
      }
      hr{
        top: 0;
        position: absolute;
        width: 1px;
        height: 135px;
        right: 25px;
        background-color: gray;
        @include media-breakpoint-down(sm) {
          width: 0px;
        }
      }
      span{
        display: inline;
        @include media-breakpoint-down(sm){
          display: none;
        }
      }
    }
}

.experimentar2{
  .content-passos{
    .col-sm-2{
      &:nth-child(2) {
        .border{
          .passos{
            background-color: #D9772D;
            color: white;
          }
        }
      }
    }
  }
}

.experimentar3{
  .content-passos{
    .col-sm-2{
      &:nth-child(2) {
        .border{
          .passos{
            background-color: #D9772D;
            color: white;
          }
        }
      }
      &:nth-child(3) {
        .border{
          .passos{
            background-color: #D9772D;
            color: white;
          }
        }
      }
    }
  }
  .col-sm-12{
    text-align: center;
    margin-bottom: 35px;
    margin-top: 20px;
    h1{
      font-weight: 700;
    }
  }
  .lista{
    overflow-y: hidden !important;
    height: auto !important;
  }
  .item{
    border-bottom: none !important;
    p{
      &:nth-child(3){
        margin-bottom: 0px;
        span{
          font-weight: 700;
        }
      }
      &:nth-child(4){
        margin-bottom: 0px;
        span{
          font-weight: 700;
        }
      }
      &:nth-child(5){
        margin-bottom: 0px;
      }
    }
  }
  .descricao{
    .margem-5{
      margin-bottom: 5px;
    }
    .preco-itau{
      color: $primary;
      font-weight: 700;
      font-size: 18px;
    }
    p{
      &:nth-child(2){
        margin-bottom: 5px;
      }
    }
    .obs-preco{
      margin-top: 15px;
      p{
        color: $primary;
        font-size: 10px;
      }
      .logo-itaucard{
        img{
          width: 115px;
          margin-top: -20px;
        }
      }
    }
  }
  .carrinho-de-compra{
    .spinner{
      width: 35px;
      margin-top: 10px;
    }
  }
}

.pedalar{
  margin-left: -15px;
  margin-bottom: 40px;
  h1{
    font-weight: 700;
  }
}
.pagamento-mensagem{
  font-size: 14px;
  line-height: 20px;
}
.experimentar4{
  .content-passos{
    .col-sm-2{
      &:nth-child(2) {
        .border{
          .passos{
            background-color: #D9772D;
            color: white;
          }
        }
      }
      &:nth-child(3) {
        .border{
          .passos{
            background-color: #D9772D;
            color: white;
          }
        }
      }
      &:nth-child(4) {
        .border{
          .passos{
            background-color: #D9772D;
            color: white;
          }
        }
      }
    }
  }
}

//container banner principal
.content-experimentar.banner{
  position: relative;
  background-image: url('/static/img/banner-experimentar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  @include media-breakpoint-down(sm) {
    height: auto;
  }
  .banner-experimentar{
    padding: 61px 0px;
    position: relative;
    z-index: 2;
    color: $body-bg;
    p{
      color: $body-bg;
    }
    .banner1, .banner2{
      position: absolute;
      width: 500px;
      left: 50%;
      margin-left: -250px;
      top: 153px;
      @include media-breakpoint-down(md) {
        width: 400px;
        left: 56%;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .banner2{
      top: 300px;
    }
    .titulo{
      position: absolute;
      left: 156px;
      top: 173px;
      width: 135px;
      color: $primary;
      &.titulo2{
        top: 295px;
      }
      @include media-breakpoint-down(lg) {
        left: 80px;
      }
      @include media-breakpoint-down(md) {
        left: 0;
      }
      @include media-breakpoint-down(sm) {
        position: inherit;
        width: auto;
      }
    }
    .subtitulo,li{
      position: absolute;
      left: 298px;
      list-style: none;
      top: 231px;
      width: 100px;
      @include media-breakpoint-down(lg) {
        left: 205px;
      }
      @include media-breakpoint-down(md) {
        left: 125px;
        top: 219px;
      }
      @include media-breakpoint-down(sm) {
        position: inherit;
        width: auto;
        list-style: disc;
      }
      &.list2{
        left: 414px;
        @include media-breakpoint-down(lg) {
          left: 324px;
        }
        @include media-breakpoint-down(md) {
          left: 218px;
        }
      }
      &.list3, &.list4{
        left: 820px;
        top: 147px;
        width: 221px;
        @include media-breakpoint-down(lg) {
          left: 730px;
        }
        @include media-breakpoint-down(md) {
          left: 554px;
          top: 142px;
          line-height: 16px;
          width: 200px;
        }
        @include media-breakpoint-down(sm) {
          list-style: none;
          padding-left: 23px;
          line-height: 20px;
          width: 100%;
          &:before{
            content: '-';
            display: inline-block;
            margin-right: 8px;
          }
        }
      }
      &.list4{
        top: 212px;
        @include media-breakpoint-down(md) {
          top: 195px;
        }
      }
      &.list5{
        top: 353px;
      }
      &.list6{
        top: 297px;
        left: 820px;
        width: 221px;
        @include media-breakpoint-down(lg) {
          left: 730px;
        }
        @include media-breakpoint-down(md) {
          left: 556px;
          top: 291px;
          line-height: 16px;
          width: 200px;
        }
        @include media-breakpoint-down(sm) {
          width: auto;
          line-height: 22px;
          margin-bottom: 5px;
        }
      }
    }
    .subtitulo{
      left: 535px;
      color: $primary;
      @include media-breakpoint-down(lg) {
        left: 445px;
      }
      @include media-breakpoint-down(md) {
        left: 315px;
      }
      @include media-breakpoint-down(sm) {
        color: $body-bg;
        list-style: disc;
        display: list-item;
        margin-left: 16px;
        text-indent: 6px;
      }
    }


  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
}



.bike-certa-box1{
  margin-bottom: 30px;
  span{
    line-height: 20px;
    display: block;
  }
  p:nth-child(2){
    margin-bottom: 0px;
    margin-top: 35px;
  }
  p:nth-child(3){
    color: $primary;
  }
  a{
    text-decoration: underline !important;
    font-weight: normal;
  }
}

.md-calendar-date.md-calendar-date-disabled{
  font-weight: bold !important;
}
.md-calendar-date.md-calendar-date-today.md-calendar-date-disabled {
    color: rgba(253,126,20,1) !important;
}
