@import "variables";
.mainFooter{
  background-color: $gray-100;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid $body-color;

  a{
    color: $body-color !important;
    text-decoration: none !important;
    &:hover{
      color: $primary !important;
    }
  }
  h5{
    font-weight: bold;
    margin-top: 20px;
  }
  p{
    color: $body-color !important;
    margin: 0 !important;
    padding: 0 !important;
    a{
    }
  }

  .parceiros img{
    width: 100%;
  }
}
