.home{
  margin-top: -70px;

  .home-container-banner{
    position: relative;
    .itau-banner{
      position: absolute;
      bottom: 0;
      margin: 20px 55px;
      z-index: 2;
      img{
        width: 60%;
      }
    }
  }

.home-banner{
  height: 100vh;
  width: 100%;
  .carousel-control-prev, .carousel-control-next{
      opacity: 1 !important;
      text-decoration: none;
      span:before{
        font-size: 58px;
      }
      &:hover{
        color: $body-bg;
      }
  }
  .carousel-control-prev{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .carousel-indicators{
    bottom: 10px;
    li{
      height: 15px;
      width: 15px;
      border-radius: 10px;
      background-color: $body-bg;
      cursor: pointer;
      opacity: 0.7;
      &.active{
        opacity: 1;
      }
    }
  }
  .carousel-inner{
    height: 100vh;
    // fade trasition
        .carousel-item {
            transition-property: opacity;
            transition-duration: 1s;
        }

        .carousel-item,
        .active.carousel-item-left,
        .active.carousel-item-right {
            opacity: 0;
        }

        .active,
        .carousel-item-next.carousel-item-left,
        .carousel-item-prev.carousel-item-right {
            opacity: 1;
        }

        .carousel-item-next,
        .carousel-item-prev,
        .active.carousel-item-left,
        .active.carousel-item-right {
            left: 0;
            transform: translate3d(0, 0, 0);

        }
    .carousel-link{
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      cursor: pointer;
      z-index: 1;
    }
    .carousel-control {
        z-index: 2;
    }
    .carousel-item{
      height: 100vh;
      &.active{
        .content{
          right: 10%;
          opacity: 1;
          .btn{
            margin-top: 0;
            opacity: 1;
          }
        }
      }
      .content{
        -webkit-transition-property: all;
        -webkit-transition-duration: 1s;
        transition-property: all;
        transition-duration: 1s;
        width: 255px;
        position: absolute;
        right: 0;
        top: 30%;
        z-index: 2;
        opacity: 0;
        color: $body-bg;
        font-size: 1.7em;
        font-weight: bold;

        p{
          color: $body-bg;
          line-height: 1em;
          text-shadow: 0px 0px 2px black, 0 0 0px black, 0 0 0px black;
        }
        .btn{
          -webkit-transition-property: all;
          -webkit-transition-duration: 1s;
          transition-property: all;
          transition-duration: 1s;
          color: $body-bg;
          text-decoration: none;
          font-size: 0.7em;
          color: #FEDE00;
          font-weight: bold;
          width: 220px;
          margin-top: -20px;
          opacity: 0;
        }
      }
      div.img{
        height: 100vh;
        background-position: center;
        background-size: cover;

      }
    }
  }

  .banner-img-fluid{
    position: relative;
    background-image: url('/static/img/home-banner.jpg') !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .banner-experimentar{
    .col-sm-2{
      position: absolute;
      top: 55%;
      margin-top: -55px;
      p{
        font-weight: 700;
        font-size: 25px;
        line-height: 27px;
        text-shadow: 0px 0px 2px black, 0 0 0px black, 0 0 0px black;
      }
      a{
        text-decoration: none;
        font-weight: 700;
        color: #ffe100;
      }
    }
  }
  .itau-banner{
    position: absolute;
    bottom: 0;
    margin: 20px 55px;
    img{
      width: 60%;
    }
  }
}
.experimente-passos{
  margin-top: 60px !important;
  margin-bottom: 60px;
  .experimente-texto{
    font-size: 19px;
    line-height: 18px;
    p{
      padding: 0 !important;
    }
  }
}
.nossos-modelos{
  margin-top: 55px;
  margin-bottom: 55px;
  h2{
    padding-top: 10px;
  }
  .col-sm-6{
    font-size: 17px;
    font-weight: 700;
    p{
      padding: 0 !important;
    }
  }
}
.box-banner-1{
  // background-position: center;
  background-size: cover;
   background-position: top right;
  background-repeat: no-repeat;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  transition-property: all;
  transition-duration: 1s;

  .btn{
    width: 200px;
  }
  h3{
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
  }
  .box-link{
    position: absolute;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    transition-property: all;
    transition-duration: 1s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    opacity: 0;

  }
  &:hover{
    h3{
      color: $body-bg;
    }
    .box-link{
      opacity: 0.5;
    }
  }
}
.box-banner-2{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;

  .container{
    z-index: 2;
    position: relative;
    .carousel-bike-anjo{
      height: 55vh !important;
      width: 100%;

      .carousel-item{
        height: 55vh !important;
        width: 100%;

        .carousel-link{
          position: absolute;
          top: 0;
          left: 0;
          height: 55vh;
          width: 100%;
          cursor: pointer;
          z-index: 1;
          background-color: $black;
          opacity: 0.2;
          z-index: 1;
        }
        .img{
          background-position: center;
          background-size: cover;
          height: 55vh;
          width: 100%;
        }
        .content{
          width: 300px;
          position: absolute;
          top: 64px;
          left: 50%;
          margin-left: -150px;
          text-align: center;
          z-index: 2;
          h3,p{
            color: $body-bg;

          }
          h3{
            font-weight: bold;
          }
          p{
            margin-top: 20px;
            line-height: 1em;
          }
        }
      }
      .carousel-control-prev, .carousel-control-next{
          opacity: 1 !important;
          text-decoration: none;
          color: $primary !important;
          span:before{
            font-size: 40px;
          }
          &:hover{
            color: $body-bg;
          }
      }
      .carousel-control-prev{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      .carousel-indicators{
        bottom: 10px;
        /* Small devices (tablets, 768px and up) */
         @media (max-width: 767px) { bottom: 20px; }
        li{
          height: 15px;
          width: 15px;
          border-radius: 10px;
          background-color: $body-bg;
          cursor: pointer;
          opacity: 0.7;
          &.active{
            opacity: 1;
          }
        }
      }
    }
  }
}


.estilos{
  .box-block-home{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .content,h3{
      -webkit-transition-property: all;
      -webkit-transition-duration: 1s;
      transition-property: all;
      transition-duration: 1s;
    }
    .banner-link{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary;
      opacity: 0;
      -webkit-transition-property: all;
      -webkit-transition-duration: 1s;
      transition-property: all;
      transition-duration: 1s;
    }
    &.box-banner-4{
      .banner-link{
        background-color: #FEFEFF !important;
      }
    }
    &.box-banner-5{
      .banner-link{
        background-color: #0EF8F7 !important;
      }
    }
    &.box-banner-6{
      .banner-link{
        background-color: #C5C929 !important;
      }
    }
    .content{

    }
    &:hover{
      .banner-link{
        opacity: 0.5;
      }

      .content{
        margin-top: 120px;
        h3{
          border-color:$body-bg;
        }
      }
    }
  }

}

//content passos
.content-passos-home{
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  .margen-10{
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .borda-direita-laranja{
    border-right:1px solid $primary;
    padding-bottom: 40px;
  }
  .borda-direita-azul{
    border-right:1px solid #0006f3;
    padding-bottom: 20px;
  }
  .linha-experimentar{
    text-align: center;
    a{
      color:#ffe100;
      font-weight:700;
      text-decoration: none;
    }
  }
  .border{
    height: 110px;
    width: 110px;
    border-radius: 60px;
    border: 1px solid #D9772D !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
      .passos{
        padding: 25px 40px;
        font-size: 30px;
        height: 100px;
        margin: 4px;
        width: 100px;
        border-radius: 60px;
        background-color: transparent;
        border: 1px dotted #D9772D;
      }
    }
    .col-sm-2{
      p{
        padding: 20px 15px;
        text-align: center;
      }

      @media(max-width: 414px){
        margin-right: 0px;
      }
    }
    .col-sm-6{
      position: relative;
      p{
        padding: 40px 55px;
        @media(max-width: 414px){
          padding: 20px 20px;
        }
      }
      b{
        color: #D9772D;
      }
      hr{
        top: 0;
        position: absolute;
        width: 1px;
        height: 135px;
        right: 25px;
        background-color: gray;
        @media(max-width: 414px){
          width: 0px;
        }
      }
      span{
        display: inline;
        @media(max-width: 414px){
          display: none;
        }
      }
    }
}


.block-home{
  padding:0px;
  .box-block-home{
    width:100%;
    height:55vh;
    background-color:#ececec;
    // border-right:1px solid #fff; /*remover*/


    .block-1{
      h3{
        font-weight: 700;
      }
    }
    .block-2{
      text-align: center;
      h3{
        font-weight: 700;
        color: white;
      }
      p{
        color: white;
        line-height: 20px;
      }
    }
    .block-p-1{
      h3{
        font-weight: 700;
        color:#fff;
        border-left:1px solid $primary;
        padding-left:25px;
      }
    }
    .block-p-2{
      h3{
        font-weight: 700;
        color:#fff;
        border-left:1px solid #FEFEFF;
        padding-left:25px;
      }
    }
    .block-p-3{
      h3{
        font-weight: 700;
        color:#fff;
        border-left:1px solid #0EF8F7;
        padding-left:25px;
      }
    }
    .block-p-4{
      h3{
        font-weight: 700;
        color:#fff;
        border-left:1px solid #C5C929;
        padding-left:25px;
      }
    }
  }
  a{
    color:#ffe100;
    font-weight:700;
    text-decoration: none;
  }
}
.propaganda{
  padding-left: 0;
  margin-left: 0;
  top: 0;
  left: 0;
  position: relative;
  .text-center{
    @media(max-width: 768px){
      position: relative;
      z-index: 2;
      color: lightgray;
    }
  }
  .btn-block{
    position: relative;
    z-index: 2;
  }
  .mask{
    display: none;
    @media(max-width: 768px){
      margin-left: 0;
      display: block;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
}
.block-home-propaganda{

  background-repeat: no-repeat;
  background-position: right;
  padding: 0px;
  text-align: center;
  height: 55vh;
  padding-top: 45px;
  position: relative;
  .banner-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  h3{
    margin-top: 60px;
    font-weight: 700;
  }
  .btn-primary{
    background:transparent;
    border:1px solid $primary;
    color:$primary;
    font-weight: 700;
    text-decoration: none;
  }
}
.blog{
  margin-bottom: 40px;
  padding: 0;
  .lista{
    padding: 0;
    height: 500px;
    .carousel-blog{
      height: 500px;
      // fade trasition
      .carousel-inner {
            height: 500px;
            width: auto;
            > .carousel-item {
              width: auto;
              transition: 0.6s ease-in-out top;
              @media all and (transform-3d), (-webkit-transform-3d) {
                transition: 0.6s ease-in-out;
                &.carousel-item-next,
                &.carousel-item-active.right {
                  transform: translate3d(0, 100%, 0);
                  top: 0;
                }
                &.carousel-item-prev,
                &.active.carousel-item-left {
                  transform: translate3d(0, -100%, 0);
                  top: 0;
                }
                &.carousel-item-next.carousel-item-left,
                &.carousel-item-prev.carousel-item-right,
                &.active {
                  transform: translate3d(0, 0, 0);
                  top: 0;
                }
              }
            }
            > .active,
            > .carousel-item-next,
            > .carousel-item-prev {
              display: block;
            }
            > .active {
              top: 0;
            }
            > .carousel-item-next,
            > .carousel-item-prev {
              position: absolute;
              top: 0;
              width: 100%;
            }
            > .carousel-item-next {
              top: 100%;
            }
            > .carousel-item-prev {
              top: -100%;
            }
            > .carousel-item-next.carousel-item-left,
            > .carousel-item-prev.carousel-item-right {
              top: 0;
            }
            > .active.carousel-item-left {
              top: -100%;
            }
            > .active.carousel-item-right {
              top: 100%;
            }
          }
      .carousel-inner{
        height: 500px;
        .post{
          width: 100%;
          height: 250px;
          position: relative;
          .carousel-link{
            position: absolute;
            top: 0;
            left: 0;
            height: 250px;
            width: 100%;
            cursor: pointer;
            z-index: 3;
          }
          .content{
            position: absolute;
            bottom: 40px;
            left: 10%;
            width: 80%;
            color: white;
            line-height: 1em;
            z-index: 2;
            &:before{
              content: '';
              width: 65px;
              height: 5px;
              background-color: $primary;
              position: absolute;
              top: -20px;
              left: 0;
              display: block;
            }
            h3{
              font-weight: bold;

            }
            p{
              color: $body-bg;
              margin-top: 10px;
              margin-left: 10px;
              margin-bottom: 0;
            }
            a{
              margin-left: 10px;
            }
          }
          .img{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            height: 250px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &:before{
              content: '';
              background-image: url('/static/img/blog-hover.png');
              background-position: bottom center;
              background-size: cover;
              background-repeat: no-repeat;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              display: block;
            }
          }
        }
      }
      .carousel-control-prev{

      }
      .carousel-control-next, .carousel-control-prev {
    left: auto;
    width: 50px;
    &.up {
      top: 0;
      right: 0;
      bottom: 50%;
      width: 100%;
      height: 49px;
      color: white;
    font-size: 45px;
    opacity: 1;
      .icon-seta-lado{
        transform: rotate(270deg);
      }
    }
    &.down {
      right: 0;
      top: 100%;
      /* bottom: -50%; */
      margin-top: -50px;
      width: 100%;
      height: 49px;
      color: white;
          font-size: 45px;
          opacity: 1;
          .icon-seta-lado{
            transform: rotate(90deg);
          }
    }
    // Toggles
    .icon-seta-lado,
    .icon-seta-lado,
    .icon-seta-lado,
    .icon-seta-lado {
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
    }
    .icon-seta-lado,
    .icon-seta-lado{
      left: 50%;
      margin-left: -10px;
      top: 50%;
      margin-top: -10px;
    }
    .icon-seta-lado,
    .icon-seta-lado {
      left: 50%;
      margin-left: -10px;
      top: 50%;
      margin-top: -10px;
    }
    .icon-seta-lado,
    .icon-seta-lado {
      width: 20px;
      height: 20px;
      //margin-top: -10px;
      line-height: 1;
      font-family: serif;
    }
  }
    }

  }
  .destaque{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    .banner-link{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: pointer;
    }
    &:before{
      content: '';
      background-image: url('/static/img/blog-hover.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: block;
    }
    .content{
      position: absolute;
      bottom: 40px;
      left: 10%;
      width: 80%;
      color: white;
      line-height: 1em;
      z-index: 3;
      &:before{
        content: '';
        width: 65px;
        height: 5px;
        background-color: $primary;
        position: absolute;
        top: -20px;
        left: 0;
        display: block;
      }
      h3{
        font-weight: bold;

      }
      p{
        color: $body-bg;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 0;
      }
      a{
        margin-left: 10px;
      }
    }
  }
}
}
