@import "../bootstrap/mixins";
@import "../mixin";
// ==================
//       MENU NAV BAR

$headerh: 80px;

// === Toolbar
.menu-colapse-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  display: block;
  background-color: $gray-900;
  @include opacity(0);
  @include transition-property('opacity');
  @include transition-duration($componetsTimeAnimation);
  &.active{
    z-index: 9;
    @include opacity(0.8);
  }
  @include media-breakpoint-up(sm) {
    display: none;
  }
}
.header-toolbar{
  border-bottom: 1px solid $body-color;
  color: $body-color !important;
  background-color: $body-bg !important;
  width: 100%;
  position: absolute;
  z-index: 11;
  height: $headerh;
  top: 0;
  left: 0;
  .brand{
    min-width: 100px;
  }
  md-input-container{
    margin: 0 !important;
  }
  .header-inner{
    height: 100%;
  }

}
// === Copase

.btnHamb{
  display: block;

  $height: 30px;
  $widht: 30px;
  $lineH: 3px;
  width: $widht;
  height: $height;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: ($widht/2)*-1;
  @include media-breakpoint-up(sm) { display: none; }
  cursor: pointer;
  span{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: ($widht/2)*-1;
    margin-top: ($lineH/2)*-1;;
    width: $widht;
    height: $lineH;
    display: block;
    background-color: $primary;
    &:before{
      content: '';
      position: absolute;
      top: ($lineH + 3px)*-1;
      width: $widht;
      height: $lineH;
      background-color: $primary;
      @include transition-property('top, transform');
      @include transition-duration($componetsTimeAnimation);
    }
    &:after{
      content: '';
      position: absolute;
      top: $lineH + 3px;
      width: $widht;
      height: $lineH;
      background-color: $primary;
      @include transition-property('top, transform');
      @include transition-duration($componetsTimeAnimation);
    }
  }
  &.active{
    span{
      width: 0;
      &:before{
        transform: rotate(45deg);
        top: 4px;
      }
      &:after{
        transform: rotate(-45deg);
        top: 4px;
      }
    }
  }
}

.menu-colapse{
  position: absolute;
  @include media-breakpoint-up(sm) { display: none; }
  padding: 0;
  top: $headerh;
  left: 0;
  width: 100%;
  height: 0;
  background-color: $primary;
  text-align: center;
  z-index: 10;
  overflow: hidden;
  @include transition-property('height, padding');
  @include transition-duration($componetsTimeAnimation);
  @include media-breakpoint-up(sm) {
    display: none;
  }
  &.active{
    height: 250px;
    padding-top: 32px;
  }
  .busca{
    display: block;
    color: $body-bg !important;
    margin: 0 auto;
    .icon-lupa{
      color: $body-bg !important;
      font-size: 1.5em;
    }
    input, label{
      color: $body-bg !important;
    }
    input{
      border-bottom: 2px solid $body-bg !important;
      top: 0!important;
    }
    label{
      top: -7px!important;
    }
    .navBuscaGroup{
      margin-left: -66px;
      height: 37px;
    }
  }
  button,p{
    color: $body-bg !important;
    background-color: $primary;
  }
  ul{
        -webkit-padding-start: 0;
  }
  li{
    list-style: none
  }
}

// === nav Menu
.menu-bar{
  @include media-breakpoint-down(xs) { display: none; }
  position: relative;
  span.link-copy{
    width: 200px;
    height: 5px;
    background: $primary;
    display: block;
    position: absolute;
    bottom: 3px;
    @include transition-property('left, widht');
    @include transition-duration($componetsTimeAnimation);
    @include transition-timing-function(cubic-bezier(0.01, 0.29, 0.17, 1.18));
  }
}
.menu-item{
  cursor: pointer;
  button{
    &:hover, &:active, &:focus, &:not([disabled]):not(.disabled):active{
      background-color: transparent !important;
      border: 0 solid transparent !important;
      color: $body-color;
      // font-weight: bold;
    }
    &:active, &:focus{
      color: $primary;
    }
    border: 0 solid transparent !important;
    border-radius: 0;
    color: $body-color;
    &:before{
      background-color: $primary;
    }
  }
}




// === Busca
.busca{
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
}
.navBuscaGroup{
  display: inline-block;
  position: relative;
  min-width: 157px;
  height: 0;
  label{
    position: absolute;
    top: -16px;
    font-size: 0.6em;
    left: 0;
    width: 100%;
    z-index: 1;
    @include opacity(0);
    @include transition-property('top, transform');
    @include transition-duration($componetsTimeAnimation);
    @include transition-timing-function(cubic-bezier(0, 0.44, 0.24, 0.97));
  }
  input[type="text"]{
    position: absolute;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $primary;
    width: 0;
    color: $body-color;
    z-index: 2;
    top: -6px;
    left: 0;
    @include opacity(0);
    transition: width $componetsTimeAnimation cubic-bezier(0, 0.44, 0.24, 0.97);
    &:focus{
      outline: none;
    }
  }
  .icon-lupa{
    color:$primary;
    font-size: 1em;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -5px;
    z-index: 3;
    text-align: right;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    cursor: pointer;
    @include transition-property('top, left');
    @include transition-duration($componetsTimeAnimation);
    @include transition-timing-function(cubic-bezier(0, 0.44, 0.24, 0.97));
    &:focus{
      outline: none;
    }
  }
  &.active{
    input[type="text"]{
      width: 154px;
      @include opacity(1);
    }
    label{
      @include opacity(1);
    }
    .icon-lupa{

      left: -1.2em;
      margin-left: 0;
    }
  }
}

// === Login
.login-bar{
  p{
    float: left;
    margin-bottom: 0;
  }
  .icon-shopping-cart{
    color:$primary;
    font-size: 1.4em;
    float: right;
  }
  .userLogin{
    width: 124px;
  }
}
// === progressBar
md-progress-linear, md-progress-linear .md-container{
  height: 2px !important;
  opacity: 1;
  position: absolute;
  bottom: -1px;
  z-index: 2;
  left: 0;
  width: 100%;
  @include transition-property('opacity');
  @include transition-duration($componetsTimeAnimation);

  &.off{
    opacity: 0;
  }
}
