@import "../mixin";
@import "../bootstrap/mixins";
.obs-preco-acessorio{
  text-align: center;
  font-size: 0.7em;

  p{
    color: $primary;
  }
  img{
    width: 85px;
  }
}
.produtos{
  position: relative;
  .hoverClose{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background-color: $gray-900;
    z-index: -1;
    @include opacity(0);
    @include transition-property('opacity');
    @include transition-duration($componetsTimeAnimation);
    @include media-breakpoint-up(sm) {
    display: none;
    }
    &.active{
      z-index: 9;
      @include opacity(0.8);
    }
  }
  .sidebar {
    background-color: $gray-100;
    width: 0;
    overflow: hidden;
    border-right: 1px solid $gray-300;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    @include opacity(0);
    @include transition-property('width, opacity');
    @include transition-duration($componetsTimeAnimation);
    @include media-breakpoint-up(sm) {
      position: relative;
      height: auto;
    }
    &.active{
      width: 80%;
      @include opacity(1);
      @include media-breakpoint-up(sm) {
        width: 25%;
      }
    }

    .icon-fechar{
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
      color: $primary;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .wrap{
      padding-top: 40px;
      padding-left: 40px;
    }
    // font-size: $text-size;
    .filtros{
      h1,h2,h3,h4,h5{
        color: $primary;
      }
      a{
        color: $body-color;
        text-decoration: none;
      }
    }
    .categorias{
      h3,h4,h5,h6{
        font-weight: bold;
      }
    }
    .bloco{
      margin-bottom: 15px;
    }
  }
  .lista{
    padding-top: 40px;
  }
  h2{
    color:#484848;
  }
  .separador{
    width:100%;
    height:1px;
    border-bottom:1px solid #bebebe;
    margin-bottom:30px;
  }

  .borda-cinza-bottom{
    border-bottom:1px solid #bebebe;
    margin-bottom:30px;
  }

  .filtro{
    a{
      color:$body-color;
      text-decoration: none;
      font-weight: 700;
      position:relative;
      span{
        position: absolute;
        display: block;
        right: -20px;
        top: 0;
        width: 15px;
        height: 3px;
        background-color: $primary;
        &:before{
            content: '';
            position: absolute;
            display: block;
            left: 2.1px;
            top: 5px;
            width: 10px;
            height: 3px;
            background-color: $primary;
            @include transition-property('left');
            @include transition-duration($componetsTimeAnimation);
            @include transition-timing-function(cubic-bezier(.71,-0.81,.61,.94));
          }
          &:after{
              content: '';
              position: absolute;
              display: block;
              left: 4px;
              top: 10px;
              width: 5px;
              height: 3px;
              background-color: $primary;
              @include transition-property('left');
              @include transition-duration($componetsTimeAnimation);
              @include transition-timing-function(cubic-bezier(.71,-0.81,.61,.94));
            }
        }
        &.active{
          span{
            &:after{
              left: 0;
            }
            &:before{
              left: 0;
            }
          }
        }
    }
  }

  .ordenar{
    text-align: right;
    margin-right: 25px;
    position: relative;
    a{
      color:$body-color;
      text-decoration: none;
      font-weight: 700;
      position:relative;
      .icon-chevron-down{
        color: $primary;
        min-width: 7px;
        @include transition-property('transform');
        @include transition-duration($componetsTimeAnimation);
      }
    }
    .ordens{
      position: absolute;
      top: 25px;
      right: 0;
      width: auto;
      display: block;
      background-color: $body-bg;
      -webkit-padding-start: 0;
      border-bottom: 1px solid $body-color;
      z-index: 6;
      height: 0;
      @include opacity(0);
      @include transition-property('height');
      @include transition-duration($componetsTimeAnimation);
      li{
        list-style: none;
        padding: 10px;
        a{
          color: $primary;
          font-weight: normal;
        }
        &:hover{
          background-color: $gray-100;
        }
      }
    }
    &.active{
      .icon-chevron-down{
        color: $primary;
        min-width: 7px;
        transform: rotate(-180deg);
      }
      .ordens{
        height: auto;
        @include opacity(1);
      }
    }
  }
  .produto{
    margin-bottom: 40px;
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 60px;
  }
  .box-imagem-produto{
    padding:30px 40px;
    img{
      width:100%;
      // max-height: 167px;
    }
    .box-promo{
      background: #d9782d;
      padding: 8px;
      color: #fff;
      font-weight: 700;
      position: absolute;
      font-size: .6em;
      border-radius: 0px 0px 0px 8px;
      right: 0px;
      top: 0px;
    }
  }
  .box-imagem-produto-2{
    padding:5px 20px;
    img{
      width:100%;
    }
    .box-promo{
      background: #d9782d;
      padding: 8px;
      color: #fff;
      font-weight: 700;
      position: absolute;
      font-size: .6em;
      border-radius: 0px 0px 0px 8px;
      right: 0px;
      top: 0px;
    }
  }
  .box-descritivo-produto{
    text-align:center;
    .margem-produto{
      margin-top:5px;
    }
    h2{
      color:#cbcbcb;
      font-weight:700;
      font-size: 1.2em;
      margin-bottom: 0px;
    }
    h3{
      font-size: 0.8em;
      margin-bottom: 0px;
      // color: #5b5b5b;
      color: $primary;
      line-height: 100%;
    }
    p{
      margin-bottom: -5px;
      font-size: 1em;
      span.preco-itau{
        font-size: 1.2em;
        font-weight: 700;
        color:#d9782d;
      }
    }
    .nome-acessorio{
      h2{
        color: $primary;
        font-weight:700;
        font-size: 1.2em;
        margin-bottom: 0px;
      }
    }
    .descricao-produto{
        h3{
          padding-top: 5px;
          color:#484848;
          font-weight:400;
          font-size: .8em;
          margin-bottom: 10px;
          }
      }
    .badge{
      border-radius: 4px;
      padding: 8px;
      font-size: .6em;
      margin-top: 25px;
      margin-bottom: 20px;
    }
    .btn-primary {
    color: #fff;
    background-color: #d9782d;
    border-color: #d9782d;
    font-weight: 700;
    font-size: 1.3em;
    padding: 2px;
    }
    .btn-secondary{
      color:#d9782d;
      font-weight:700;
      font-size:1.3em;
      padding:2px;
      border:1px solid #bebebe;
    }
  }
  .nome-categoria{
    span{
      width:8px;
      height:23px;
      float:left;
      background-color:#d9782d;
    }
    p{
      color:#7d7d7d;
      font-weight:700;
      margin-left: 30px;
    }
  }
  .loop.active{
    .btn-primary{
      color:#ffe100;
      font-weight: 700;
      font-size: 0.6em;
    }
  }
  .box-experimentar{
    &.separador-direito{border-right:1px solid #b6b6b6;}
    a{
      width:100%;
      font-size:.5em;
      text-decoration: none;
      color:#5b5b5b;
      text-align: center;
    }
    .btn-primary{
      color:#ffe100;
      font-weight: 700;
      font-size: 0.85em;
    }
    p{
      color:#7d7d7d;
      line-height: 100%;
      font-size: .9em;
      margin-bottom: 10px;
      span.preco-itau{
        font-size: 1.3em;
        font-weight: 700;
        color:#d9782d;
      }
    }
    .margem-5{
        font-size: .7em;
    }
    .obs-preco{
      p{
      font-size:.7em;
      color:#d9782d;
      }
      span.logo-itaucard{
        width: 70px;
        margin-top: 10px;
        display: inline-block;
        img{
          width:100%;
          margin-top: -8px;
        }
      }
    }
    .saiba-mais{
      width:100%;
      text-align: center;
      a{
        // color:#7d7d7d;
        text-decoration: underline;
        color: $primary;
        text-align: center!important;
        font-weight: 700;
        font-size: .6em;
      }
    }
  }
  .box-comprar{
    &.separador-direito{border-right:1px solid #b6b6b6;}
    a{
      width:100%;
      font-size:.5em;
      text-decoration: none;
      color:#5b5b5b;
      text-align: center;
    }
    .btn-primary{
      background-color:#d3d1d1;
      border-color:#d3d1d1;
      color:#fff;
      font-weight: 700;
      font-size: 0.85em;
      &:hover{
        background-color:#a8a8a8;
      }
    }
    p{
      color:#7d7d7d;
      line-height: 100%;
      font-size:.9em;
      margin-bottom: 10px;
      span.preco-itau{
        font-size: 1.3em;
        font-weight: 700;
        color:#d9782d;
      }
    }
    .margem-5{
      font-size: .7em;
    }
    .obs-preco{
      p{
      font-size:.7em;
      color:#d9782d;
      }
      span.logo-itaucard{
        width: 70px;
        margin-top: 10px;
        display: inline-block;
        img{
          width:100%;
          margin-top: -8px;
        }
      }
    }
    .saiba-mais{
      width:100%;
      text-align: center;
      a{
        color:#7d7d7d;
        text-decoration: none;
        text-align: center!important;
        font-weight: 700;
        font-size: .6em;
      }
    }
  }
}

//imagem itaucard página catalogo-acessórios
.acessorios-itaucard{
  img{
    width: 90px;
    margin-top: -12px;
  }
}

.produtos-caracteristicas{
  padding-top:50px;
  .row{
    &:nth-child(2){
      margin-top: 15px;
      .align-middle{
        padding-top: 17px;
        @media(max-width: 414px){
          padding-top: 0;
        }
        @media(min-width: 992px) and (max-width: 1144px){
          padding-top: 0;
        }
      }
    }
    &:nth-child(3){
      margin-top: 15px;
      .align-middle{
        padding-top: 17px;
        @media(max-width: 414px){
          padding-top: 0;
        }
        @media(min-width: 992px) and (max-width: 1144px ){
          padding-top: 0;
        }
      }
    }
    &:nth-child(4){
      margin-top: 15px;
      .align-middle{
        padding-top: 17px;
        @media(max-width: 414px){
          padding-top: 0;
        }
        @media(min-width: 992px) and (max-width: 1144px ){
          padding-top: 0;
        }
      }
    }
    &:nth-child(5){
      margin-top: 15px;
      .align-middle{
        padding-top: 17px;
        @media(max-width: 414px){
          padding-top: 0;
        }
        @media(min-width: 992px) and (max-width: 1144px ){
          padding-top: 0;
        }
      }
    }
  }
  p{
    margin-top:0px;
  }
  #carouselProdutosIndicadores{
        height: 365px;
  }
  .itau-logo{
    width: 120px;
    vertical-align: baseline;
  }
  .pagamento-itau{
    color: $primary;
  }
  .carousel-inner{
    height: 380px;
    .carousel-item{
      height: 100%;
      div{
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

      }
    }
  }
}

.detalhes-depoimentos{
  padding:0px;
  .infos-1{
    min-height: 575px;
  }
}

.produto-detalhe{
  width:100%;
  z-index:999;
  position: relative;
  p{
    color:#fff;
  }
  .produto-texto-detalhe{
    width: 300px;
    color: $body-bg;
    position: absolute;
    top: 50%;
    margin-top: -86px;
    left: 50%;
    margin-left: -150px;
    h2{
      text-shadow: 0 0 10px rgba(0,0,0,.90);
    }
    a{
      font-size:1.5em;
      text-decoration: none;
      font-weight: 700;
    }
  }
  .produto-texto-detalhe-2{
    width: 300px;
    margin-top: 70%;
    color:$body-bg;
    position: absolute;
    top: 50%;
    margin-top: -86px;
    left: 50%;
    margin-left: -150px;
    h2{
      text-shadow: 0 0 10px rgba(0,0,0,.90);
    }
    a{
      font-size:1.5em;
      text-decoration: none;
      font-weight: 700;
      color:#fff;
    }
  }
}
.img-produto-detalhe{
  width:100%;
  background-image:url('/static/img/img-detalhe-produto.png');
  background-size:cover;
  background-repeat:no-repeat;
  height:575px;
  .overlay-img{
    width:100%;
    height:100%;
    position:absolute;
    z-index:90;
    background-color:rgba(0,0,0,.5);
  }
}
.img-produto-detalhe-2{
  width:100%;
  background-image:url('/static/img/img-banner-produto-2.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  min-height: 575px;
  .overlay-img{
    width:100%;
    height:100%;
    position:absolute;
    z-index:90;
    background-color:rgba(0,0,0,.5);
  }
}

.avaliacao{
  background-color:#f0f0f0;
  height: auto;
  overflow: hidden;
  .row:nth-child(3),.row:nth-child(4),.row:nth-child(5){
    margin-top: 0;
  }
  p{
    font-size: 0.8em;
    margin-bottom:0;
  }
  .box-avaliação{
    width:100%;
    height:15px;
    background-color:#d9d7d7;
    padding: 0px;
    .nota{
      width:70%;
      height:15px;
      background-color:#d9782d;
      margin:0px;
    }
  }
  .divisor-sombra{
    width:100%;
    height:8px;
    background-image:url('/static/img/box-sombra.png');
  }
  .rotate180{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
}

.box-comentarios-geral{
  width:100%;
  height: 243px;
  margin:0px auto;
  margin-bottom: 0px;
  padding:20px;
  overflow-y: scroll!important;
  .img-circular{
    border-radius:100%;
  }
  .nome-avaliador{
    text-align:center;
    margin-top:10px;
    line-height: 100%;
  }
  .box-coracao{
    width:20px;
    height:20px;
    float:left;
    margin-right:5px;
    img{
      width:100%;
    }
  }
  .data-avaliacao{
    margin-top:5px;
    font-size: 12px;
  }
  .borda-comentario{
    padding-bottom:10px;
    border-bottom:1px solid #cfcfcf;
    margin-bottom: 15px;
  }
  .comentarios-geral{
    margin-bottom:10px;
  }
}

.box-avaliar{
  text-align: center;
  a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
  }
  .box-botao-avaliar{
    width:100%;
    padding:3.5%;
  }
}

.ficha-tecnica{
  padding:25px;
  .table th, .table td {
    padding: .15rem;
    font-size:0.8em;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
  }
}

.box-tamanho-produto{
  margin-top:10px;
  .tamanho-produto{
    width:30px;
    margin-right:5px;
    float: left;
    .btn-primary{
      background-color:#fff;
      color:#000;
      border:1px solid #bebebe;
      border-radius: 4px;
      padding: 2px;
      &:hover{
        background-color:#d9782d;
        color:#fff;
      }
    }
  }
}
.box-cor-produto{
  margin-top:10px;
  width:30px;
  height:30px;
  float: left;
  margin-right: 5px;
  a{
    .box-cor{
      width:30px;
      height:30px;
      float:left;
      border-radius: 4px;
      &:hover{
        border:2px solid #c26c29;
      }
    }
    .cor-cinza{
      background-color:#353535;
    }
    .cor-azul{
      background-color:#3d2dd9;
    }
    .cor-laranja{
      background-color:#d9782d;
    }
  }
}

.banner-produto{
  width:100%;
  height:100vh;
  .chamada-produto{
    margin-top:30%;
  }
  .itau-logo{
    vertical-align: baseline;
  }
  p{
    color:#fff;

  }
  .btn-primary{
    background-color:transparent;
    border:1px solid #d9782d;
    color:#d9782d;
    &:hover{
      border:1px solid #fff;
      color:#fff;
    }
  }
}
.produto-img{
  background-image: url('/static/img/img-banner-produto.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }

  @media (max-width: 576px) {
    .nome-avaliador{
      text-align:left!important;
      margin-top: 22px!important;
      margin-left: 18px;
    }
    .imagem-nome{
      margin-bottom:15px;
    }
  }

  .outros-acessorios{
    padding-bottom: 80px;
  }

  .box-descritivo-geral{
    .row{
      border-bottom: 0px !important;
    }
  }

//imagem fixa o tamanho quando há filtro na página
.imagem-produto-filtro{
  img{
    max-height: 167px;
    @media(min-width: 414px) and (max-width: 767px){
      max-height: none;
    }
  }
}
