@import "../mixin";
@import "../bootstrap/mixins";
.resumo-do-pedido{
  margin-top: 40px;
  padding-bottom: 60px;
  .enderecos{
    // opacity: 0;
    // visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 2;
    @include transition-duration($componetsTimeAnimation);
    -webkit-transition-property: opacity;
    transition-property: opacity;
    &.active{
      opacity: 1;
      visibility: visible;
    }
    .enderecoitem{
      cursor: pointer;
      @include transition-duration($componetsTimeAnimation);
      -webkit-transition-property: background-color, color;
      transition-property: background-color, color;

      &:hover{
        background-color: $primary;

        p, h2{
          color: $body-bg;
        }
      }
      .coluna{

      }
    }
    .cadastro{
      padding: 20px 35px;
      transform: scaleY(0);
      opacity: 0;
      visibility: hidden;
      height: 0;
      display: none;
      @include transition-duration($componetsTimeAnimation);
      -webkit-transition-property: transform, opacity, height;
      transition-property: transform, opacity, height;
      &.active{
        display: block;
        visibility: visible;
        transform: scaleY(1);
        opacity: 1;
        height: auto;

      }
    }

  }
  .btn-add-endereco{
    visibility: visible ;
    &.active{
      visibility: hidden;
    }
  }
  .modal-termos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    .content{
      .icon-fechar{
        position: absolute;
        top: 0;
        right: 0;
        color: $primary;
        right: 30px;
        top: 30px;
        cursor: pointer;
      }
      background-color: $body-bg;
      width: 80%;
      height: 50%;
      margin: 10%;
      overflow: scroll;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      padding: 40px;
    }
    .bg-close{
      background-color: $gray-900;
      opacity: .5;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    &.active{
      visibility: visible;
    }
  }

  .titulo{
    h1,h2,h3,h4,h5{
      font-weight: bold;
    }
    padding-bottom: 20px;
  }
  .colunas{
    position: relative;
    .coluna{
      padding-top: 20px;
      &.col-endereco{
        .conteudo{
          @include media-breakpoint-down(md) {
            min-height: 200px !important;
          }
        }
      }

      &.pagamento{
        label{
          font-weight: bold;
        }
        .form-check{
          label{
            padding-left: 0;
          }
          .form-check-input{
            margin: 0;
            margin-left: 10px;
            position: relative;
          }
        }
      }
      .conteudo{
        border-top: 1px solid $gray-500;
        border-right: 1px solid $gray-500;
        padding: 20px;
        min-height: 682px;
        @include media-breakpoint-down(md) {
          font-size: 14px;
        }

      }
      &.resumo{
        .conteudo{
          padding: 0;
        }
        .item{
            min-height: 140px;
            @include media-breakpoint-up(xs) {   overflow: hidden; }
            border-bottom: 1px solid $gray-500;
        }
        .lista{
          overflow-y: scroll;
          padding: 30px;
          padding-top: 10px;
          height: 270px;
          border-bottom: 1px solid $gray-500;
          @include media-breakpoint-down(md) {
            font-size: 12px;
           }

          .img,.descricao{
            display: inline-block;
            float: left;
          }
          .img{
            @include media-breakpoint-down(xs) { width: 100%; }
            @include media-breakpoint-up(xs) { width: 40%; }
            @include media-breakpoint-only(md) { padding-top: 20px;}
          }
          .descricao{
            padding: 20px;
            @include media-breakpoint-down(xs) { width: 100%; }
            @include media-breakpoint-up(xs) { width: 60%; }
            h4{
              font-weight: bold;;
            }
            p{
              line-height: 18px;
            }
          }
        }
        .valores{
          font-size: 0.8em;
          padding: 25px;
          .head{
            height: 160px;
            position: relative;

          }
          .content{
            padding: 10px;
            padding-bottom: 0;
            border-top: 1px solid $gray-500;
            border-bottom: 1px solid $gray-500;
            height: 147px;
            p{
              margin-bottom: 10px;
              @include media-breakpoint-down(md) {
                margin-bottom: 15px;
               }

            }
          }
          .legenda{
            .content{
              font-weight: bold;
              p{
                @include media-breakpoint-down(md) {
                  margin-bottom: 4px;
                 }
                 @include media-breakpoint-down(sm) {
                   margin-bottom: 15px;
                  }
              }
            }
            .foot{
              font-weight: bold;
              padding: 10px;
            }
          }
          .normal{
            .head{
              position: relative;
              .bloco{
                position: absolute;
                bottom: 0;
                width: 100%;
                border-top: 1px solid $gray-500;
                border-left: 1px solid $gray-500;
                border-right: 1px solid $gray-500;
                text-align: center;
                @include transition-duration($componetsTimeAnimation);
                -webkit-transition-property: border-top,border-left, border-right;
                transition-property: border-top,border-left, border-right;
                .alerta{
                  @include transition-duration($componetsTimeAnimation);
                  -webkit-transition-property: opacity;
                  transition-property: opacity;
                  // visibility: hidden;
                  // opacity: 0;
                  width: 100%;
                  background-color: $gray-500;
                  color: $body-bg;
                  text-align: center;
                  font-weight: bold;
                  padding: 10px;
                }
              }
              .titulo{
                width: 100%;
                font-weight: bold;
                text-align: center;
                padding: 10px;
                font-size: 1.4em;
                line-height: 23px;
                @include media-breakpoint-down(md) {
                  font-size: 1em;
                 }

              }
            }
            .content{
              text-align: center;
              border-left: 1px solid $gray-500;
              border-right: 1px solid $gray-500;
            }
            .foot{
              padding-bootom: 10px;
              .total{
                text-align: center;
                font-weight: bold;
                padding: 10px;
                padding-bottom: 0;
                border-left: 1px solid $gray-500;
                border-right: 1px solid $gray-500;
                border-bottom: 1px solid $gray-500;
                width: 100%;
                @include transition-duration($componetsTimeAnimation);
                -webkit-transition-property:border-bottom, border-left, border-right;
                transition-property: border-bottom, border-left, border-right;
                @include media-breakpoint-down(md) {
                  padding-top: 13px;
                 }
                p{
                  color: #001BA2;
                  margin-bottom: 10px;
                }
              }
            }
            .btn{
              background-color: $gray-500 !important;
              border-color: $gray-500 !important;
              @include transition-duration($componetsTimeAnimation);
              -webkit-transition-property: transform, opacity;
              transition-property: transform, opacity;
              @include transition-timing-function(cubic-bezier(0.01, 0.29, 0.17, 1.18));
              -webkit-transform: translateY(0);
              transform: translateY(0);
              color: $body-bg;
              margin-top: 20px;
              padding: 10px;
              font-weight: bold;
              margin-bottom: 20px;
              cursor: pointer;
            }

          }
          .itaucard{
            .head{
              .bloco{
                position: absolute;
                bottom: 0;
                width: 100%;
                border-top: 0 solid $primary;
                border-left: 0 solid $primary;
                border-right: 0 solid $primary;
                text-align: center;
                @include transition-duration($componetsTimeAnimation);
                -webkit-transition-property: border-top,border-left, border-right;
                transition-property: border-top,border-left, border-right;
                .alerta{
                  @include transition-duration($componetsTimeAnimation);
                  -webkit-transition-property: opacity;
                  transition-property: opacity;
                  visibility: hidden;
                  opacity: 0;
                  width: 100%;
                  background-color: $primary;
                  color: $body-bg;
                  text-align: center;
                  font-weight: bold;
                  padding: 20px;
                  padding-top: 10px;
                  padding-bottom: 10px;
                }

                img{
                  display: inline-block;
                  width: 83px;
                  vertical-align: baseline;
                  @include media-breakpoint-down(md) {
                      width: 70px;
                   }
                }
              }
              .titulo{
                width: 100%;
                font-weight: bold;
                text-align: center;
                padding: 10px;
                font-size: 1.4em;
                line-height: 23px;
                @include media-breakpoint-down(md) {
                  font-size: 1em;
                 }
              }
            }
            .content{
              text-align: center;
              border-left: 0 solid $primary;
              border-right: 0 solid $primary;
              @include transition-duration($componetsTimeAnimation);
              -webkit-transition-property:border-left, border-right;
              transition-property: border-left, border-right;
              .desconto{
                color: #4EFF00;
              }
            }
            .foot{
              .total{
                text-align: center;
                font-weight: bold;
                padding: 10px;
                padding-bottom: 0;
                border-left: 0 solid $primary;
                border-right: 0 solid $primary;
                border-bottom: 0 solid $primary;
                width: 100%;
                @include transition-duration($componetsTimeAnimation);
                -webkit-transition-property:border-bottom, border-left, border-right;
                transition-property: border-bottom, border-left, border-right;
                @include media-breakpoint-down(md) {
                  padding-top: 13px;
                 }
                p{
                  color: #001BA2;
                  margin-bottom: 10px;
                }
              }
              .btn{
                @include transition-duration($componetsTimeAnimation);
                -webkit-transition-property: transform, opacity;
                transition-property: transform, opacity;
                @include transition-timing-function(cubic-bezier(0.01, 0.29, 0.17, 1.18));
                -webkit-transform: translateY(-25px);
                transform: translateY(-25px);
                visibility: hidden;
                opacity: 0;
                color: $body-bg;
                margin-top: 20px;
                padding: 10px;
                font-weight: bold;
                margin-bottom: 20px;
                cursor: pointer;
              }
              .termos{
                visibility: hidden;
              }
            }
          }
          &.active{
            .row{
              .normal{
                .head{
                  .bloco{
                    border-top: 0 solid $gray-500;
                    border-left: 0 solid $gray-500;
                    border-right: 0 solid $gray-500;
                    .alerta{
                      visibility: hidden;
                      opacity: 0;
                    }
                  }
                }
                .btn{
                  visibility: hidden;
                  -webkit-transform: translateY(-25px);
                  transform: translateY(-25px);
                }
                .termos{
                  visibility: hidden;
                }
                .content{
                  border-left: 0 solid $gray-500;
                  border-right: 0 solid $gray-500;
                }
                .foot{
                  .total{
                    border-left: 0 solid $gray-500;
                    border-right: 0 solid $gray-500;
                    border-bottom: 0 solid $gray-500;
                  }
                }
              }
              .itaucard{
                .head{
                  .bloco{
                    border-top: 1px solid $primary;
                    border-left: 1px solid $primary;
                    border-right: 1px solid $primary;
                    visibility: visible;
                    .alerta{
                      visibility: visible;
                      opacity: 1;
                    }
                  }
                }
                .content{
                  border-left: 1px solid $primary;
                  border-right: 1px solid $primary;
                }
                .foot{
                  .total{
                    border-left: 1px solid $primary;
                    border-right: 1px solid $primary;
                    border-bottom: 1px solid $primary;
                    p{
                      color: #001BA2;
                      margin-bottom: 10px;
                    }
                  }
                  .btn{
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                  }
                  .termos{
                    visibility: visible;
                  }
                }
              }
            }
          }
          // final valores
        }
      }
    }
  }
.check-salvar-cartao{
  font-size: 14px;
  line-height: 18px;
}
}
